/*****************************
Books Page | Student Panel Style Start
Sub Pages Style
*****************************/
.book-info-link img {object-fit: contain; width: 70px !important; height: 70px !important;}
.books-listing-holder .search-block {margin-bottom: 30px; }
.search-block .search-input .form-group {border: 1px solid #ddd; padding: 10px 20px 10px 15px; border-radius: 10px;}
.search-block .search-input .form-group .btn {background-color: var(--primary); height: 42px; padding: 0 40px; box-shadow: none; border-color: var(--primary); }
.search-block .search-input {border-radius: 15px; background-color: #DFE6EE; }
.search-block .search-input input[type=text] {height: auto; padding: 0.3rem 1rem 0.3rem 0.3rem; background-color: inherit;}
.search-block .icon-box img {filter: invert(16%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(87%) contrast(83%);}
.lms-library-slider {margin-top: -200px; padding-bottom: 70px;}
.lms-library-slider figure img {border-radius: 14px; max-width: 100%; transition: all .5s; width: 227px;}
.lms-library-slider figure:hover img{transform: scale(0.98); -webkit-transform: scale(0.98); -moz-transform: scale(0.98);}
.lms-library-slider .swiper-button-next,
.lms-library-slider .swiper-button-prev {color: rgba(0, 0, 0, 0.2);}
.lms-library-slider .swiper-button-next {right: 40px;}
.lms-library-slider .swiper-button-prev {left: 60px;}
.lms-library-slider .swiper-button-next:after,
.lms-library-slider .swiper-button-prev:after {font-size: 36px; font-weight: 700; opacity: 0; visibility: hidden; }
.book-library-sub-header {min-height: 530px; padding-top: 80px; align-items: flex-start; position: relative;}
.book-library-sub-header.pages-sub-header .lms-subtitle {color: #fff;}
.book-library-sub-header h1 {margin-bottom: 10px; color: #fff;}
.lms-reading-progress {padding: 0 0 70px;}
.progress-card {background-color: rgba(255,255,255,0.8); border: 2px solid var(--primary); border-radius: 8px; padding: 20px 30px; display: flex; align-items: flex-start; position: relative; max-width: 1000px; margin: 0 auto;}
.progress-card.has-shadow {box-shadow: 0 0 0 2px rgba(0,0,0,0.080) inset;}
.progress-card .icon-holder {width: 30px; height: 30px;}
.progress-card .text-holder {width: calc(100% - 30px); padding: 0 300px 0 30px; position: relative;}
.progress-card .btn-holder {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.progress-btn::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50% 50% 0 0; transform: translateY(100%) scaleY(0.5); transition: all 0.6s ease; z-index: -1; background-color: #fff !important; color: var(--primary);}
.progress-btn:hover::before,
.progress-btn:hover {color: var(--primary);}
.progress-btn:hover:before {border-radius: 0; transform: translateY(0) scaleY(1);}
.progress-btn {background-color: var(--primary); min-width: 225px; display: inline-flex; text-align: center; min-height: 60px; align-items: center; justify-content: center; border-radius: 8px; border: 1px solid rgba(0, 0, 0, 0.4); border-bottom-width: 5px; font-size: 18px; text-transform: uppercase; color: #fff; font-weight: 500; position: relative; transform: translate3d(0px, 0%, 0px); overflow: hidden; transition: background 0.4s linear;}
.progress-btn .icon-svg {display: flex; margin-right: 5px; margin-left: -10px;}
.progress-btn:hover .icon-svg svg{fill:var(--primary);}
.progress-btn .icon-svg svg{fill:#fff;}
.progress-card .text-holder h2,
.progress-card .text-holder h3,
.progress-card .text-holder h4 {text-transform: uppercase; font-weight: 700;}
.panel-content .books-listing-holder .row .row [class*="col-"]:last-child .listing-card {border: 0; padding: 0;}
.panel-content .lms-books-listing .listing-card .text-holder li:last-child {margin-bottom: 0;}
.book-form .tests-list li.active img,
.card-gateway-fields-holder .book-form .tests-list li.active img.google-icon {filter: invert(100%) sepia(1%) saturate(3424%) hue-rotate(181deg) brightness(110%) contrast(100%);}
.book-form .tests-list li.active img.google-icon {filter: none;}
.lms-books-reading h3 {color: var(--primary);}
.lms-books-reading .img-holder {margin-bottom: 25px;}
.lms-books-reading {padding: 0 0 70px; position: relative; }
.lms-books-reading:before {position: absolute; left: 0; top: 0; width: 100%; height: 702px; content: ""; background: url(../../default/img/bg-book-sec.png) no-repeat left top; opacity: .2; z-index: -1;}
.bg-none.lms-books-reading:before {display: none;}
.lms-books-reading figure {border-radius: 10px; overflow: hidden; position: relative;}
.lms-books-reading figure:before,
.lms-books-listing .listing-card figure:before,
.blog-grid-card .blog-grid-image:before{content: ""; position: absolute; top: -110%; left: -210%; width: 200%; height: 200%; z-index: 1; opacity: 0; background: rgba(255,255,255,0.13); background: linear-gradient(to right,rgba(255,255,255,0.13) 0%,rgba(255,255,255,0.13) 77%,rgba(255,255,255,0.5) 92%,rgba(255,255,255,0) 100%); -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; pointer-events: none;}
.lms-books-reading figure:hover:before,
.lms-books-listing .listing-card:hover figure:before,
.blog-grid-card:hover .blog-grid-image:before{ opacity: 1; top: -20%; left: -30%; transition-property: left, top, opacity; transition-duration: 0.7s, 0.7s, 0.15s; transition-timing-function: linear; }
.lms-books-reading figure img,
.lms-books-listing .listing-card figure img,
.blog-grid-card .blog-grid-image img{transition: all .5s; filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0);}
.lms-books-reading figure:hover img,
.lms-books-reading figure img {max-width: 100%; width: 100%; border-radius: 14px;}
.progress-card img {border-radius: 0; width: auto;}
.lms-search-books {background-color: #0a96e6;min-height: 220px;display: flex; justify-content: center;flex-direction: column;margin-top: 60px;}
.search-books {position: relative;}
.search-books .img-holder {position: absolute; top: -180px; right: 0;}
.search-books .img-holder img {width: auto;}
.search-books h3 { margin: 0 0 15px; color: var(--primary); text-transform: uppercase;}
.search-books ul {display: flex; align-items: center; margin: 0 -15px; padding: 0;}
.search-books a {color: #fff; font-size: 18px; text-transform: capitalize; }
.search-books ul li {padding: 0 15px;}
.lms-books-listing {padding: 70px 0 35px;}
.panel-content .lms-books-listing {background-color: inherit;}
.panel-content .lms-books-listing .listing-card {border-bottom: 1px solid #ddd; padding: 0 0 25px; margin-bottom: 20px; position: relative;}
.lms-books-listing .listing-card .img-holder {height: 100%;}
.lms-books-listing .listing-card figure {position: relative; overflow: hidden; border-radius: 5px; text-align: center; height: 100%;display: flex;align-items: center;}
.lms-books-listing .listing-card .img-holder img {border-radius: 5px; max-width: 100%; object-fit: contain; height: auto;}
.lms-books-listing .listing-card .text-holder li img {width: 20px; display: inline-block; vertical-align: bottom;}
.lms-books-listing .listing-card .text-holder {position: relative;}
.lms-books-listing .listing-card .text-holder ul { margin: 0; padding: 0;}
.lms-books-listing .listing-card .text-holder li {margin: 0 0 8px; color: #777777; font-weight: 500; /* font-size: 18px; */}
.lms-books-listing .listing-card .text-holder li span {color: #444; margin-right: 5px;}
.listing-card .btn-holder,
.book-percentage {position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
.book-percentage {background-color: #e7e8ea; color: #0a96e6; font-weight: 600; font-size: 30px; min-width: 146px; min-height: 84px; display: inline-flex; align-items: center; justify-content: center;}
.book-percentage span {color: #0a96e6; margin-top: 0; }
.lms-books-listing .listing-card:hover .remove-btn {color: #ff2626; margin-right: 10px;}
.book-library-sub-header .text-holder {display: inline-block; position: relative;}
.book-library-sub-header .ask-msg {position: absolute; right: -100%; top: 50%; transform: translateY(-50%);  background-color: #fff; width: 265px; text-align: center; padding: 30px; border-radius: 28px; border: 4px solid #afbbca; border-right-width: 2px; border-left-width: 2px; min-height: 115px; margin-top: -20px; margin-right: -20px;}
.book-library-sub-header .ask-msg:before {content: ""; width: 0px; height: 0px; position: absolute; border-right: 28px solid #afbbca; border-left: 10px solid transparent; border-top: 8px solid transparent; border-bottom: 8px solid transparent; left: -40px; top: 50%; transform: translateY(-50%); }
.book-library-sub-header .ask-msg:after {content: ""; width: 0px; height: 0px; position: absolute; border-right: 28px solid #fff; border-left: 4px solid transparent; border-top: 8px solid transparent; border-bottom: 8px solid transparent; left: -25px; top: 50%; transform: translateY(-50%); }
.book-library-sub-header .ask-msg span {color: var(--primary); font-weight: 700; line-height: normal; display: block; }
.listing-card .read-btn, .book-btn, .try-rurera-btn {color: var(--primary); font-weight: 600; font-size: 16px; border: 1px solid var(--primary); padding: 15px 25px; border-radius: 8px; border-bottom-width: 5px; background-color: #fff; display: inline-flex; align-items: center; min-width: 206px; vertical-align: middle; position: relative; transform: translate3d(0px, 0%, 0px); overflow: hidden; transition: background 0.4s linear; text-align: center;}
.listing-card .read-btn.bg-light-green{border-bottom-color: var(--light-green);}
.listing-card .read-btn.bg-light-green::before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50% 50% 0 0; transform: translateY(100%) scaleY(0.5); transition: all 0.6s ease; z-index: -1; background-color: #fff !important; color: var(--light-green);}
.listing-card .read-btn.bg-light-green:hover::before,
.listing-card .read-btn.bg-light-green:hover{color: var(--light-green);}
.listing-card .read-btn:before,
.book-btn:before,
.try-rurera-btn:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: var(--primary); border-radius: 50% 50% 0 0; transform: translateY(100%) scaleY(0.5); transition: all 0.6s ease; z-index:-1;}
.listing-card .read-btn:hover{color:#fff;background-color: var(--primary);border-color: rgba(0,0,0,0.4);}
.book-btn:hover{color:#fff;}
.listing-card .read-btn:hover:before,
.book-btn:hover:before,
.try-rurera-btn:hover:before {border-radius: 0; transform: translateY(0) scaleY(1);}
.listing-card .read-btn:hover .btn-icon svg g {fill:#fff;}
.listing-card .read-btn .btn-icon {display: inline-block; width: 22px; height: 18px; line-height: normal; margin-right: 12px; margin-top: 0;}
.listing-card .read-btn .btn-icon svg,
.listing-card .read-btn .btn-icon img {filter: invert(38%) sepia(46%) saturate(4811%) hue-rotate(224deg) brightness(105%) contrast(98%); max-width: 100%;}
.listing-card .read-btn .btn-icon svg g {fill: var(--primary);}
.listing-card .read-btn.continue,
.book-btn.bg-primary, .try-rurera-btn {color: #fff; border-color: rgba(0,0,0,0.4); background-color: var(--primary);}
.listing-card .read-btn.continue:hover::before, .listing-card .read-btn.continue:hover{color: var(--primary);}
.listing-card .read-btn.continue:hover .btn-icon svg g{fill:#fff;}
.listing-card .read-btn.continue::before{background-color: #fff;}
.listing-card .read-btn.continue .btn-icon svg g{fill: #fff;}
.listing-card .read-btn.continue .btn-icon {display: none;}
.listing-card .read-btn.read-again {background-color: #7e9500; color: #fff;}
.listing-card .read-btn.read-again svg g {fill: #fff;}
.listing-card .remove-btn {font-size: 18px; color: #ffbfbf; font-weight: 600; display: inline-block; vertical-align: middle; margin-right: 15px; position: absolute; left: -100px; top: 50%; transform: translateY(-50%);}
@media screen and (max-width: 767px) {
    .progress-card {max-width: 100%;padding: 15px;flex-direction: column;}
    .progress-card .text-holder {padding: 15px 0 0;width: 100%;}
    .progress-card .btn-holder {position: initial;transform: none;margin-top: 15px;}
    .lms-library-slider .swiper-container {max-width: 100%;}
    .book-library-sub-header .ask-msg {display: none;}
    .lms-books-listing .listing-card .img-holder img {box-shadow: none;}
}

/*Books Sound Card Style Start*/
.sound-card {background-color: #e7f5fe; box-shadow: 0 0 0 2px #fff inset; position: relative;}
.selective-sound {position: absolute; top: -15px; left: 50%; transform: translateX(-50%); background-color: #fff; box-shadow: 1px 1px 0 2px #333; padding: 3px 10px; line-height: normal; display: block;}
.sound-box {display: flex; align-items: center; gap: 10px; margin-bottom: 20px;}
.sound-box img {margin: 0; width: 20px; height: 20px; filter: invert(33%) sepia(80%) saturate(1010%) hue-rotate(172deg) brightness(92%) contrast(103%);}
.sound-box .icon-box {height: 35px; width: 35px; border: 2px solid var(--secondary); border-radius: 100%; display: inline-flex; align-items: center; justify-content: center;}
.sound-list h5 {margin-bottom: 15px;}
.sound-list ol {display: flex; flex-direction: column; gap: 10px; padding-left: 30px;}
.sound-list ol li {list-style: decimal;}
.sound-list {margin-bottom: 25px;}
.sound-card .close {position: absolute; right: -12px; top: -30px;}
/*Books Sound Card Style End*/

/*****************************
Books Page | Student Panel Style End
*****************************/
