/******************************
Games Page | Student Panel Style Start
Sub Pages Style
*******************************/
.game-card img {max-width: 100%; max-height: 190px; object-fit: cover;}
.game-card {background-color: #f5f5f5; border: 1px solid #ddd; border-radius: 10px; padding: 15px 15px 25px; margin-bottom: 30px;}
.game-card .icon-box {border: 1px solid #ddd; border-radius: 5px; margin-bottom: 10px; display: block; overflow: hidden;}
.game-banner img {border-radius: 5px; max-width: 100%;}
/******************************
 Games Page | Student Panel Style End
*******************************/