
/********************
Learn Page | Student Panel Style Start
Sub Pages Style
***********************/

.learning-start {background: url(/assets/default/img/learning-bg.png) no-repeat #f6fcff bottom; border: 1px solid var(--primary); background-size: contain; border-top-width: 9px; border-radius: 10px; padding: 50px 60px 0; text-align: center; overflow: hidden;}
.learning-start .learning-icon {display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 20px;}
.learning-start .learning-text {margin: 0 0 45px;}
.learning-start .learning-text p {color: #8f9297; margin: 0 0 30px; }
.learning-text .get-btn {background-color: #ebf8ff; border: 1px solid var(--primary); border-radius: 4px; font-size: 1.25rem; height: 50px; display: inline-block; position: relative; text-align: center; min-width: 215px; margin-bottom: 10px;}
.btn-animate-left{position: absolute; left: -20px; top: -10px; width: 40px; }
.btn-animate-right {position: absolute; right: -20px; bottom: -30px; width: 40px; }
.shadow-sm img {width: 24px; height: 24px; }
.shadow-lg img {height: 32px; width: 32px;}
.get-btn .shadow-lg {display: flex; justify-content: center;}
.get-btn .shadow-sm {display: inline-flex; align-items: center; justify-content: center;}
.get-btn [class*="shadow-"] {box-shadow: none !important;}
.learning-text .get-btn .btn-text img {margin-right: 5px;filter: invert(27%) sepia(72%) saturate(4760%) hue-rotate(187deg) brightness(92%) contrast(98%);}
.learn-option {color: #4d5259; font-weight: 500;}
.learn-option .learn-book-btn {color: #3182ce; border-bottom: 1px solid #3182ce; line-height: normal; display: inline-block;}
.learning-table-holder {background-color: #fff; border: 1px solid var(--primary); border-bottom: 0; border-top-width: 9px; border-radius: 10px 10px 0 0; position: relative;}
.learning-table-holder:before,
.learning-table-holder:after{background-color: #fff; border-top: 9px solid var(--primary); border-right: 1px solid var(--primary); border-radius: 0 10px 0 0; box-shadow: 6px -6px 0 6px inset #eff3ff; content: ""; position: absolute; right: -26px; top: 10px; height: 100%; width: 25px;}
.learning-table-holder:after {right: -51px; top: 25px; }
.learning-table {padding: 30px 12px 0; height: 150px; overflow: hidden; overflow-y: auto; }
.learning-table th {color: #d5d5d5; font-size: 17px; font-weight: 500; padding: 0 10px 10px; line-height: normal; text-align: left; }
.learning-table td {color: var(--primary-border); font-weight: 500; padding: 10px; line-height: normal; text-align: left; }
.shadow-animate {animation: twinkle 8s infinite;}
@keyframes twinkle {
    0%, 100% {
        opacity: 0;
        transform: translateX(0);
    }
    17% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(-30%);
    }
    57% {
        opacity: 0;
    }
    84% {
        opacity: 1;
    }
}
/* Learning New Style Start */
.learning-start {background: url(/assets/default/img/learning-bg.png) no-repeat #f6fcff bottom; border: 1px solid var(--primary); background-size: contain; border-top-width: 9px; border-radius: 10px; padding: 50px 60px 0; text-align: center; overflow: hidden;}
.learning-start .learning-icon {display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 20px;}
.learning-start .learning-text {margin: 0 0 45px;}
.learning-start .learning-text p {color: #8f9297; margin: 0 0 30px; }
.learning-text .get-btn {background-color: #ebf8ff; border: 1px solid var(--primary); border-radius: 4px; font-size: 1.25rem; height: 50px; display: inline-block; position: relative; text-align: center; min-width: 215px; margin-bottom: 10px;}
.btn-animate-left{position: absolute; left: -20px; top: -10px; width: 40px; }
.btn-animate-right {position: absolute; right: -20px; bottom: -30px; width: 40px; }
.shadow-sm img {width: 24px; height: 24px; }
.shadow-lg img {height: 32px; width: 32px;}
.get-btn .shadow-lg {display: flex; justify-content: center;}
.get-btn .shadow-sm {display: inline-flex; align-items: center; justify-content: center;}
.get-btn [class*="shadow-"] {box-shadow: none !important;}
.learning-text .get-btn .btn-text img {margin-right: 5px;filter: invert(27%) sepia(72%) saturate(4760%) hue-rotate(187deg) brightness(92%) contrast(98%);}
.learn-option {color: #4d5259; font-weight: 500;}
.learn-option .learn-book-btn {color: #3182ce; border-bottom: 1px solid #3182ce; line-height: normal; display: inline-block;}
.learning-table-holder {background-color: #fff; border: 1px solid var(--primary); border-bottom: 0; border-top-width: 9px; border-radius: 10px 10px 0 0; position: relative;}
.learning-table-holder:before,
.learning-table-holder:after{background-color: #fff; border-top: 9px solid var(--primary); border-right: 1px solid var(--primary); border-radius: 0 10px 0 0; box-shadow: 6px -6px 0 6px inset #eff3ff; content: ""; position: absolute; right: -26px; top: 10px; height: 100%; width: 25px;}
.learning-table-holder:after {right: -51px; top: 25px; }
.learning-table {padding: 30px 12px 0; height: 150px; overflow: hidden; overflow-y: auto; }
.learning-table th {color: #d5d5d5; font-size: 17px; font-weight: 500; padding: 0 10px 10px; line-height: normal; text-align: left; }
.learning-table td {color: var(--primary-border); font-weight: 500; padding: 10px; line-height: normal; text-align: left; }
.shadow-animate {animation: twinkle 8s infinite;}
@keyframes twinkle {
    0%, 100% {
        opacity: 0;
        transform: translateX(0);
    }
    17% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(-30%);
    }
    57% {
        opacity: 0;
    }
    84% {
        opacity: 1;
    }
}
.learning-page {position: relative;}
.learning-page .close {position: absolute; right: 10px; top: 15px; z-index: 1;}
.learning-page.type-vocabulary:has(.spells-quiz-sound) .word-cloud-box {margin: -25px auto 35px;}
/* Learning New Style End */
/* Question Inactivity Modal Style Start */
.modal.question_inactivity_modal {padding-left: 0 !important;}
.question_inactivity_modal .modal-dialog,
.quiz-activity-pause .modal-dialog {margin-left: auto; margin-right: auto; max-width: 450px;}
.question_inactivity_modal .modal-content {border-radius: 0;}
.question_inactivity_modal .close {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
    opacity: 1;
}
.question_inactivity_modal .modal-content .continue-btn,
.question_inactivity_modal .modal-content .leavenow-btn,
.inactivity-controls .continue-btn,
.inactivity-controls .rurera-delete-btn {background-color: var(--primary); color: #fff; padding: 8px 10px; display: inline-block; border-radius: 3px; text-align: center;}
.rurera-confirm-delete .inactivity-controls .continue-btn {min-width: 100px; margin-right: 10px;}
.question_inactivity_modal .modal-content .leavenow-btn {margin-bottom: 10px;}
.inactivity-controls .rurera-delete-btn {background-color: #fb5757; min-width: 100px;}
.question_inactivity_modal .modal-content p {color: #333;}
.question_inactivity_modal .inactivity-timer {height: 30px; width: 30px; display: inline-block; line-height: 30px; border-radius: 100%; background-color: var(--primary); color: #fff; text-align: center;}
.question_inactivity_modal .modal-title h3 {margin-bottom: 10px; }
.question_inactivity_modal .modal-title {margin-bottom: 15px;}
.question_inactivity_modal .modal-body,
.quiz-activity-pause .modal-body {padding: 30px 30px 25px;}
.question_inactivity_modal .modal-body .modal-box,
.quiz-activity-pause .modal-body .modal-box {position: relative; z-index: 1;}
.question_inactivity_modal .modal-body:after,
.quiz-activity-pause .modal-body:after {position: absolute; right: 0; top: 15px; content: ""; height: 75px; width: 105px; background: url(/assets/default/img/bg-modal-clock.png); background-repeat: no-repeat; pointer-events: none;}
.inactivity-controls .review-btn {min-height: auto;}
/* Question Inactivity Modal Style End */
/* sorting-filter on Learn page Subjects style */
.sorting-filter {display: inline-flex; align-items: center; flex-wrap: wrap; gap: 15px; float: right;}
.sorting-filter a img {height: 20px; width: 20px; border-radius: 0; filter: invert(90%) sepia(8%) saturate(76%) hue-rotate(8deg) brightness(86%) contrast(85%);}
.sorting-filter a.active img {filter: invert(44%) sepia(42%) saturate(6111%) hue-rotate(221deg) brightness(100%) contrast(98%);}
/* sorting-filter on Learn page Subjects style */

/* sidebar-nav on Learn page Subjects style */
.sidebar-nav {margin-bottom: 20px;}
.sidebar-nav ul {margin: 0; padding: 0; display: flex; align-items: center; flex-wrap: wrap;overflow: hidden;}
.sidebar-nav ul li {line-height: normal; margin: 0;}
.sidebar-nav ul li a {font-size: 15px; font-weight: 600; color: var(--primary); padding: 0 25px 12px 0; display: block; transition: all 0.3s ease-in-out; position: relative;}
.sidebar-nav ul li a:hover {color: #333;}
.sidebar-nav ul li a:before {background-color: #ccc; border-radius: 100%; position: absolute; left: -15px; top: 50%; content: ""; height: 6px; width: 6px; margin-top: -9px;}
/* sidebar-nav on Learn page Subjects style end */

/* Categories Boxes Style Start */
.container-fluid .col-12 .post-show {overflow: visible !important;}
.container-fluid .container,
.container .container {padding: 0;}
.categories-wrapp {background: #f0f1f3; padding: 90px 0 60px 0;}
.categories-boxes .categories-card {position: relative; overflow: hidden; text-align: center; border-radius: 10px; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1); transition: all 0.3s ease-in-out; margin-bottom: 30px;}
.categories-card.active,
.categories-card:hover {box-shadow: 0 4px 0px 2px #D3D3D3; transform: scaleX(1.1);}
.categories-card.active .categories-icon,
.categories-card:hover .categories-icon {background-color: #4986d9;}
.categories-boxes .categories-icon {padding: 35px 35px; background: var(--primary); color: #fff; border-radius: 10px 10px 0 0; transition: all 0.3s ease-in-out; display: flex; align-items: center; justify-content: center; min-height: 126px;}
.categories-boxes .categories-icon img{width: 100%; position: absolute; left: 50%; top: 50%; height: 100%; -o-object-fit: contain; object-fit: contain; transform: translate(-50%, -50%);}
.categories-boxes .categories-icon {position: relative; }
.categories-boxes .categories-icon svg {width: 64px; height: 56px;}
.categories-boxes .categories-icon path {stroke: #fff;}
.categories-boxes .categories-icon g,
.categories-boxes .categories-icon svg.icon path{fill: #fff;}
.categories-boxes .categories-title {padding: 20px 10px; font-size: 14px; text-transform: capitalize; color: var(--primary);}
.categories-wrapp.bg-none {background-color: inherit;}
.categories-card .topic-numbers {position: absolute; left: 8px; top: 8px; background-color: #b5b0f3; font-size: 10px; padding: 2px 5px; display: inline-block; border-radius: 0 6px; color: #fff; z-index: 1;}
.categories-element-title {margin: 0 0 30px;}
.categories-element-title h2,
.post-show .categories-element-title h2 {overflow: hidden;}
.categories-element-title p {margin: 5px 0 0; color: #000; }
.categories-element-title span {position: relative; display: inline-block; padding-right: 20px; margin-top: 0; color: #000;}
.subjects-heading {margin: 0 0 35px;}
.categories-card.medium {display: flex; flex-wrap: wrap; border-bottom: 1px solid #ddd; box-shadow: none; border-radius: 0; align-items: center; padding:20px; margin: 0; transform: none;}
.categories-card.medium:first-child {border-top: 1px solid #ddd;}
.categories-card.medium .categories-icon,
.quests-learning .quests-item .icon-box {min-height: 80px; border-radius: 14px; box-shadow: none; background: none !important; min-width: 70px; max-width: 70px; padding: 0;}
.categories-card.medium .categories-icon svg {width: 40px; height: 40px;}
.categories-card.medium .categories-text {width: calc(100% - 70px); padding-left: 25px; line-height: normal; position: relative;}
.categories-card.medium .categories-text .categories-title {padding: 0; text-align: left; margin: 0 0 12px; }
.categories-card.medium .categories-text .levels-progress.horizontal {position: relative; margin: 0 0 12px; width: 100%;}
.categories-card.medium .categories-text .levels-progress.horizontal .progress-box {width: 100%; max-width: 100%; background-color: #e5e5e5; height: 14px; }
.categories-card.medium .progress-numbers {position: absolute; right: 0; top: -30px; font-weight: 400; }
.categories-card.medium .subject-info {display: block; text-align: left;}
.categories-card.medium .learning-btn {position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-weight: 600; text-transform: uppercase; color: #666;}
.categories-card.medium:nth-child(even) {background-color: #fff;}
.categories-card.medium:nth-child(odd) {background-color: inherit;}
.db-categories .row{gap: 25px 0;}
.db-categories img {max-width: 100%; width: 50px; height: 50px; object-fit: contain; margin-bottom: 20px;}
/* Categories Boxes Style End */

/*************************
 Learn Page | Student Panel Style End
 *****************************/