/*************************************
Dashboard Account Settings Pages Style Start
**************************************/
section:has(.edit-profile-content) {overflow: hidden;}
.profile-image-holder {background-color: #fff;border: 1px solid #ddd;padding: 0;border-radius: 5px;}
.profile-image-holder .form-control {height: 45px;background-color: #f9f9f9;border: 0;}
.profile-image-holder .input-label {margin: 0 0 10px;}
.profile-image-holder img#profileImagePreview {border-radius: 5px;border: 3px solid #fff;box-shadow: 0 0 8px rgba(0,0,0,0.2);}
.svga-light #svga-start-overlay {background-color: #fff;}
.svga-light #svga-gender {background-color: #fff;}
.svga-col-right .svga-elements svg {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svga-col-right .svga-elements svg g{
    transform: none;
}
.svga-col-right .svga-elements {
    padding: 9%;
}
.rurera-button-loader .preloader {position: absolute; top: 50%; left: 50%; z-index: 1; transform: translate(-50%, -50%); text-align: center;}
.rurera-button-loader .preloader img {width: 300px; object-fit: contain; height: 300px;}
span.preloader-text {display: block; width: 60%; text-align: center; margin: 0 auto;}
.dashboard-filters {background-color: #fff; padding: 15px 15px; border-radius: 10px; border: 1px solid #ddd;}
.dashboard-filters ul {display: flex; align-items: center; gap: 17px;}
.dashboard-filters li a {font-size: 15px; font-weight: 500;}
.profile-image-holder a.btn {display: flex !important; align-items: center; justify-content: center;}
#userSettingForm #svga-container.svga-light {background-color: #fff;padding: 10px;border: 1px solid #ddd;border-radius: 5px;}
.wizard-steps .inline-filters a,
.panel-content .wizard-steps .inline-filters .active a,
.wizard-steps .tests-list li {border: 0; box-shadow: 0 0 10px #c3c3c367; font-size: 14px; font-weight: 500;}
#profile-image-modal .close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--blue);
    opacity: 1;
    color: #fff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 18px;
    z-index: 1;
}
#profile-image-modal .close span {
    height: 20px;
    width: 20px;
    line-height: 18px;
}
/*Edit Profile Style Start*/
.panel-content-holder .userSettingForm {width: 100%;}
.edit-profile.edit-profile-block {border-radius: 5px;}
.edit-profile .user-info {gap: 10px;}
.edit-profile .user-info img {border-radius: 100%; object-fit: fill; }
.edit-profile .info-text {color: #000;}
.edit-profile .info-text small {color: #94a3b8;}
.edit-profile-menu .icon-box img {filter: invert(72%) sepia(7%) saturate(861%) hue-rotate(176deg) brightness(89%) contrast(90%);}
.edit-profile-menu li a {padding: 12px 15px; gap: 8px; color: #94a3b8;}
.edit-profile-menu li a.active {background-color: #8b5cf61a; border-radius: 10px; color: #8b5cf6;}
.edit-profile-menu li a .icon-box {line-height: 10px;}
.edit-profile-menu li a.active .icon-box img {filter: invert(42%) sepia(28%) saturate(7499%) hue-rotate(238deg) brightness(100%) contrast(94%);}
.top-heading h5 {color: #000;}
.top-heading h5 span {color: #94a3b8; line-height: normal;}
.edit-profile-controls button {background-color: inherit; border: 1px solid #ddd; padding: 8px 20px; min-width: 96px; border-radius: 5px;}
.edit-profile-controls .save-btn {background-color: var(--primary); color: #fff; border-color: var(--primary); margin-left: 10px; background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-size: 1rem 1rem;}
.edit-profile-body {max-width: 32rem; margin: 0 auto;}
.edit-element-title h6 span {color: #94a3b8; line-height: normal;}
.edit-profile-image .profile-image figure {gap: 25px;}
.edit-profile-image .profile-image-btn .img-type {color: #606262; cursor: text;}
.edit-profile-image .profile-image-btn span {background-color: #f1f1f1; display: inline-block; max-width: fit-content; padding: 12px 15px; border-radius: 5px;}
.profile-image img {border-radius: 100%; height: 96px; width: 96px; object-fit: cover;}
.edit-profile-image .profile-image-btn {gap: 10px;}
.edit-profile .form-group .icon-box img {position: absolute; top: 50%;left: 10px; margin-top: -9px; height: 18px; width: 18px;filter: invert(73%) sepia(10%) saturate(638%) hue-rotate(175deg) brightness(88%) contrast(82%);}
.edit-profile .form-group .input-field input[type="text"],
.edit-profile .select-field select{border: 1px solid #ddd; font-size: 16px; height: 40px; padding: 0 0 0 35px; border-radius: 5px; width: 100%;}
.edit-profile .form-group [class*="col-"] {padding-left: 8px; padding-right: 8px;}
.edit-profile .form-group .row {margin: 0 -8px;}
.edit-profile .form-group .input-field { margin-bottom: 16px; border: 0; padding: 0; height: auto; border-radius: 0; position: relative;}
.edit-profile .form-group .input-field textarea {border: 1px solid #ddd; border-radius: 5px; padding: 10px 10px; height: 98px; width: 100%;}
.edit-profile .select-field select {padding: 0 10px; color: #888; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.lms-choose-membership .edit-profile .form-group {margin-bottom: 0;}
.edit-profile .select-field {margin-bottom: 16px; position: relative;}
.edit-profile .select-field:after {content: "\203A"; position: absolute; right: 0; top: 0; height: 40px; width: 40px; text-align: center; line-height: 40px; font-size: 24px; color: #94a3b8; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); pointer-events: none;}
.edit-profile .select-field:before {background-color: #ddd; content: ""; position: absolute; top: 0; right: 41px; height: 100%; width: 1px;}
.edit-profile-content-holder .tab-pane {min-height: 400px;}
.edit-profile .radio-field label {border: 1px solid #ddd; border-radius: 20px; min-width: 115px; background-color: #f3f1f1; cursor: pointer;}
.edit-profile .radio-field input[type=radio] {position: absolute; opacity: 0; height: 0; width: 0;}
.edit-profile .select-option {gap: 20px;}
.edit-profile .radio-field .thumb-box img {border-radius: 100%;}
.edit-profile .radio-field input[type=radio]:checked ~ label {background-color: var(--primary); color: #fff; border-color: var(--primary);}
.filters-v2 .analytics-type li {width: 15.555%;}
.filters-v2 .analytics-type li a img {margin: 0 10px 0 0; height: 38px; width: 38px; }
.filters-v2 .analytics-type li a {padding: 0 10px 0 0; border-radius: 50px; border-style: solid; }
.filters-v2 .analytics-type {gap: 15px;}
.chart-filters .filters-v2 .analytics-type .active a {box-shadow: none;}
/*Edit Profile Style End*/

/*************************************
 Reward page  Style Start
*************************************/
.products-sub-header .btn-primary {color: #ffff;background:var(--primary); border: 0;box-shadow: none;}
.products-sub-header .btn-outline-primary{border-color:#3d358b; color:#3d358b;}
.products-sub-header .btn-outline-primary:hover{border-color:transparent; color:#fff;background:#3d358b;}
.products-sub-header .reward-program-section .reward-program-section-hero-card .reward-program-section-hero {left: 0;}
.products-sub-header .reward-program-section .example-reward-card {right: 0;}
.reward-box {background: #fff; border-radius: 34px; padding: 22px; min-height: 150px; margin-bottom: 16px; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);}
.reward-section {background:var(--primary) !important; position: relative;}
.reward-section:before {content: ""; position: absolute; left: 0; top: 0px; width: 100%; background: #fff; border-radius: 0 0 50% 50%/0 0 100% 100%; z-index: 2; height: 70px;}
.reward-section:after {content: ""; position: absolute; left: 0; bottom: 0px; width: 100%; background: #fff; border-radius: 50% 50% 0 0/100% 100% 0 0; z-index: 2; height: 70px;}
.reward-holder .row {margin: 0 -8px;}
.reward-holder [class*='col-']{padding: 0 8px}
.reward-box .img-holder figure{margin: 0;}
.reward-box .img-holder ~ .text-holder {margin-left: 25px;}
.reward-box .text-holder p{margin-bottom: 0; font-size: 16px;}
.reward-box strong {display: block;color:var(--primary);}
.categories-list {margin: 0; padding: 0; list-style: none;}
.categories-list li{line-height: normal;list-style: none;}
.categories-list .categories-box {display: flex; flex-direction: column; align-items: center;}
.categories-box .img-holder {display: flex; align-items: center; justify-content: center; width: 100%;}
.categories-box .img-holder figure {background: #f0eeef; border-radius: 100%; margin: 0 0 20px 0;}
.categories-box .img-holder figure img {object-fit: contain; padding: 10px; border-radius: 100%;}
.categories-list .categories-box .post-title a,
.categories-list .categories-box .post-title {font-size: 16px; text-decoration: none; color: var(--dark-charcoal); font-weight: 400;}
.categories-list .categories-box .post-title{margin-bottom: 0;}
.footer-banner .banner-holder {position: relative;}
.ads-rewards-banner{background: url(../../default/img/ads-rewards.png) no-repeat;box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);}
/*************************************
 Reward page Style End
*************************************/

/* User Detail Style Start */
.detail-header-profile {border-bottom: 1px solid #ddd; border-radius: 5px;}
.detail-header-profile .profile-controls {gap: 18px; }
.detail-header-profile .profile-controls a {display: flex; align-items: center; gap: 2px;}
.detail-header-profile .profile-controls .icon-box img {display: inline-block; vertical-align: top;}
.info-media {gap: 15px;}
.info-media img {border-radius: 20px; width: 64px; height: 64px; object-fit: contain;}
.user-detail .info-title span {color: #64748b;}
.info-text h3 {color: #1e293b; line-height: normal;}
.info-text span {color: #64748b;}
.profile-view-data {margin: 0 -5px;}
.profile-view-data > li {width: 50%; display: inline-block; margin-right: -4px; padding: 0 5px;}
.edit-info-list li > a {border-bottom: 1px solid #ddd; flex-wrap: wrap;}
.edit-info-list li:last-child > a {
    border-bottom: 0;
    padding-bottom: 0 !important;
}
.info-list-label {color: #94a3b8; max-width: calc(100% - 70px); word-wrap: break-word;}
.info-list-label strong {color: #475569; line-height: normal; padding-top: 2px;}
.edit-icon {gap: 15px;}
.edit-icon em {font-style: normal; color: var(--primary); visibility: hidden; opacity: 0; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.edit-info-list li a:hover .edit-icon em {visibility: visible; opacity: 1;}
.edit-info-list li a:hover {background-color: #f1f3f7;}
.edit-info-list li .edtit-btn {border: 0; color: var(--primary); gap: 8px;}
address .info-list-label {color: #64748b;}
.payment-card {border: 1px solid #ddd; border-radius: 10px; max-width: 380px; min-width: 380px; }
.card-circle span {height: 36px; width: 36px; border-radius: 100%; }
.card-circle .circle-pink {background-color: #f43f5e99; margin-right: -20px;}
.card-circle .circle-yellow {background-color: #eab30899;}
.card-type-lebel {color: #94a3b8; position: relative;}
.card-type-lebel:before {content: ""; position: absolute; left: 0; top: 50%; background-color: #e2e8f0; height: 8px; width: 8px; border-radius: 100%; margin-top: -4px;}
.card-info-text span {color: #64748b; margin: 0 0 2px;}
.card-info-text .card-exp span {margin-bottom: 0;}
.detail-body .profile-inner,
.edit-info-list .subscribe-plan {background-color: #fff; border-radius: 10px !important; max-width: 380px; min-width: 380px; border-style: solid;}
.detail-body .student-profile-holder {padding: 0; margin: 0 0 40px;}
.detail-body .student-profile-holder h3,
.detail-body .subscribe-plan h3 {font-size: 16px !important; font-weight: 400 !important; color: #94a3b8;}
.detail-body .student-info ul li > a {color: var(--primary); font-weight: 400; text-decoration: underline; border: 0;}
.detail-body .student-info ul li > span,
.detail-body .student-info ul li.user-name span {color: #64748b; font-weight: 400; font-size: 15px;}
.detail-body .edit-info-list .subscribe-plan:hover {top: 0;}
.detail-body .edit-info-list .package-block {display: flex; align-items: center; justify-content: space-between; flex-direction: row-reverse; margin-bottom: 10px;}
.detail-body .subscribe-plan .subscribe-title {margin-bottom: 0;}
.detail-body .subscribe-plan .subscribe-price {align-items: flex-start !important;}
.detail-body .subscribe-plan .subscribe-price span {color: #596bfd; font-weight: 500; font-size: 18px !important; margin-bottom: 5px;}
.detail-body .subscribe-plan .subscribe-price .yearly-price {color: #64748b; padding-top: 5px; font-size: 15px !important; font-weight: 400; margin-bottom: 0;}
.detail-body .subscribe-plan .package-update-btn.btn {background-color: var(--primary); color: #fff; padding: 0 8px; height: 42px; }
.detail-body .inner-heading {border-bottom: 1px solid #ddd; width: 100%;}
.detail-body .inner-heading:hover .edit-icon em {visibility: visible; opacity: 1;}
.detail-body .edit-profile-controls {display: flex; align-items: center; justify-content: flex-end; gap: 30px;}
.detail-body .edit-profile-controls .profile-save-btn {padding: 10px 50px; height: auto; border-radius: 4px;}
.profile-controls {gap: 25px; }
.profile-controls a {color: var(--primary);}
.profile-controls .icon-box {height: 15px; width: 15px;}
.profile-controls .icon-box img {max-width: 100%; filter: invert(58%) sepia(88%) saturate(5319%) hue-rotate(220deg) brightness(97%) contrast(105%);}
/* User Detail Style End */

/* Profile master-card style start */
.master-list {background-color: #fff; border: 1px solid #eee; padding: 0; border-radius: 8px;}
.master-card {border-right: 1px solid #eee; display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; gap: 10px; padding: 20px 0; line-height: normal;}
.master-list [class*="col-"]:last-child .master-card {border-right: 0;}
.master-card strong {font-size: 20px;}
.master-card span {font-weight: 600; font-size: 18px;}
.master strong {color: #468cc0;}
.master span {color: #468cc0;}
.non-master strong {color: #d24124;}
.non-master span {color: #d24124;}
.non-use strong {color: #787b84;}
.non-use span {color: #787b84;}
/* Profile master-card style End */
/*************************************
Dashboard Account Settings Pages Style End
**************************************/

