/*****************
 Quests Page | Student Panel Style Start
Sub Pages Style
********************/

.progress-icon {background-color: #e5e5e5; border-radius: 14px; display: inline-flex; align-items: center; justify-content: center; gap: 2px; font-size: 12px; font-weight: 500; margin-right: -4px; vertical-align: middle; padding: 6px 5px; width: 58px;}
.quests-list .progress-icon {width: 70px;}
.progress-icon img {height: 20px; width: 20px; object-fit: contain;}
.panel-content-holder .progress-icon.font-14 {font-size: 14px; margin-right: 0;width: 65px;}
.quests-control a {background-color: var(--primary); color: #fff; padding: 8px 35px; border-radius: 5px; font-weight: 500;}
.panel-content-holder .quests-learning .progress-icon {width: auto; margin-left: -2px;}
.panel-content-holder .quests-learning .progress-icon.circle {border-radius: 100%; height: 45px; width: 45px;}
.quests-learning .progress-icon .check-icon {height: 35px; width: 35px;}
.quests-learning .bg-success .progress-icon,
.quests-learning .bg-success .progress-box {background-color: #4fbf5d;}
.quests-learning .bg-warning .progress-icon,
.quests-learning .bg-warning .progress-box {background-color: #ffca00;}
.quests-learning .bg-danger .progress-icon,
.quests-learning .bg-danger .progress-box {background-color: #ffebed;}
.edit-quest-modal .modal-dialog {max-width: 520px;}
/************************
  Quests Page | Student Panel Style End
***************************/