/*****************
 Quests Page | Student Panel Style Start
Sub Pages Style
********************/
.quests-learning .progress-icon .check-icon {height: 35px; width: 35px;}
.quests-learning .bg-success .progress-icon,
.quests-learning .bg-success .progress-box {background-color: #4fbf5d;}
.quests-learning .bg-warning .progress-icon,
.quests-learning .bg-warning .progress-box {background-color: #ffca00;}
.quests-learning .bg-danger .progress-icon,
.quests-learning .bg-danger .progress-box {background-color: #ffebed;}
.edit-quest-modal .modal-dialog {max-width: 520px;}
/************************
  Quests Page | Student Panel Style End
***************************/