/*************************************
Referrals Page | Student Panel Style Start
Sub Pages Style
**************************************/
/* Referrals Style Start */
.referral-price-lists .row {margin-left: -10px; margin-right: -10px; }
.referral-price-lists .row [class*="col-"] {padding-left: 10px; padding-right: 10px;}
.referral-price-card span {line-height: normal;}
.referral-text p {margin-bottom: 10px;}
.referral-link .js-copy {
    background-color: var(--primary);
    border: 0;
    color: #fff;
    padding: 0 10px;
    height: 36px;
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.referral-link input.link-address {border: 0; background-color: #efefef; height: 36px; width: calc(100% - 100px); padding: 0 12px; border-radius: 3px; color: #6c7292;}
.withdraw-card {background-color: #e9f3ff; border: 1px dashed #3472bb; border-radius: 5px; gap: 20px;}
.withdraw-card .icon-box {flex: 0 0 32px;}
.withdraw-btn-holder {flex: 0 0 140px; margin-left: auto;}
.withdraw-text {flex: 0 0 60%;}
.withdraw-text p {color: #656776;}
.withdraw-card .withdraw-btn {
    background-color: var(--primary);
    border-radius: 3px;
    display: block;
    text-align: center;
    padding: 12px 10px;
    color: #fff;
    border: 0;
    line-height: normal;
}
.referral-price-card {
    border: 1px dashed;
    padding: 15px 15px;
    border-radius: 5px;
}
.referred {
    border-color: #624abc;
}
.bonus {
    border-color: #5fa66e;
}
.sales-commission {
    border-color: #d13b61;
}
/* Referrals Style End */
/*************************************
Referrals Page | Student Panel Style End
**************************************/
