/*******************
School Zone Page | Student Panel Style Start
Sub Pages Style
*********************/

.userthumb,
.student-block {background-color: #fff; border: 1px solid #ddd; border-radius: 8px; overflow: hidden; padding: 5px; margin-bottom: 30px; }
.userthumb img,
.student-block img {max-width: 100%; border-radius: 8px; }
.userthumb .userthumb-text,
.student-block-text {padding: 25px 10px; position: relative;}
.userthumb .userthumb-text span,
.student-block-text span {margin-top: 2px; line-height: normal; color: #999;}
.student-block-text .user-year-info {color: var(--primary); position: absolute; right: 10px; padding-top: 2px;}
.student-block-text .user-name {color: #343434; word-wrap: break-word;}
.student-block-text .student-rank span {display: block; margin-bottom: 10px;}
.student-rank span img {width: 18px; height: 18px; vertical-align: middle; margin-left: 5px;}
.student-block-text .student-rank {margin-top: 10px;}
.student-block-text .student-rank span:last-child {margin-bottom: 0;}
/* Leaderboard Style Start */
.lms-performace-table>li {display: flex;align-items: center;padding: 0;}
.lms-performace-table>li.lms-performace-head {padding: 0;}
.lms-performace-table>li.lms-performace-head div:first-child {width: 48%;text-align: left;}
.lms-performace-table>li.lms-performace-head div {padding: 22px 15px;width: 15%;text-align: center;}
.lms-performace-table>li.lms-performace-head div span {text-transform: uppercase;font-size: 15px;font-weight: 700;color: #878787;}
.lms-performace-table>li.lms-performace-des .sr-no {border-right: 1px dashed #ddd; /*width: 6%;*/}
.lms-performace-table>li.lms-performace-des div {display: table-cell;padding: 22px 10px;white-space: nowrap;text-align: center;}
.lms-performace-table>li.lms-performace-des div span {font-size: 15px;color: #878787;margin: 0;font-weight: 500;margin: 0; white-space: break-spaces;}
.lms-performace-table>li.lms-performace-des {padding: 0;border: 1px dashed #ddd;border-bottom: 0;}
.lms-performace-table>li.lms-performace-des:last-child {border-bottom: 1px dashed #ddd;}
.lms-performace-table>li.lms-performace-des .sr-no span {color: #000;}
.lms-performace-table>li.lms-performace-des .score-des {text-align: left;width: 42%;display: inline-flex;align-items: center;}
.lms-performace-table>li.lms-performace-des .level-up,
.lms-performace-table>li.lms-performace-des .practised,
.lms-performace-table>li.lms-performace-des .time-sepen {width: 15%;}
.lms-performace-table>li.lms-performace-des .coin-earn {max-width: 6%;min-width: 6%;}
.lms-performace-table>li.lms-performace-des .coin-earn span svg {width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 5px;}
.lms-performace-table>li.lms-performace-des .coin-earn span {color: #183152;font-weight: 700;font-size: 18px;}
.lms-performace-table>li.lms-performace-des div span a {color: #4574b9;display: flex;}
.lms-performace-table>li.lms-performace-des div span a svg {margin-left: 15px;width: 20px;height: 20px;}
.lms-performace-table>li.lms-performace-des .badge-btn>span {background: red;color: #fff;font-size: 15px;padding: 0 5px;border-radius: 4px;display: inline-block;height: 38px;width: 38px;margin: 0;line-height: 38px;font-weight: 700;text-align: center;margin: 0 5px;}
.lms-performace-table>li.lms-performace-des .badge-btn {width: 13%;padding: 14px 10px;}
.lms-performace-table h5,
.lms-performace-section .element-title h5 {text-transform: uppercase;color: #183152;font-size: 18px;font-weight: bold;}
.lms-performace-table>li.lms-performace-des:last-child {border-bottom: 1px dashed #c0c0c0;}
.lms-performace-table>li.lms-performace-head div span.coin-icon svg {width: 24px;height: 24px;}
.lms-performace-table figure img {width: 50px;height: 50px;border-radius: 100%;}
.lms-performace-table figure {margin-right: 15px;}
.leaderboard>li.lms-performace-head div:nth-child(2) {width: 55%;text-align: left;}
.leaderboard>li.lms-performace-des .score-des {padding-left: 20px;flex-wrap: wrap; width: 55%;}
.leaderboard>li.lms-performace-des .score-des span {width: calc(100% - 65px);}
.leaderboard>li.lms-performace-head.leaderboard-title div:nth-child(3),
.leaderboard>li.lms-performace-des.leaderboard-des div:nth-child(3){width:25%;}
.leaderboard>li.lms-performace-head.leaderboard-title div:first-child h5{color: #878787;}
.leaderboard>li.lms-performace-des.leaderboard-des .score-des {padding-left: 20px;flex-wrap: wrap;}
.leaderboard>li.lms-performace-des.leaderboard-des .coin-earn > .badge-btn{width: auto; padding: 0;}
.school-table .simple-table thead {background-color: #fff; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}
.school-table .simple-table td {padding: 15px 20px; font-size: 15px; font-weight: 500; color: #878787; border-top: 1px solid #ddd;}
.group-table .simple-table thead {border: 0;}
.group-table .simple-table thead th,
.group-table .simple-table.text-left thead tr th {padding: 0 10px 0 0;}
.group-table .simple-table tbody td {padding-left: 0; padding-right: 10px; font-size: 15px; color: #878787; border-bottom: 1px solid #ddd;}
.group-table .simple-table tbody td:first-child {min-width: 100px;}
.group-accordions .card {border: 0;}
.group-accordions .card-header {border-radius: 0; padding: 0; border: 0; background-color: inherit;}
.group-accordions .card-header button {padding: 0 20px 0 0; font-size: 16px; font-weight: 500; height: auto; color: var(--primary); position: relative;}
.group-accordions {display: flex; align-items: center; justify-content: space-between;}
.group-qualified span {position: relative; display: block; padding: 0 0 0 16px; font-size: 15px; }
.group-qualified span:before {background-color: var(--primary); border-radius: 100%; content:""; position: absolute; left: 0; top: 50%; margin-top: -6px; height: 12px; width: 12px;}
.group-accordions {display: flex; align-items: center; justify-content: space-between; position: relative;}
.group-qualified span {position: relative; display: block; padding: 0 0 0 16px; font-size: 15px;}
.group-qualified span:before {background-color: var(--primary); border-radius: 100%; content: ""; position: absolute; left: 0; top: 50%; margin-top: -6px; height: 12px; width: 12px;}
.group-accordions .card-header button:after {content: ""; position: absolute; right: 0; top: 50%; height: 10px; width: 10px; border-style: solid; border-width: 2px 0 0 2px; transform: rotate(45deg); margin-top: -2px;}
.group-accordions .card-header button.collapsed:after {border-width: 0 2px 2px 0; margin-top: -8px; }
.lms-performace-table>li.lms-performace-des.leaderboard-des div{white-space: normal;}
.lms-performace-table>li.lms-performace-head.leaderboard-title div span{font-size: 18px; font-weight: 500; text-transform:capitalize;}
.lms-performace-table>li.lms-performace-des .icon-table-1{color: #ffd000;}
.lms-performace-table>li.lms-performace-des .icon-table-2 {color: #c7c7c7;}
.leaderboard-tab .nav-tabs {border-bottom: 0;justify-content: end;}
.lms-performace-head.leaderboard-title h2, .lms-performace-head.leaderboard-title h5{color: #878787; font-weight: 500;}
.leaderboard-tab .nav-tabs .nav-link{border:0;border-radius: 0;background: transparent;border-bottom: 2px solid transparent;padding:0; font-size: 14px;color: #878787;}
.leaderboard-tab .nav-tabs .nav-link.active {background: transparent;border-color: var(--primary);color:var(--primary);}
.leaderboard-tab .nav-tabs .nav-item{margin:0 0 10px 20px;}
.leaderboard-tab .nav-tabs .nav-link:hover {color:var(--primary);}
.leaderboard-sub-header .btn-primary{ background-color: var(--primary);border-color: var(--primary); box-shadow: none;}
.leaderboard-sub-header .btn-outline-primary {color: var(--primary);border-color:var(--primary);}
.leaderboard-sub-header .btn-outline-primary:hover{color:#fff; border-color: transparent;background-color: var(--primary);}
.panel-content .lms-performace-table>li.lms-performace-head {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.panel-content .lms-performace-table>li.lms-performace-des .sr-no {border-right: 0;}
.panel-content .lms-performace-table>li.lms-performace-des {border: 0; border-bottom: 1px solid #ddd;}
.panel-content .lms-performace-table>li.lms-performace-des:last-child {border-bottom: 0; }
.panel-content .lms-performace-table>li.lms-performace-head div,
.panel-content .lms-performace-table>li.lms-performace-des div {padding: 12px 20px;}
.lms-performace-table>li.lms-performace-des.active {background-color: #e5e5e5;}
.panel-content .school-zone-data.leaderboard-data .leaderboard>li.lms-performace-head div:first-child,
.panel-content .school-zone-data.leaderboard-data .leaderboard>li.lms-performace-des .sr-no { width: 25%; }
.panel-content .school-zone-data.leaderboard-data .leaderboard>li.lms-performace-des .sr-no span { font-size: 16px; font-weight: 400; }
.withdraw-card {background-color: #e9f3ff; border: 1px dashed #3472bb; border-radius: 5px; gap: 20px;}
.withdraw-card .icon-box {flex: 0 0 32px;}
.withdraw-btn-holder {flex: 0 0 155px; margin-left: auto;}
.withdraw-text {flex: 0 0 68%;}
.withdraw-text p {color: #656776;}
.withdraw-card .withdraw-btn {background-color: #1c84ff; border-radius: 3px; display: block; text-align: center; padding: 12px 10px; color: #fff;}
.withdraw-text h3 {margin-bottom: 2px;}
/* Leaderboard Style End */
/********************
School Zone Page | Student Panel Style End
********************/