/*****************************
TimesTable Page | Student Panel Style Start
Sub Pages Style
*****************************/
/* Timestable Freedom Mode Start */
.questions-select-option ul {overflow: hidden;}
.questions-select-option li {position:relative; flex: 1 1 0px;}
.questions-select-option label {background-color: #e8e8e8; padding: 6px 20px; margin: 0; border-right: 1px solid rgba(0,0,0,0.1); width: 100%; text-align: center; height: 100%; cursor: pointer; min-height: 55px;}
.questions-select-option input,
.questions-select-number input {position:absolute; opacity: 0; width: 0; height: 0;}
.questions-select-option li:first-child label {border-radius: 5px 0 0 5px;}
.questions-select-option li:last-child label {border-radius: 0 5px 5px 0;}
.questions-select-option input:checked ~ label {background-color: var(--primary); color: #fff;}
.questions-select-option label strong { font-weight: 500; font-size: 15px;}
.questions-select-option label span {font-size: 14px;}
.questions-select-number li {flex-basis: 33%; padding: 0 0 10px 10px;}
.questions-select-number li.disable-timetable {pointer-events: none;}
.questions-select-number li.disable-timetable label {opacity: 0.5;}
.questions-select-number label {background-color: #fff; border: 1px solid rgba(0,0,0,0.1); width: 100%; text-align: center; margin: 0; border-radius: 5px; min-height: 70px; display: inline-flex; align-items: center; justify-content: center; font-size: 20px; font-weight: 700; cursor: pointer;}
.questions-select-number label.disabled {background-color: inherit;}
.questions-select-number label.selectable {background-color: #fff;}
.questions-select-number input:checked ~ label {box-shadow: 0 3px 0 var(--primary); border-color: var(--primary); color: var(--primary);}
.questions-select-number ul {margin: 0 0 0 -10px; flex-wrap: wrap;}
.questions-submit-btn {background-color: var(--primary); display: block; width: 92%; color: #fff; font-size: 24px; font-weight: 700; border-radius: 0; position: relative; z-index: 0; margin: 0 auto; height: 55px;}
.questions-submit-btn:hover {color: #fff;}
.questions-submit-btn:before,
.questions-submit-btn:after {content: ""; position: absolute; display: block; width: 100%; height: 105%; top: -1px; left: -1px; z-index: -1; pointer-events: none; background: var(--primary); transform-origin: top left; -ms-transform: skew(-30deg, 0deg); -webkit-transform: skew(-30deg, 0deg); transform: skew(-30deg, 0deg);}
.questions-submit-btn:after {left: auto; right: -1px; transform-origin: top right; -ms-transform: skew(30deg, 0deg); -webkit-transform: skew(30deg, 0deg); transform: skew(30deg, 0deg);}
.panel-content .questions-select-option label {border: 1px solid #ddd; background-color: inherit;}
.panel-content .questions-select-option input:checked ~ label {background-color: #fff; border-color: var(--primary); color: var(--primary); position: relative; z-index: 1;}
.panel-content .questions-select-option li {margin-right: -1px;}
.panel-content .questions-select-option li:last-child {margin-right: 0;}
.panel-content .questions-submit-btn {background-color: #fff; color: #343434;}
.panel-content .questions-submit-btn:hover {color: var(--primary);}
.panel-content .questions-submit-btn:before,
.panel-content .questions-submit-btn:after {border: 1px solid #ddd; background: inherit; }
.panel-content .questions-submit-btn:hover:before,
.panel-content .questions-submit-btn:hover:after {border-color: var(--primary); }
.panel-content .questions-submit-btn:after {border-left: 0;}
.panel-page-section .timestables-mode-content .form-btn {margin-bottom: 25px;}
.panel-content .timestables-mode-content form h3 {margin: 0 0 15px; text-align: center;}

.timestables-mode-block .simple-table {margin-bottom: 30px; width: 100%;}
.timestables-mode-block .simple-table td {padding: 15px 20px;}
.timestables-mode-block .simple-table td:last-child {text-align: right;}
.timestables-mode-block .simple-table th:last-child {text-align: right; padding-right: 20px;}
.simple-table thead {background-color: inherit; border-bottom: 2px solid #ddd;}
.elevenplus-block .simple-table thead tr th{color: #333; padding-left: 0; }
.simple-table thead tr th {padding-bottom: 20px; padding-top: 20px;}
.simple-table.text-left thead tr th {text-align: left; padding-left: 20px; }
.simple-table thead tr th:first-child {padding-left: 0;}
.panel-section-card .simple-table thead tr th:first-child {padding-left: .75rem;}
.panel-content-holder::selection {
    background: none;
}
/* Timestable Freedom Mode End */

/* Timestable Heatmap Table style Start */
.heatmap-section {position: relative; background: url(/assets/default/img/mountain.jpg) no-repeat; background-size: cover; padding-top: 70px; padding-bottom: 70px;}
.panel-content .heatmap-section {padding: 0; background: none;}
.heatmap-section-inner {background-color: rgba(248,248,248,0.6); padding: 30px; border: 1px solid #ddd; border-radius: .625rem;}
.panel-content .heatmap-section-inner {background-color: #fff; border-bottom-width: 4px;}
.heatmap-heading span {display: block; font-size: 14px; padding-top: 0; line-height: normal;}
.heatmap-heading {position: relative;}
/* .heatmap-heading:before {background-color: #6d6d6d; content: ""; height: 1px; position: absolute; left: 0; top: 50%; width: 9px;} */
.heatmap-table-boxes li {flex: 2 1 0;}
.heatmap-box {background-color: #60a747; min-height: 130px; border-radius: 5px; overflow: hidden; padding: 12px 0 0; min-width: 150px;}
.heatmap-table-boxes ul {flex-wrap: wrap; gap: 10px;}
.box-top {background-color: rgba(0,0,0,0.2); color: #fff; display: flex; margin: 0 0 30px;}
.box-top span {flex-basis: 100%; text-align: center; padding: 6px 0;}
.box-body {display: flex; width: 100%;}
.heatmap-table-boxes .box-body {
    padding: 0 5px;
}
.box-body strong {flex-basis: 100%; text-align: center; font-size: 24px; font-weight: 400; color: #000;}
.heatmap-table-boxes .box-body strong {
    padding: 0 5px;
    font-size: 1rem;
}
.heatmap-table-boxes .box-body strong:last-child {
    text-align: center;
}
.heatmap-table-boxes li:last-child {flex: 1 1 0;}
.heatmap-select-option {border-bottom: 1px solid rgb(186, 195, 202); padding-bottom: 10px; display: flex; align-items: center;}
.heatmap-select-option .heatmap-download-btn {margin-left: auto;}
.heatmap-select-option input[type=radio] {position: absolute; width: 0; height: 0; opacity: 0;}
.heatmap-select-option label {margin: 0 -1px 0 -1px; border-right: 1px solid rgb(186, 195, 202); padding: 5px 12px; cursor: pointer;}
.heatmap-select-option input[type=radio]:checked + label {background-color: var(--primary); color: #fff;}
.heatmap-select-option .select-field {margin-right: 10px; display: inline-flex; padding-left: 1px; border: 1px solid rgb(186, 195, 202); border-radius: 5px; overflow: hidden;}
.heatmap-select-option strong {font-weight: 500; color: #333;}
.heatmap-table {width: 100%;}
.heatmap-table th, .heatmap-table td {text-align: center; vertical-align: middle; padding: 10px 12px;}
.heatmap-table td {background-color: #fff; font-size:15px;}
.heatmap-table .correct-fast {background-color: #60a747;}
.heatmap-table tr td:first-child {background-color: transparent; padding: 0 15px; font-weight: 700; font-size:16px;}
.heatmap-table .summary-table-item tr td:first-child {text-align: left; font-size: 15px;}
.heatmap-table .correct {background-color: #81b745;}
.heatmap-table .wrong {background-color: #ee1c63; color: #000;}
.heatmap-table-text .text-label {font-weight: 400;}
.heatmap-table-text li {font-weight: 700;}
.range-play-btn {height: 34px; width: 34px; display: inline-flex; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.1); border-radius: 100%; font-size: 20px; margin-right: 10px; flex-basis: 34px;}
.heatmap-range-slider {display: flex; align-items: center; margin: 0 0 30px;}
.heatmap-range-slider .ui-slider.ui-widget-content {background-color: var(--primary); margin-right: 20px; flex-basis: 72%;width: 72%; border: 0; height: 2px; position: relative;}
.heatmap-range-slider .ui-slider .ui-slider-range {background-color: #e9e9e9;}
.heatmap-range-slider .ui-slider-horizontal .ui-slider-handle {background-color: var(--primary); border-radius: 100%; border: 0; top: 50%; position: absolute; margin-top: -8px; margin-left: -1px;height: 16px; width: 16px; cursor: pointer; transition: all .4s ease;}
.heatmap-range-slider .range-value {background-color: rgba(0,0,0,0.1); display: inline-flex; padding: 10px 12px; border-radius: 5px; flex-basis: 130px; width: 130px;}
.range-value input {width: calc(100% - 82px); border: 0; background-color: initial; font-weight: 700;}
.range-value span {max-width: 80px; font-size: 15px; font-weight: 700; color: #000;}
.heatmap-table td span {display: inline-flex;}
.heatmap-table-holder {overflow: hidden; overflow-x: auto; width: 100%;}
.timestables-mode-block .heatmap-table th, .timestables-mode-block .heatmap-table td {padding: 10px 13px;}
.heatmap-table-holder table.heatmap-table {overflow: hidden;}
.heatmap-table .summary-table-item {position: relative;}
.heatmap-table .summary-table-item:after {display: block; content: ""; margin-bottom: 15px;}
.lms-quiz-section.no-bg {background: none; height: 100%;}
.questions-arithmetic-box .questions-controls span {font-size: 13px; font-weight: 500;}
.question-summary .questions-block {padding: 0; background-color: inherit; box-shadow: none;}
.question-summary .questions-arithmetic-box:before {display: none;}
.question-summary .questions-arithmetic-box {min-height: auto;justify-content: space-between !important;}
.question-summary .questions-arithmetic-box span{font-size: 16px;color: #333;font-weight: 500;width: auto;line-height: normal;vertical-align: middle;}
.question-summary .questions-arithmetic-box span.correct,
.question-summary .questions-arithmetic-box span.incorrect{vertical-align: middle;border-radius: 0;padding: 0 0 0 5px;background: none;color: #333;line-height: normal;}
.questions-header {margin: 0 0 10px;display: flex;align-items: center;flex-wrap: wrap;gap: 10px;justify-content: space-between;}
.question-summary .questions-header span {font-size: 18px;flex: 0 0 32.333%;}
.questions-header em {font-style: normal;}
.question-summary .questions-controls {margin-left: 0;flex: 0 0 33%;display: inline-flex;align-items: center;}
.status-nub {padding-top: 25px;margin-bottom: 15px;}
.status-in-words span,
.lms-quiz-section .status-in-words span {font-size: 16px;position: relative;display: inline-flex;align-items: center;}
.status-nub span {font-size: 16px;}
.status-in-words {display: flex;align-items: center;gap: 50px;margin-bottom: 30px;}
.status-in-words span:before {content: "";display: inline-block;vertical-align: middle;height: 18px;width: 18px;margin-right: 8px; box-shadow: 0 0 4px rgba(0,0,0,0.4) inset;}
.status-in-words .st-wrong:before {background-color: #dc160b;}
.status-in-words .st-slow:before {background-color: #e29312;}
.status-in-words .st-ok:before {background-color: #c8d022;}
.status-in-words .st-fast:before {background-color: #43d21d;}
.points-nub {flex: 0 0 33%;}
.selected-text-field {flex: 0 0 33%;}
.lms-quiz-section .question-summary .questions-arithmetic-box .user_answer.incorrect {background: none; color: #ff0202 !important; position: relative; text-decoration: line-through; }
.question-summary .questions-arithmetic-box .correct {color: #58bd5b !important;}
.question-summary .questions-arithmetic-box .incorrect {color: #ff0202 !important;}
.question-summary .questions-arithmetic-box .time-of-answer {min-width: 50px;text-align: right;padding: 3px 5px;color: #fff;margin: 0 0 0 10px;}
.time-of-answer.time-wrong {background-color: #ffb9b9; color: #dc160b; border: 1px solid #dc160b; border-radius: 2px;}
.time-of-answer.time-slow {background-color: #ffe6bd; color: #e29312; border: 1px solid #e29312; border-radius: 2px;}
.time-of-answer.time-ok {background-color: #faff8c; color: #c8d022; border: 1px solid #c8d022; border-radius: 2px;}
.question-summary .questions-controls span:first-child {min-width: 70px;}
.question-summary .lms-radio-lists .questions-controls {display: inline-block;width: 100%;text-align: right;position: absolute;}
.question-summary .lms-radio-lists .time-of-answer {display: inline-block;padding: 8px 8px;text-align: center;}
.question-summary .lms-radio-lists .selected-text-field {margin: 0 0 10px;}
.panel-content .col-6 .heatmap-table-holder .range-value span {font-size: 13px; text-align: right; }
.panel-content .col-6 .heatmap-range-slider .range-value {padding: 5px; flex-basis: 110px; width: 110px;}
.panel-content .col-6 .heatmap-range-slider .ui-slider.ui-widget-content {flex-basis: 53%; width: 53%; margin-right: 10px;}
.panel-content .col-6 .heatmap-range-slider .range-value input {width: calc(100% - 50px);}
.timestables-mode-block .col-6 form .questions-submit-btn {width: 82%;}
.heatmap-table td.average_0{background-color:#16a062;}
.heatmap-table td.average_1{background-color:#45b382;}
.heatmap-table td.average_2{background-color:#73c8a1;}
.heatmap-table td.average_3{background-color:#a2dac1;}
.heatmap-table td.average_4{background-color:#d0ece0;}
.heatmap-table td.average_5{background-color:#feddd8;}
.heatmap-table td.average_6{background-color:#fdbab4;}
.heatmap-table td.average_7{background-color:#fd988e;}
.heatmap-table td.average_8{background-color:#fb7569;}
.heatmap-table td.average_9{background-color:#fa5343;}
.heatmap-table td.average_10{background-color:#fa5343;}
/* Timestable Heatmap Table style End */

/* Timestable Trophy Mode style Start */
.trophy-levels .spell-levels ul {display: flex;}
.trophy-levels li a {position: relative; display: block; text-align: center;}
.trophy-levels {display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; gap: 10px;}
.trophy-levels .levels-text {position: absolute; top: -15px; display: block; text-align: center; left: 50%; transform: translateX(-50%); opacity: 0; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; font-size: 14px; font-weight: 700; color: #d4d4d4;}
.trophy-levels li.active .levels-text {color: #af6e2e; }
.trophy-levels .icon-box {display: block;}
.trophy-levels .icon-box img {max-width: 90%; object-fit: contain;}
.trophy-levels a:hover .levels-text,
.trophy-levels li.active .levels-text {top: -22px; opacity: 1;}
.trophy-levels .spell-levels li > a {height: 30px; width: 35px;}
.trophy-levels .spell-levels li > a:before {display: none; }
.trophy-levels .flex-parent {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;}
.trophy-levels .input-flex-container {display: flex; justify-content: space-evenly; align-items: center; width: 100%; height: 100px; position: relative; z-index: 0; overflow: hidden;}
.trophy-levels .input {width: 100%; height: 5px; position: relative; text-align: center; }
.trophy-levels .input img {max-width: 100%; width: 25px; height: 25px; object-fit: contain; display: inline-block; vertical-align: middle; background-color: #2C3E50; border-radius: 100%; padding: 4px; margin-top: -20px; }
.trophy-levels .input:hover {cursor: pointer;}
.trophy-levels .input::before{content: ""; display: block; position: absolute; z-index: -1; top: 50%; transform: translateY(-50%); background-color: #2C3E50; width: 100%; height: 5px; left: -70px;}
.trophy-levels .input:first-child:before {display: none;}
.trophy-levels .input.active::before {background-color: #2C3E50;}
.trophy-levels .input.active::after {background-color: #AEB6BF; }
.trophy-levels .input.active span {font-weight: 700; }
.trophy-levels .input.active span::before {font-size: 13px;}
.trophy-levels .input.active span::after {font-size: 15px;}
.trophy-levels .input.active ~ .input::before,
.trophy-levels .input.active ~ .input::after {background-color: #AEB6BF;}
.trophy-levels .input span {width: 1px; height: 1px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: hidden;}
.trophy-levels .input span::before,
.trophy-levels .input span::after {visibility: visible; position: absolute; left: 50%; }
.trophy-levels .input span::after {content: attr(data-year); top: 25px; transform: translateX(-50%); font-size: 14px; }
.trophy-levels .input span::before {content: attr(data-info); top: -65px; width: 70px; transform: translateX(-5px) rotateZ(-45deg); font-size: 12px; text-indent: -10px; }
.description-flex-container {width: 80vw; font-weight: 400; font-size: 22px; margin-top: 100px; max-width: 1000px; }
.description-flex-container p {margin-top: 0; display: none; }
.description-flex-container p.active {display: block; }

.panel-membership {background: url(/assets/default/img/membership-bg1.png) no-repeat right bottom; background-position: 96% 100%; border: 1px solid #efefef; padding: 0; border-radius: 5px; margin: 0 0 25px;}
.membership-top {background-color: #fff6e7; padding: 10px 20px; }
.membership-top p {display: flex; align-items: center; justify-content: space-between; color: #cdaf8d; font-size: 14px;}
.membership-top p span {position: relative;}
.membership-top p span:before {content: "\26A0"; color: #fad899; font-size: 15px; display: inline-block; margin: 0 5px 0 0;}
.membership-top p a {color: #c7a578; font-weight: 500; text-decoration: underline;}
.membership-text {padding: 20px 20px;}
.membership-text p {font-size: 15px; margin: 0 0 15px;}
.membership-text > a {background-color: #5b50d2; color: #fff; padding: 12px 15px; display: inline-block; border-radius: 5px; font-size: 15px; }
.panel-popup {box-shadow: 0 0 6px rgba(0,0,0,0.1); border-radius: 5px; padding: 25px 60px; text-align: center; margin: 0 0 25px;}
.panel-popup h3 {margin: 0 0 20px;}
.panel-popup h3 span {font-size: 14px; font-weight: 400; display: block;}
.popup-controls .discord-btn {background-color: #5d87ff;color: #fff;padding: 12px 20px;border-radius: 5px;line-height: normal;display: inline-block; position: relative;}
.popup-controls .submit-btn {border: 1px solid #74b1d0;color: #74b1d0;padding: 12px 20px;border-radius: 5px;display: inline-block;line-height: normal;font-size: 15px; position: relative;}
.popup-controls .submit-btn:hover .lms-tooltip {margin: 12px 0 0; visibility: visible; opacity: 1;}
.popup-controls {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 14px; position: relative;}
.time-card {border-radius: 5px;padding: 20px 30px;}
.time-card .card-header {background-color: inherit; border: 0; padding: 0; display: flex; align-items: center; margin: 0 0 20px;}
.time-card .card-header span {display: block; font-size: 14px; font-weight: 500; color: #999; line-height: normal;}
.time-card .card-toolbar a {background-color: #f9f9f9; font-size: 15px; padding: 10px 15px; border-radius: 5px; display: inline-block; line-height: normal;}
.time-card .card-body {padding: 0; }
.time-nav ul {display: flex; align-items: center; justify-content: space-between;}
.time-nav {margin: 0 0 20px;}
.time-nav li a {padding: 14px 10px; display: inline-flex; flex-direction: column; justify-content: center; align-items: center; font-size: 14px; font-weight: 500; gap: 4px; line-height: normal;}
.time-nav li a span {color: #999; }
.time-nav li a em {font-style: normal; }
.time-nav li a.active {background-color: #f8285a; border-radius: 20px;}
.time-nav li a.active span {color: #fff;}
.time-nav li a.active em {color: #fff;}
.time-info-list li {position: relative; padding: 0 0 0 20px; margin: 0 0 30px; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
.time-info-list li:before {content: ""; width: 4px; height: 100%; background-color: #7239ea; position: absolute; left: 0; top: 0; border-radius: 20px;}
.time-info-list li.warning-info:before {background-color: #f6c000;}
.time-info-list li.success-info:before {background-color: #17c653;}
.time-info-list li strong {font-size: 19px; display: block; line-height: normal; margin: 0 0 5px;}
.time-info-list li strong em {font-style: normal; font-size: 14px; color: #99a1b7; font-weight: 500;}
.time-info-list li p {font-size: 14px; font-weight: 500; color: #4b5675; display: block; line-height: normal; margin: 0 0 5px; }
.time-info-list li .infobox a {color: #1b84ff; font-size: 12px; display: block; line-height: normal; font-weight: 500;}
.time-info-list li .infobox a span {color: #99a1b7; }
.time-info-list .view-btn {background-color: #f9f9f9; padding: 8px 15px; color: #343434; font-size: 13px;}
/* Timestable Trophy Mode style End */

/* Timestable Treasure Mission style Start */
.treasure-mission-layout .spell-levels {background-color: initial;}
.levels-progress.circle {font-size: 100px; width: 1em; height: 1em; position: absolute; top: -15px; left: -16px; background: #e5e5e5; border-radius: 50%; overflow: hidden;}
.levels-progress.circle .progress-box {position: absolute; left: 0; top: 0; width: 1em; height: 1em; clip: rect(0 1em 1em 0.5em);}
.levels-progress.circle .progress-count {position: absolute; left: 0; top: 0; width: 1em; height: 1em; background: #2397d2; clip: rect(0 1em 1em 0.5em); transform: rotate(180deg); transition: 1.05s;}
.levels-progress.circle.percent_more .progress-box {clip: rect(0 0.5em 1em 0em);}
.percent_more:after {position: absolute; left: 0.5em; top: 0em; right: 0; bottom: 0; background: #57cc02; content: "";}
.circle_inbox {position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; background: #fff; z-index: 3; border-radius: 50%;}
.percent_text,
.heatmap-table td .percent_text {position: absolute; font-size: 36px; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 3; display: none;}
.words-count.simple {margin-top: 10px; padding: 0; min-height: auto; border: 0; background-color: inherit; min-width: auto; text-transform: uppercase;}
.levels-grouping li > a .thumb-box {display: inline-block;width: 100%; height: 100%; border-radius: 100%; background-color: #ddd; position: relative; z-index: 3;}
.levels-grouping li > a .thumb-box img {max-width: 100%;height: 100%; width: 100%; border-radius: 100%; object-fit: fill;}
.levels-grouping .treasure > a .thumb-box img {object-fit: contain; height: auto; border-radius: 0; }
.levels-grouping .spell-tooltip:before {display: none;}
.levels-grouping .levels-progress.circle {left: -10px;top: -10px;}
.levels-grouping .circle_inbox {border-radius: 100%; width: 90%; height: 90%; left: 5px; top: 5px;}
.levels-grouping .percent_more:after,
.levels-grouping .levels-progress.circle .progress-count {background: #0ebe73;}

.panel-content .lms-text-section {padding: 25px !important;}
.panel-content .spell-levels .panel-subheader {padding-right: 150px; margin-bottom: 100px;}
.panel-subheader {background: url(/assets/default/img/subheader-bg1.png) no-repeat right bottom #ebf3fe; background-position: 95% 100%; padding: 20px 20px; border-radius: 5px; margin: 0 0 25px; position: relative;}
.panel-subheader h2 { margin: 0 0 5px;}
.panel-subheader .title {margin: 0 0 25px;}

.panel-breadcrumbs {display: flex; align-items: center; line-height: normal; }
.panel-breadcrumbs a {position: relative; padding: 0 12px; font-size: 14px; display: block; line-height: normal; }
.panel-breadcrumbs a:before {background-color: #343434; border-radius: 100%; content: ""; position: absolute; left: 0; top: 50%; height: 3px; width: 3px; margin-top: -1px;}
.panel-breadcrumbs li:first-child a {padding-left: 0;}
.panel-breadcrumbs li:first-child a:before {display: none;}
.panel-subheader .info-modal-btn {height: 20px; width: 20px; display: inline-block; cursor: pointer; line-height: 20px; margin-left: 5px; vertical-align: middle;}
.panel-subheader .info-modal-btn img {max-width: 100%; vertical-align: top; }
.treasure-stage {width: 100%; display: inline-block; padding-left: 20px; }
.panel-content .spell-levels .treasure-stage:last-child .horizontal-list {margin-bottom: 100px;}
.treasure-mission-layout .spell-levels .horizontal-list li {display: inline-flex; width: auto; margin: 0 0 0 7.444%; width: 13.222%; box-sizing: border-box; vertical-align: middle;}
.treasure-mission-layout .spell-levels .horizontal-list li:first-child {margin-left: 0;}
.treasure-mission-layout .spell-levels .horizontal-list li > a:before {width: 100%; height: 4px; top: 50%; margin-top: -2px; left: 100%; margin-left: 18%;background-color: #e9e9e9;}
.treasure-mission-layout .spell-levels .horizontal-list.ul-rtl {direction: rtl; text-align: right; margin-right: 0; margin-left: -15px;}
.treasure-mission-layout .spell-levels .horizontal-list.ul-rtl li {margin-left: 0; margin-right: 7.444%; justify-content: flex-end; }
.treasure-mission-layout .spell-levels .horizontal-list.ul-rtl li > a:before {right: 100%; left: auto; margin-left: 0; margin-right: 18%;}
.treasure-mission-layout .spell-levels .horizontal-list.ul-rtl li.vertical-li > a:before {left: 0; right: 50%; margin-left: 0;margin-right: -2px;}
.treasure-mission-layout .spell-levels .horizontal-list.ul-rtl li:first-child {margin-right: 0;}
.treasure-mission-layout .spell-levels .horizontal-list li:nth-child(5) > a:before {display: none;}
.treasure-mission-layout .spell-levels .horizontal-list li.vertical-li {position: absolute; right: 12px; top: 100%; margin-top: 80px;}
.treasure-mission-layout .spell-levels .horizontal-list.ul-rtl li.vertical-li {left: 12px; right: auto;}
.treasure-mission-layout .spell-levels .horizontal-list li.vertical-li a:before {display: block; width: 4px; height: 62px; left: 50%; margin-left: -2px; top: auto; bottom: 100%; margin-bottom: 5px;}
.treasure-mission-layout .spell-levels .horizontal-list li.vertical-li a:after {content: ""; width: 4px; height: 62px; left: 50%; margin-left: -2px; bottom: -100%; margin-bottom: -8px; position: absolute; background-color: #e9e9e9; border: 0;}
.treasure-mission-layout .spell-levels li > a img {max-width: 100%; object-fit: contain; }
.treasure-mission-layout .spell-levels .treasure-stage:last-child ul {margin-bottom: 60px;}
.treasure-mission-layout .spell-levels li:not(.treasure) a img {width: 30px; height: 30px;}
.treasure-mission-layout .spell-levels .horizontal-list {margin: 0 -15px 220px 0; position: relative;}
.treasure-mission-layout .spell-levels .lms-tooltip .tooltip-box img {height: 22px; width: 22px; margin-right: 8px; }
.referral-price-card {border: 1px dashed #dbdadf; border-radius: 5px; padding: 22px 12px; }
.read-quiz-content .treasure-stage .horizontal-list {display: flex !important; flex-direction: row; flex-wrap: nowrap;}
.read-quiz-content .treasure-stage .horizontal-list li {margin: 0; display: inline-flex;}
.read-quiz-content .spell-levels .treasure-stage .horizontal-list li > a:before {height: 4px; width: 65%; top: 50%; margin-top: -2px; left: 100%; margin-left: 10px;}
.read-quiz-content .timestables-results,
.read-quiz-content .timestables-next-stage,
.summary-btns address {background-color: #f8f9fa; border-color: #dae0e5; box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 3px 1px rgba(52, 52, 52, .075); padding: 10px 15px; display: inline-block; line-height: normal; border-radius: 5px; font-weight: 500; margin-right: 10px; }
.read-quiz-content .timestables-results:hover,
.read-quiz-content .timestables-next-stage:hover,
.summary-btns a:hover {background-color:var(--primary); color: #fff;}
.timestables-modes .spell-levels h5 {margin: 0 0 10px;}
.treasure-mission-layout h3 {margin: 0 0 15px;}
a.db-back-btn {font-weight: 700; display: inline-flex; align-items: center; position: relative;}
.db-back-btn:before {font-size: 22px; vertical-align: middle;}
.timestables-back-btn,
.login-back-btn {margin: 0 0 10px; display: inline-block; position: relative;color: var(--primary); }
.timestables-back-btn {margin-bottom: 0;}
.timestables-back-btn:before,
.login-back-btn:before, .db-back-btn:before {content: "\2190"; margin-right: 5px; display: inline-block; color: var(--primary); font-weight: 700;}
.timestables-retry-stage {background-color: #f8f9fa; box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .15), 0 3px 1px rgba(52, 52, 52, .075); padding: 10px 15px 10px 35px; display: inline-block; line-height: normal; border-radius: 5px; font-weight: 500; margin-right: 10px; position: relative;}
.timestables-retry-stage:before {background: url(/assets/default/svgs/retry.svg) left center no-repeat; position: absolute; left: 15px; top: 50%; content: ""; height: 12px; width: 12px; background-size: 100%; margin-top: -6px;}
.timestables-retry-stage:hover {background-color: var(--primary); color: #fff; }
.timestables-retry-stage:hover:before {filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);}
.mock-test-assign-btn.active,
.vocabulary-assign-btn.active {border-color: var(--primary); color: var(--primary);}
.rurera-stars {position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%) rotate(2deg); margin-left: -15px; display: flex; gap: 0; margin-bottom: -8px;}
.rurera-stars span {height: 30px; width: 30px; display: block; margin-right: -4px;}
.rurera-stars span img {max-width: 100%; object-fit: contain;}
.rurera-stars .first-star {transform: rotate(45deg);}
.rurera-stars .third-star {transform: rotate(45deg);}
.rurera-stars .second-star {margin-top: -15px; margin-left: -2px; height: 35px; width: 35px;}
.spell-levels li > a {display: inline-flex; height: 62px; width: 68px; text-align: center; background-color: #ddd; border-radius: 100%; align-items: center; justify-content: center; box-shadow: 0 6px 0 1px #b0b0b0; color: #b0b0b0; font-size: 28px; font-weight: 600; position: relative;}
.spell-levels li > a:before {content: ""; height: 70%; width: 4px; position: absolute; left: 50%; top: 100%; margin-left: -2px; background-color: #b0b0b0; margin-top: 10px;}
.spell-levels li:last-child a:before{display: none;}
.spell-levels .treasure > a {background-color: inherit; border-radius: 0; box-shadow: none;}
.spell-levels .completed a {background-color: #8ad1ef; color: #fff; box-shadow: 0 6px 0 1px #2397d2;}
.spell-levels.levels-grouping ul li:has(.levels-progress) a:before {margin-top: 10px;}
.spell-levels.levels-grouping ul li a:before {background-color: #0ebe73;}
.spell-levels.levels-grouping li.treasure {margin-top: -10px;}
.spell-levels.levels-grouping li.treasure a:before {height: 40%; margin-top: 5px;}
.spell-levels li:has(.levels-progress) {margin-bottom: 80px;}
.spell-levels li:first-child:has(.levels-progress) {margin-top: 20px;}
.spell-levels li:has(.levels-progress) a:before {margin-top: 30px;}
.spell-levels li > a:active {box-shadow: 0 4px 0 1px #b0b0b0;}
.spell-levels li.easy > a:active {box-shadow: 0 4px 0 1px #0f6c9b;}
.spell-levels .treasure > a:active {box-shadow: none;}
.spell-levels.levels-grouping li > a {background-color: inherit; height: 80px; width: 80px; box-shadow: none; padding: 0; }
.spell-levels.levels-grouping {background-color: inherit;}
.spell-levels.levels-grouping ul {justify-content: flex-start; flex-direction: column; align-items: flex-start;}
.spell-levels li {display: flex; flex-wrap: wrap; padding: 0; margin: 0 0 58px; position: relative; width: 100%; flex: 0 0 30%; max-width: 30%;}
.spell-levels li .spell-tooltip {position: relative; width: calc(100% - 80px); padding: 0 0 0 25px;}
.spell-levels.levels-grouping li > a:after {content: "\2713"; position: absolute; bottom: -15px; left: 50%; height: 24px; width: 24px; background-color: #15bc76; border-radius: 100%; margin-left: -12px; color: #fff; font-size: 14px; line-height: 24px; box-shadow: 0 0 0 3px #fff; text-align: center; z-index: 3; }
.spell-levels.levels-grouping li:last-child a:before,
.spell-levels.levels-grouping li:last-child a:after {display: none;}
.spell-levels.levels-grouping li.treasure a {box-shadow: none; padding: 0;}
.spell-levels.levels-grouping li.treasure a .thumb-box {background-color: inherit; }
.spell-levels.levels-grouping li.treasure a:after {display: none;}
.spell-levels .panel-subheader h2 {display: inline-block; vertical-align: middle; margin-bottom: 0;}
.spell-levels li:has(.rurera-stars) .lms-tooltip {margin-bottom: 50px;}
/* Timestable Treasure Mission style End */

/* Timestable Showdown Mode style Start */
.lms-performace-table>li {display: flex;align-items: center;padding: 0;}
.lms-performace-table>li.lms-performace-head {padding: 0;}
.lms-performace-table>li.lms-performace-head div {padding: 22px 15px;}
.lms-performace-table>li.lms-performace-head div:first-child {width: 48%;text-align: left;}
.lms-performace-table>li.lms-performace-head div {padding: 22px 15px;width: 15%;text-align: center;}
.lms-performace-table>li.lms-performace-head div span {text-transform: uppercase;font-size: 15px;font-weight: 700;color: #878787;}
.lms-performace-table>li.lms-performace-des .sr-no {border-right: 1px dashed #ddd; /*width: 6%;*/}
.lms-performace-table>li.lms-performace-des div {display: table-cell;padding: 22px 10px;white-space: nowrap;text-align: center;}
.lms-performace-table>li.lms-performace-des div span {font-size: 15px;color: #000;margin: 0;font-weight: 500;margin: 0; white-space: break-spaces;}
.lms-performace-table>li.lms-performace-des {padding: 0;border: 1px dashed #ddd;border-bottom: 0;}
.lms-performace-table>li.lms-performace-des:last-child {border-bottom: 1px dashed #ddd;}
.lms-performace-table>li.lms-performace-des .sr-no span {color: #000;}
.lms-performace-table>li.lms-performace-des .score-des {text-align: left;width: 42%;display: inline-flex;align-items: center;}
.lms-performace-table>li.lms-performace-des .level-up,
.lms-performace-table>li.lms-performace-des .practised,
.lms-performace-table>li.lms-performace-des .time-sepen {width: 15%;}
.lms-performace-table>li.lms-performace-des .coin-earn {max-width: 6%;min-width: 6%;}
.lms-performace-table>li.lms-performace-des .coin-earn span svg {width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 5px;}
.lms-performace-table>li.lms-performace-des .coin-earn span {color: #183152;font-weight: 700;font-size: 18px;}
.lms-performace-table>li.lms-performace-des div span a {color: #4574b9;display: flex;}
.lms-performace-table>li.lms-performace-des div span a svg {margin-left: 15px;width: 20px;height: 20px;}
.lms-performace-table>li.lms-performace-des .badge-btn>span {background: red;color: #fff;font-size: 15px;padding: 0 5px;border-radius: 4px;display: inline-block;height: 38px;width: 38px;margin: 0;line-height: 38px;font-weight: 700;text-align: center;margin: 0 5px;}
.lms-performace-table>li.lms-performace-des .badge-btn {width: 13%;padding: 14px 10px;}
.lms-performace-table h5,
.lms-performace-section .element-title h5 {text-transform: uppercase;color: #183152;font-size: 18px;font-weight: bold;}
.lms-performace-table>li.lms-performace-des:last-child {border-bottom: 1px dashed #c0c0c0;}
.lms-performace-table>li.lms-performace-head div span.coin-icon svg {width: 24px;height: 24px;}
.lms-performace-table figure img {width: 50px;height: 50px;border-radius: 100%;}
.lms-performace-table figure {margin-right: 15px;}
.leaderboard>li.lms-performace-head div:nth-child(2) {width: 55%;text-align: left;}
.leaderboard>li.lms-performace-head div:first-child {width: 8%;}
.leaderboard>li.lms-performace-des .score-des {padding-left: 20px;flex-wrap: wrap; width: 55%;}
.leaderboard>li.lms-performace-des .score-des span {width: calc(100% - 65px);}
.leaderboard>li.lms-performace-head.leaderboard-title div:nth-child(3),
.leaderboard>li.lms-performace-des.leaderboard-des div:nth-child(3){width:25%;}
.leaderboard>li.lms-performace-head.leaderboard-title div:first-child h5{color: #878787;}
.leaderboard>li.lms-performace-des.leaderboard-des .score-des {padding-left: 20px;flex-wrap: wrap; width: 45%;}
.panel-content .leaderboard>li.lms-performace-head div:first-child {
    width: 15%;
    text-align: center;
}
.leaderboard>li.lms-performace-des.leaderboard-des .coin-earn > .badge-btn{width: auto; padding: 0;}
.school-table .simple-table thead {background-color: #fff; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}
.school-table .simple-table td {padding: 15px 20px; font-size: 15px; font-weight: 500; color: #878787; border-top: 1px solid #ddd;}
.group-table .simple-table thead {border: 0;}
.group-table .simple-table thead th,
.group-table .simple-table.text-left thead tr th {padding: 0 10px 0 0;}
.group-table .simple-table tbody td {padding-left: 0; padding-right: 10px; font-size: 15px; color: #878787; border-bottom: 1px solid #ddd;}
.group-table .simple-table tbody td:first-child {min-width: 100px;}
.group-accordions .card {border: 0;}
.group-accordions .card-header {border-radius: 0; padding: 0; border: 0; background-color: inherit;}
.group-accordions .card-header button {padding: 0 20px 0 0; font-size: 16px; font-weight: 500; height: auto; color: var(--primary); position: relative;}
.group-accordions {display: flex; align-items: center; justify-content: space-between;}
.group-qualified span {position: relative; display: block; padding: 0 0 0 16px; font-size: 15px; }
.group-qualified span:before {background-color: var(--primary); border-radius: 100%; content:""; position: absolute; left: 0; top: 50%; margin-top: -6px; height: 12px; width: 12px;}
.group-accordions {display: flex; align-items: center; justify-content: space-between; position: relative;}
.group-qualified span {position: relative; display: block; padding: 0 0 0 16px; font-size: 15px;}
.group-qualified span:before {background-color: var(--primary); border-radius: 100%; content: ""; position: absolute; left: 0; top: 50%; margin-top: -6px; height: 12px; width: 12px;}
.group-accordions .card-header button:after {content: ""; position: absolute; right: 0; top: 50%; height: 10px; width: 10px; border-style: solid; border-width: 2px 0 0 2px; transform: rotate(45deg); margin-top: -2px;}
.group-accordions .card-header button.collapsed:after {border-width: 0 2px 2px 0; margin-top: -8px; }
.lms-performace-table>li.lms-performace-des.leaderboard-des div{white-space: normal;}
.lms-performace-table>li.lms-performace-head.leaderboard-title div span{font-size: 16px; font-weight: 500; text-transform:capitalize;}
.lms-performace-table>li.lms-performace-des .icon-table-1{color: #ffd000;}
.lms-performace-table>li.lms-performace-des .icon-table-2 {color: #c7c7c7;}
.leaderboard-tab .nav-tabs {border-bottom: 0;justify-content: end;}
.lms-performace-head.leaderboard-title h2, .lms-performace-head.leaderboard-title h5{color: #878787; font-weight: 500;}
.lms-performace-head.leaderboard-title h2 {text-align: left !important;}
.leaderboard-tab .nav-tabs .nav-link{border:0;border-radius: 0;background: transparent;border-bottom: 2px solid transparent;padding:0; font-size: 14px;color: #878787;}
.leaderboard-tab .nav-tabs .nav-link.active {background: transparent;border-color: var(--primary);color:var(--primary);}
.leaderboard-tab .nav-tabs .nav-item{margin:0 0 10px 20px;}
.leaderboard-tab .nav-tabs .nav-link:hover {color:var(--primary);}
.leaderboard-sub-header .btn-primary{ background-color: var(--primary);border-color: var(--primary); box-shadow: none;}
.leaderboard-sub-header .btn-outline-primary {color: var(--primary);border-color:var(--primary);}
.leaderboard-sub-header .btn-outline-primary:hover{color:#fff; border-color: transparent;background-color: var(--primary);}
.panel-content .lms-performace-table>li.lms-performace-head div,
.panel-content .lms-performace-table>li.lms-performace-des .level-up,
.panel-content .lms-performace-table>li.lms-performace-des .practised,
.panel-content .lms-performace-table>li.lms-performace-des .time-sepen{width: 25%;}
.panel-content .lms-performace-table>li.lms-performace-head {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.panel-content .lms-performace-table>li.lms-performace-des .sr-no {border-right: 0; width: 15%;}
.panel-content .leaderboard>li.lms-performace-head div:nth-child(2) {width: 45%;}
.panel-content .lms-performace-table>li.lms-performace-des {border: 0; border-bottom: 1px solid #ddd;}
.panel-content .lms-performace-table>li.lms-performace-des:last-child {border-bottom: 0; }
.panel-content .lms-performace-table>li.lms-performace-head div,
.panel-content .lms-performace-table>li.lms-performace-des div {padding: 12px 20px;}
.lms-performace-table>li.lms-performace-des.active {background-color: #f8f8f8;}
.panel-content .school-zone-data.leaderboard-data .leaderboard>li.lms-performace-head div:first-child,
.panel-content .school-zone-data.leaderboard-data .leaderboard>li.lms-performace-des .sr-no { width: 25%; }
.panel-content .school-zone-data.leaderboard-data .leaderboard>li.lms-performace-des .sr-no span { font-size: 16px; font-weight: 400; }
.withdraw-card .ixon-box img {max-width: 30px; object-fit: contain;}
/* Timestable Showdown Mode style End */
.hide {
    display: none !important;
}
.analytics_type_fields,
.subject_topics_list {
    width: 100%;
}
/*Subject Topics List Style Start*/
.subject_topics_list {padding: 0 15px;}
.subject_topics_list .card {border: 1px solid rgba(0,0,0,.125); padding: 0 20px 20px !important;}
.subject_topics_list .card.card-primary {border-top: 2px solid var(--primary);}
.subject_topics_list .card > .card-body {max-height: 160px; overflow: hidden; overflow-y: auto;}
.subject_topics_list .card .card-header {min-height: auto; margin: 0 0 15px;}
/*Subject Topics List Style End*/

/*Analytics_Data_Block Style Start*/
.analytics_data_block {
    width: 100%;
    padding: 0 15px;
}
.analytics_data_block .statuses-list {
    margin: 0 0 25px;
}
.heatmap-table tr.topic-heading-top:first-child th {
    background-color: #f7f7f7 !important;
    border-bottom: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.statuses-list span i {
    margin-right: 5px;
}
.statuses-list span {
    display: inline-flex;
    align-items: center;
}
.topic-parts-data tr.topic-heading-top:first-child th span {
    text-align: center;
    display: block;
}
.topic-parts-data tr.topic-heading-top:first-child th {
    text-align: center;
    vertical-align: middle;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.topic-parts-data .table:not(.table-sm) thead .topic-heading-top th {
    background-color: #ffdfb1 !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-right: none !important;
    border-bottom: none !important;
}
.topic-parts-data .table:not(.table-sm) thead .topic-heading-top th:first-child {
    background-color: #f5f8fb !important;
    border-left: 0 !important;
}
.topic-parts-data .table:not(.table-sm) tbody td:first-child {
    background-color: #f5f8fb !important;
    border-left: 0;
}
.topic-parts-data .table:not(.table-sm) tbody td {
    background-color: #ffdfb1 !important;
    border: 1px solid rgba(0,0,0,0.1);
    border-right: 0;
    border-radius: 0 !important;
}
.topic-parts-data .table:not(.table-sm) tbody tr:last-child td {
    border-radius: 0 !important;
}
.topic-parts-data .table:not(.table-sm):not(.table-md):not(.dataTable) td {
    text-align: center !important;
}
.topic-parts-data .table:not(.table-sm) thead .topic-heading-top:last-child th {
    border-top: none !important;
}
.heatmap-table .split-progress.progress-container {
    gap: 0;
    background: none;
    width: 250px;
    border-radius: 5px;
    height: 20px;
}
.split-progress .progress {
    border-radius: 0;
}
.topic-parts-data .table:not(.table-sm) thead .topic-heading-top:nth-child(odd) th:nth-child(even) {
    background-color: #ffcf8a !important;
}
.topic-parts-data .table:not(.table-sm) thead .topic-heading-top:last-child th:nth-child(4n+3),
.topic-parts-data .table:not(.table-sm) thead .topic-heading-top:last-child th:nth-child(4n+2),
.topic-parts-data .table:not(.table-sm) tbody tr td:nth-child(4n+3),
.topic-parts-data .table:not(.table-sm) tbody tr td:nth-child(4n+2) {
    background-color: #ffcf8a !important;
}
/*Analytics_Data_Block Style End*/
/*****************************
TimesTable Page | Student Panel Style End
*****************************/