/*****************************
Word Lists Page | Student Panel Style Start
Sub Pages Style
*****************************/
.db-back-btn {
    display: inline-block;
    position: relative;
    color: var(--primary);
}
.db-back-btn:before {
    content: "\2190";
    margin-right: 5px;
    display: inline-block;
    color: var(--primary);
    font-weight: 700;
}
/*Spells-Quiz-Info Style Start*/
.spells-quiz-info ul {border: 1px solid #bac3ca; display: flex; gap: 15px; justify-content: space-between;}
.spells-quiz-info ul li {border-left: 1px solid #bac3ca;text-align: center;width: 32%;padding: 15px 0;font-size: 20px;color: #343434;text-transform: uppercase;display: inline-flex;align-items: center;justify-content: center;gap: 5px;}
.spells-quiz-info ul li:first-child {border-left: 0;}
.spells-quiz-info ul li span {display: inline-block; font-weight: 600; font-size: 20px;}
.spells-quiz-info ul li .nub-of-sec {color: #7caf40; }
.spells-quiz-info ul li img {max-width: 100%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; object-fit: contain;}
/*Spells-Quiz-Info Style End*/
.spells-option select {border: 0; padding-right: 5px; color: #999; min-width: 150px;}
.spells-option select option {padding: 5px 0 5px; margin: 10px;}
.spells-topbar {background-color: #f5f5f5; margin: 0 0 30px; display: flex; align-items: center; justify-content: space-between; padding: 10px 25px;}
.spells-topbar .view-btn {border-radius: 50pc; padding: 10px 25px; box-shadow: 0 0 0; border-bottom: 4px solid rgba(0,0,0,0.5);}
.panel-content .spells-topbar .view-btn {min-width: 130px; text-align: center;}
.spells-modal .modal {padding-right: 0 !important; padding-top: 70px; }
.spells-modal .modal-dialog {max-width: 100%; margin: 0;}
.spells-modal .modal-content {border-radius: 0; height: 100%;}
.spells-modal h3,
.spells h3 {margin: 0 0 30px; font-size: 28px;}
.spells-modal h3 span,
.spells h3 span {display: block; font-size: 15px; font-weight: 400; color: #999; padding-top: 5px;}
.spells-modal table {margin-bottom: 0;}
.spells-modal .close,
.spells-back-btn {opacity: 1; background-color: var(--primary); padding: 8px 0; text-shadow: none; display: inline-block; margin-left: 0px; text-align: center; width: 80px;}
.spells-back-btn {border: 0; color: #fff; font-size: 28px; position: absolute;}
.spells-modal .close span {color: #fff; font-size: 30px; line-height: normal; }
.spells-data-list .table tbody td:first-child {width: 20px;}
.spells-data-list .table tbody td{text-align: left;}
.spells-data-list .table thead tr th {padding-left: 15px; text-align: left;}
.spell-question-area .left-content {position: relative; overflow: hidden;}
.spell-completed {overflow: hidden;} 
.spell-completed:before {content: "\2713";position: absolute;right: -6px;top: 24px;width: 35px;height: 35px;text-align: center;border-radius: 100%;background-color: #5acb01;color: #fff;line-height: 35px;font-weight: 700;box-shadow: 0 -2px 0 1px rgba(0,0,0,0.2) inset;}
.spell-tooltip-text strong {display: block; color: #b0b0b0; margin: 0 0 10px; }
.spell-tooltip-text span {color: #666;display: block; }
.spell-tooltip-text .locked-btn {background-color: #e5e5e5; display: block; text-align: center; padding: 13px 0; line-height: normal; border-radius: 12px; font-size: 15px; font-weight: 600; color: #ababab; text-transform: uppercase; min-height: 46px;}
/*Spell Listing page Style Start*/
.spells.elevenplus-block {box-shadow: none;}
.spells .table-bordered,
.simple-table.table-bordered {border: 0; margin-bottom: 0;}
.spells.elevenplus-block .table tbody,
.elevenplus-block .simple-table.table tbody {border-width: 0;}
.spells .play-btn {display: inline-block; position: relative; width: 20px; height: 20px; vertical-align: middle; }
.play-btn img {position: absolute; left: 0; top: 50%; margin-top: -10px; width: 20px; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.play-btn .pause-icon {filter: invert(20%) sepia(5%) saturate(18%) hue-rotate(348deg) brightness(89%) contrast(94%); opacity: 0;}
.play-btn.pause .pause-icon {opacity: 1;}
.play-btn.pause .play-icon {opacity: 0;}
.spells .dataTable thead {background-color: inherit; border-bottom: 2px solid #ddd;}
.spells .dataTable thead tr th{color: #333;}
.spells .dataTable thead tr th {padding-bottom: 20px; padding-top: 20px;}
.spells .dataTable thead tr th:first-child {padding-left: 15px;}
.spells td span {font-size: 12px; font-weight: 600; color: #999;}
.spells .table tbody td {position: relative;}
.player-box {position: absolute; top: 100%; left: 0; background-color: #fff; z-index: 1; padding: 10px; box-shadow: 0 0 5px rgba(0,0,0,0.1); opacity: 0;}
.word-char {display: inline-flex; width: 40px; flex-direction: column; justify-content: center; align-items: center; border: 1px solid #ddd; position: relative; border-radius: 5px; margin: 5px 5px 5px 0; overflow: hidden; vertical-align: middle;}
.word-char .play-btn {display: inline-block; height: 20px; width: 20px; position: relative; margin-right: 0;}
.word-char > span {line-height: normal; padding: 5px 0; color: #000; width: 100%; text-align: center; font-size: 14px;}
.word-char .pronounce-letter {background-color: #f6f6f6; font-weight: bold;}
.word-char .pronounce-word {background-color: #ddd;}
.spells .dataTable td a {font-weight: 600; font-size: 18px; text-decoration: none; }
/*Spell Listing page Style End*/
/*Spells, rurera.com/spells/ Subscription-Modal Style Start*/
.spell-words-filters {padding-top: 30px; }
.spell-words-filters .row {align-items: center;}
.spell-words-filters .form-group {margin-bottom: 0; display: inline-block; vertical-align: middle; margin-left: 10px;}
.spell-words-filters .form-group select {border: 1px solid #ddd; padding: 7px 25px 7px 10px; border-radius: 6px; appearance: none;}
.spell-words-filters .form-group:has(select):before,
.spell-words-data .word-block label .down-arrow {content: ""; position: absolute; right: 10px; top: 50%; height: 6px; width: 6px; border: 1px solid #666; border-left: transparent; border-top: transparent; transform: rotate(45deg); margin-top: -5px; pointer-events: none;}
.spell_words_popup .spell-words-filters input.search-word {height: 36px; padding: 5px 10px; }
.spell-words-data {padding-top: 30px; display: flex; flex-wrap: wrap; gap: 0 15px; align-items: flex-start; position: relative;}
.spell-words-data .word-block-inner {width: 100%; display: flex; flex-wrap: wrap; gap: 0 10px;}
.spell-words-data .word-block {display: inline-block; width: 32.3%; }
.spell-words-data .word-block:has(label.collapsed){border-bottom: 1px solid #ececec;}
.spell-words-data .word-block label {margin-bottom: 0; font-weight: 400; position: relative; background-color: #e8f0fd; padding: 15px 0; width: 100%;}
.spell-words-data .word-block label.collapsed {background-color: inherit;}
.spell-words-data .word-block label .down-arrow {border: 1px solid #666; border-bottom: transparent; border-right: transparent; pointer-events: visible; cursor: pointer; z-index: 1;}
.spell-words-data .word-block label.collapsed .down-arrow {transform: rotate(45deg); border: 1px solid #666; border-top: transparent; border-left: transparent;}
.spell-words-data .word-block input[type="checkbox"] {position: absolute; opacity: 0; width: 0; height: 0;}
.spell-words-data .word-details {color: #999; font-weight: 400; position: relative; background-color: #fff; width: 100%; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; padding: 20px 0; z-index: 1;}
.word-details .close-btn {position: absolute; right: 0; border: 0; background-color: inherit; font-weight: 600;}
.spell-words-filters .play-again {color: #fff; padding: 8px 35px 8px 15px; background-color: var(--primary); text-transform: uppercase; border-radius: 2px; box-shadow: 0px 4px 0 1px rgba(0, 0, 0, 0.8); font-weight: 500; position: relative;}
.spell-words-filters .play-again:after {content: ""; position: absolute; right: 12px; top: 50%; width: 15px; height: 15px; background: url(/assets/default/svgs/play-fill-white.svg) no-repeat; background-size: contain; margin-top: -6px;}
.word-block .play-btn {position: relative;}
.word-details > .play-btn {padding: 0 10px; margin-right: 4px; position: relative;}
.droppable-characters {display: flex; align-items: center; justify-content: center; margin-bottom: 25px; gap: 5px; padding-top: 40px; flex-wrap: wrap;}
.droppable-characters li {background-color: var(--primary); color: #fff; text-transform: uppercase; font-weight: 600; padding: 20px; min-width: 35px; border-radius: 5px; line-height: normal;}
.spells-quiz-from button {min-width: 150px; background-color: inherit; padding: 12px 15px; text-transform: uppercase; border-radius: 5px; color: #000; border: 1px solid #e7e7e7; margin: 0 5px;}
.spells-quiz-from button:hover {background-color: #46484a; color: #fff;}
.spells-quiz-from .form-btn-field {padding-top: 30px; margin-top: auto;}
.spells-quiz-sound strong .sound-icon,
.question-status-modal .modal-title h3 .sound-icon {background-color: #fff; display: inline-block; vertical-align: middle; color: #9c0e28; font-size: 22px; height: 26px; width: 26px; box-shadow: 0 0 4px rgba(0,0,0,0.4); line-height: 26px; border-radius: 100%; cursor: pointer;}
.spells-quiz-sound strong .sound-icon {margin-right: 10px;}
.spells-quiz-from button svg {vertical-align: middle; height: 18px !important; width: 18px !important; margin-left: 5px;}
.spells-quiz-from button svg g {fill: #929198;}
.spells-quiz-from button:hover svg g {fill: #fff;}
.spells-quiz-from .question-submit-btn {border-color: #8fc963; color: #8fc963; position: relative; padding-right: 38px;}
.spells-quiz-from .question-submit-btn:after{content: ""; position: absolute; right: 15px; top: 50%; height: 7px; width: 14px; border: 2px solid; border-top: 0; border-right: 0; transform: rotate(-50deg); margin: -5px 0 0 0;}
.spells-quiz-from .question-submit-btn:hover {border-color: transparent;}
.lms-quiz-section .questions-data-block {border: 0;}
.spells-quiz-from .form-field:has(.frontend-field-error) { display: inline-block; position: relative; border: 0;}
.spells-quiz-from .form-field:has(.frontend-field-error):before {content: ""; position: absolute; bottom: 0px; left: 0; width: 96%; height: 3px; border-bottom: 3px solid #dd4343;}
.spell-question-area .question-label {text-align: center; padding: 60px 0 30px;}
.spells-table-inner .table tbody td:has(.word-char) {min-width: 380px;}
.spells-quiz-from .keyboard-btn,
.keyboard-btn {background-color: #fff; border: 1px solid #ccc;padding: 8px 25px;text-transform: capitalize;font-weight: 500;display: inline-flex;align-items: center;justify-content: center;margin-bottom: 25px;min-width: auto;color: #ccc;}
.keyboard-btn .icon-box {margin-left: 10px;}
.keyboard-btn img {max-width: 100%; display: inline-block; width: 25px; height: 25px;}
body .spell-question-area .question-label span {text-align: center;}
.learning-page.type-vocabulary .spell-quiz-page .left-content:has(table[id*='word-search-']) {height: auto;}
.spell-quiz-page table[id*='word-search-'] {margin: 0 auto;}
.spell-quiz-page table[id*='word-search-'] td {border-color: #d9d9d9;}
.spells-quiz-from .word-cloud-box {max-height: 130px; min-height: 130px; width: 130px; list-style: none;}
/*Spells, rurera.com/spells/ Subscription-Modal Style End*/

/*Spellings Landing page Style Start*/
.spell-levels .progress-star {height: 20px; width: 20px; border-radius: 100%; text-align: center; display: inline-flex; align-items: center; justify-content: center; position: absolute; padding: 0; margin: 4px 0 0 8px;}
.progress-star img {max-width: 100%; width: 10px; height: 10px; object-fit: contain;}
.spell-levels .progress-star.success {background-color: #7aaf77;}
.spell-levels .progress-star.danger {background-color: #eb4343;}
.spell-levels .progress-star.improvement {background-color: #ffcc21;}
.spell-levels ul {display: none;flex-wrap: wrap;gap: 30px;justify-content: center;flex-direction: column; padding: 0 20px 20px 30px;}
.spell-levels li > a {display: inline-flex; height: 62px; width: 68px; text-align: center; background-color: #ddd; border-radius: 100%; align-items: center; justify-content: center; box-shadow: 0 6px 0 1px #b0b0b0; color: #b0b0b0; font-size: 28px; font-weight: 600; position: relative;}
.spell-levels li > a:before {content: ""; height: 70%; width: 4px; position: absolute; left: 50%; top: 100%; margin-left: -2px; background-color: #b0b0b0; margin-top: 10px;}
.spell-levels li:last-child a:before{display: none;}
.spell-levels .treasure > a {background-color: inherit; border-radius: 0; box-shadow: none;}
.spell-levels {background-color: #fff; border: 2px solid #e5e5e5; border-bottom-width: 4px; border-radius: 8px; padding: 0; margin: 0 0 30px; position: relative;}
.spell-levels .completed a {background-color: #8ad1ef; color: #fff; box-shadow: 0 6px 0 1px #2397d2;}
.spell-levels-top {display: flex; align-items: center;justify-content: space-between;margin: 0;flex-wrap: wrap;padding: 20px; cursor: pointer;}
.spell-levels-top .spell-top-left h3 {margin-bottom: 0; position: relative;}
.spell-levels.levels-grouping ul li:has(.levels-progress) a:before {margin-top: 10px;}
.spell-levels.levels-grouping ul li a:before {background-color: #0ebe73;}
.spell-levels.levels-grouping li.treasure {margin-top: -10px;}
.spell-levels.levels-grouping li.treasure a:before {height: 40%; margin-top: 5px;}
.spell-levels li:has(.levels-progress) {margin-bottom: 80px;}
.spell-levels li:first-child:has(.levels-progress) {margin-top: 20px;}
.spell-levels li:has(.levels-progress) a:before {margin-top: 30px;}
.spell-levels-top .spell-top-left {flex-direction: column;display: flex;align-items: flex-start;padding-right: 10px; width: calc(100% - 160px);}
.spell-levels li > a:active {box-shadow: 0 4px 0 1px #b0b0b0;}
.spell-levels li.easy > a:active {box-shadow: 0 4px 0 1px #0f6c9b;}
.spell-levels .treasure > a:active {box-shadow: none;}
.spell-levels.levels-grouping li > a {background-color: inherit; height: 80px; width: 80px; box-shadow: none; padding: 0; }
.spell-levels.levels-grouping {background-color: inherit;}
.spell-levels.levels-grouping ul {justify-content: flex-start; flex-direction: column; align-items: flex-start;}
.spell-levels li {display: flex; flex-wrap: wrap; padding: 0; margin: 0 0 58px; position: relative; width: 100%;}
.spell-levels li:last-child {margin-bottom: 15px;}
.spell-levels li .spell-tooltip {position: relative; width: calc(100% - 80px); padding: 0 0 0 25px;}
.spell-levels.levels-grouping li > a:after {content: "\2713"; position: absolute; bottom: -15px; left: 50%; height: 24px; width: 24px; background-color: #15bc76; border-radius: 100%; margin-left: -12px; color: #fff; font-size: 14px; line-height: 24px; box-shadow: 0 0 0 3px #fff; text-align: center; z-index: 3; }
.spell-levels.levels-grouping li:last-child a:before,
.spell-levels.levels-grouping li:last-child a:after {display: none;}
.spell-levels.levels-grouping li.treasure a {box-shadow: none; padding: 0;}
.spell-levels.levels-grouping li.treasure a .thumb-box {background-color: inherit; }
.spell-levels.levels-grouping li.treasure a:after {display: none;}
.spell-levels .panel-subheader h2 {display: inline-block; vertical-align: middle; margin-bottom: 0;}
.spell-levels li:has(.rurera-stars) .lms-tooltip {margin-bottom: 50px;}
.words-count {background-color: #fff; border: 1px solid #e5e5e5; border-radius: 8px; min-width: 160px; text-align: center; min-height: 46px; display: inline-flex; align-items: center; justify-content: center; line-height: normal; border-bottom-width: 4px; color: #9b9b9b; font-weight: 700;}
.words-count span {margin-right: 5px;}
.words-count img {margin-right: 8px; width: 15px; object-fit: contain;}
.spell-links {display: flex; gap: 15px 40px; align-items: center; margin-top: 20px; margin-bottom: 10px;}
.spell-links a {color: var(--primary);}
.spell-links .rurera-tooltip.dropup .dropdown-menu[x-placement^=bottom] {margin-top: 15px;}
/*Spellings Landing page Style End*/

/* Sentences Screens Style Start */
.spell-question-area .spells-quiz-from {padding-bottom: 150px;}
body:has(.sentences-block) .top-navbar,
body:has(.sentences-block) footer.footer.footer-home {display: none;}
.sentences-inner {border: 4px solid #333; border-radius: 10px; position: relative; height: calc(100vh - 20px);}
.sentences-block .sentences-body {margin-top: auto; margin-bottom: auto;}
.sentences-block {background-color: #fcf7f0; padding: 10px;}
.sentences-block:not(.active) {display: none;}
.sentences-top {min-height: 180px;}
.sentences-top.auto-height {min-height: auto;}
.sentences-controls {gap: 30px;}
.sentences-top:has(.home-btn) {margin-top: -15px; padding-left: 50px;}
.sentences-controls a {background-color: #fff000; border: 3px solid #333; padding: 12px 15px; line-height: normal; border-radius: 5px; box-shadow: 0 0 0 2px #fff inset; min-width: 140px; display: flex; align-items: center; justify-content: center; gap: 15px;}
.sentences-top h2 strong {color: #e50606;}
.sentences-select-option li {display: inline-flex; line-height: normal; list-style: none; align-items: center; justify-content: center; margin-right: -4px; padding: 0 5px 10px; position: relative;}
.sentences-select-option li label {border: 2px solid #333; border-radius: 5px; background-color: #f9e5ca; box-shadow: 0 0 0 2px #fff inset; padding: 10px 10px; display: block; line-height: normal; min-width: 140px; margin: 0; position: relative; font-size: 14px; text-align: center; font-weight: 500; cursor: pointer; }
.sentences-select-option li label:after {position: absolute; right: 10px; top: 50%; transform: translateY(-50%); content: "\2713"; font-size: 16px; color: #1c7d1c; font-weight: 700; opacity: 0; visibility: hidden; }
.sentences-select-option li input[type=checkbox]:checked + label:after {visibility: visible; opacity: 1; }
.sentences-select-option li input[type=checkbox] {position: absolute; opacity: 0; }
.sentences-select-option li input[type=checkbox]:checked + label {background-color: #eaa74b; }
.sentences-select-option li input[type=checkbox]:checked + label .icon-cross {visibility: hidden; opacity: 0; }
.sentences-select-option li label .icon-check, 
.sentences-select-option li label .icon-cross {color: #1c7d1c; font-weight: 700; position: absolute; right: 10px; font-size: 16px; top: 50%; transform: translateY(-50%);}
.sentences-select-option li label .icon-cross {color: #c40b0b;}
.sounds-block a {background-color: #ffebd3; border: 3px solid #333; border-radius: 5px; display: flex; flex-direction: column; align-items: center; justify-content: center; min-width: 100px; padding: 3px; box-shadow: 0 0 0 3px #fff inset;}
.sounds-block {display: flex; align-items: center; justify-content: center; flex-wrap: wrap; gap: 10px;}
.sounds-block .icon-box {height: 25px; width: 25px; display: inline-block; }
.sounds-block .icon-box img {max-width: 100%;}
.sentences-controls a span {height: 25px; width: 25px; display: inline-block;}
.sentences-controls a span img {max-width: 100%;}
.sounds-block a strong {min-height: 100px; font-size: 28px; display: flex; width: 100%; color: #fff; border-radius: 4px 4px 0 0; align-items: center; justify-content: center;}
.sounds-block a strong.wrong {background-color: #e53434;}
.sounds-block a strong.correct {background-color: var(--primary);} 
.sentences-input-field {margin: 0 0 50px;}
.sentences-input-field input[type="text"] {height: 60px; max-width: 400px; min-width: 400px; border: 3px solid #333; border-radius: 5px; padding: 0 15px; text-align: center; font-weight: 700;}
.home-btn {background-color: #ffc760; height: 50px; width: 50px; display: block; padding: 5px; border-radius: 5px; box-shadow: 0 0 0 2px #fff inset; border: 2px solid #333;}
.home-btn img {max-width: 100%;}
.sentences-block .back-btn {position: absolute; left: 10px; top: 10px; text-align: center; background-color: #ffc760; height: 50px; width: 50px; display: block; padding: 5px; border-radius: 5px; box-shadow: 0 0 0 2px #fff inset; border: 2px solid #333; line-height: 32px; font-size: 36px; }
/* Sentences Screens Style End */
/*Alphabet List Style Start*/
.alphabet-list-holder {background-color: #fff; border: 1px solid #999; margin: 0 0 30px; display: flex; align-items: flex-start; flex-wrap: wrap;}
.alphabet-search {border-bottom: 1px solid #eee; padding: 53px 30px; min-height: 154px; width: 40%;}
.alphabet-list {border-left: 1px solid #eee; width: 60%;}
.alphabet-search form {margin: 0;}
.alphabet-search .form-field {position: relative;}
.alphabet-search input[type="text"] {width: 100%; height: 46px; border-radius: 50px; border: 1px solid #eee; padding: 0 50px 0 20px; outline: none; font-size: 16px;}
.alphabet-search button {position: absolute; right: 0; top: 0; height: 100%; border: 0; background-color: inherit; padding: 0 20px;}
.alphabet-s {height: 100%; border: 0; background-color: inherit; padding: 0 20px;}
.alphabet-search button i {font-size: 18px; color: #ccc;}
.alphabet-list-card {display: flex; align-items: flex-start; border-bottom: 1px solid #eee; }
.alphabet-list-child {border-left: 1px solid #eee; width: 100%; }
.alphabet-list-card > span {padding: 25px 30px 15px; font-size: 20px; color: #999; min-width: 80px; text-align: center;}
.alphabet-list-child li {border-bottom: 1px solid #eee; padding: 27px 30px 26px 30px; line-height: normal; display: flex; flex-direction: column; position: relative; font-size: 18px;}
.alphabet-list-child li:last-child {border-bottom: 0;}
.alphabet-list .add-btn.collapsed {text-indent: 0px;}
.alphabet-list .add-btn {border: 1px solid #ddd; color: #ddd; height: 36px; width: 36px; text-align: center; border-radius: 100%; font-size: 28px; line-height: 32px; position: absolute; top: 20px; right: 25px; text-indent: -999999px;}
.alphabet-list .add-btn.collapsed:before {width: 0;}
.alphabet-list .add-btn:before {content: ""; position: absolute; left: 50%; top: 50%; height: 2px; width: 18px; border-bottom: 2px solid #ddd; margin: -1px 0 0 -9px; transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s;}
.alphabet-list .card-body {padding: 20px 0 0 0; color: #666; font-size: 16px;}
/*Alphabet List Style End*/
/* Vertical Keyboard Style Start */
.rurera-virtual-keyboard {margin: 60px 0 30px;}
.virtual-keyboard .row {text-align: center; margin: 0 0 1%; gap: 3px 0;}
.virtual-keyboard .row.spacebar input {min-width: 340px; min-height: 40px; text-align: center;}
.virtual-keyboard input[type=button],
.virtual-keyboard button[type=button] {border-radius: 5px; border: 1px solid #d9d9d9; background: #f5f5f5; color: #000; text-transform: uppercase; margin: 0 0.5%; max-width: 50px; text-align: center; min-width: 50px; min-height: 35px; max-height: 35px; padding: 0; font-weight: 700;}
.virtual-keyboard input[type=button].shift-activated {background: red;}
.virtual-keyboard input[type=button].delete, .virtual-keyboard input[type=button].shift,
.virtual-keyboard button[type=button].delete {text-transform: uppercase; background-color: #363636; color: #fff; border-color: transparent; font-weight: 400;}
.delete img {max-width: 100%; height: 20px; width: 20px; object-fit: contain;}
.output {margin: 15px;}   
.output input {color: white; background: black; border: 0px; line-height: 2.2em; text-align: center; font-size: 2em; width: 100%;}
.output input:focus {outline: none; border: 0px;}
.output ::-webkit-input-placeholder {color: white; text-align: center; font-size: 1em;}
/* Vertical Keyboard Style End */

/* Spell Words popup Style Start */
.modal.spell_words_popup {background-color: #fafafa; padding-left: 0 !important; padding-right: 0 !important;}
.modal.spell_words_popup:has(.wizard-steps) {overflow: hidden;}
.modal.spell_words_popup:has(.wizard-steps) .modal-body {padding-left: 0; padding-right: 0; padding-top: 30px; overflow: hidden; overflow-y: auto;}
.spell_words_popup .modal-dialog {max-width: 100%; margin: 0;}
.spell_words_popup .modal-header{border-bottom: 0;}
.spell_words_popup .panel-header .close,
.spell_words_popup .close {color: var(--primary);font-size: 1rem; font-weight: 500; opacity: 1; text-align: right; position: absolute; z-index: 1; padding: 5px 10px 2px; top: 50%; right: 20px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); text-shadow: none; border-radius: 5px; border: 1px solid var(--primary); margin-top: 0; width: auto;}
.spell_words_popup .close {transform: none;margin-top: 15px;top: 0;}
.spell_words_popup .close span {font-size: 1.8rem; vertical-align: middle; display: inline-block; margin-top: -5px; line-height: 30px;}
.spell_words_popup .panel-header .close a,
.spell_words_popup .close a {color: var(--primary);}
.spell_words_popup .modal-logo {padding: 20px 25px 0; }
.spell_words_popup .modal-logo img {height: 50px; width: 50px; object-fit: contain;}
.spell_words_popup .modal-dialog {height: 100%;}
.spell_words_popup .modal-content {background-color: #fafafa; border: 0; position: relative; box-shadow: none; border-radius: 0; height: 100%;}
.spell_words_popup:has(.form-login-reading) .modal-content,
.spell_words_popup .modal-content:has(.subscription-content) {height: 100%;}
.spell_words_popup .modal-body .nav-link {width: 300px; margin: 25px auto;height: 60px;line-height: 44px; font-size: 18px;font-weight: bold; text-transform: capitalize;}
.spell_words_popup .form-group{position: relative;}
.spell_words_popup .input-field {border: 0;border-radius: 0;background: none;padding: 0;height: auto;width: 100%;position: relative;}
.spell_words_popup .input-field input[type="text"],
.spell_words_popup .select-box select,
.spell_words_popup .payment-options-holder {max-width: 80%; margin: 0 auto;}
.spell_words_popup .discount-code-block input[type="text"] {background-color: #fff; border: 1px solid #ddd;}
.spell_words_popup .discount-code-block .nav-link {width: auto; background-color: inherit; border-radius: 5px !important; box-shadow: none; color: var(--primary); border: 1px solid var(--primary); text-align: center; height: 52px; line-height: 30px; position: relative; margin-top: 30px; font-weight: 500; margin-bottom: 0; }
.spell_words_popup .discount-code-block .nav-link:after {content: "\2192"; display: inline-block; font-weight: 500; font-size: 24px; vertical-align: middle; margin-left: 10px;}
.spell_words_popup .discount-code-block p {margin: 0 0 10px; color: var(--primary); font-weight: 500;}
/* Spell Words popup Style End */

/*****************************
 Word Lists Page | Student Panel Style End
*****************************/