.populated-content-area[class*="col-"] {padding: 0;}
.radio-buttons {display: flex; flex-wrap: wrap; gap: 15px; width: 100%;}
.radio-buttons .card-radio {width: 11.111%; margin-bottom: 0;}
.populated-data .radio-btn {border: 2px solid transparent; border-radius: 6px; display: flex; position: relative; text-align: center; box-shadow: 0 0 10px #c3c3c367; cursor: pointer; padding: 15px 12px; min-height: 111px; align-items: center; justify-content: center; height: auto;}
.populated-data .radio-btn.disabled-style {opacity: 0.5;}
.populated-data .radio-btn.disabled-style:hover {opacity: 1;}
.populated-data .setwork-fields .radio-btn,
.populated-data .timestables_fields .radio-btn {border-radius: 5px; min-height: 80px; padding: 10px;}
.card-radio input {display: none;}
.card-radio input:checked + .radio-btn {background-color: #fff;}
.radio-btn .card-icon h3 {color: #555; font-size: 14px; font-weight: 500; margin-bottom: 0; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-clamp: 1; overflow: hidden; text-overflow: ellipsis;}
.populated-data .input-label {font-size: 14px; color: #666; font-weight: 400;}
.populated-data .ui-widget.ui-widget-content {margin-top: 15px;}
.populated-data .heatmap-range-slider .ui-slider.ui-widget-content {margin-top: 0; flex-basis: 82%; width: 82%;}
.select2-container--default .select2-selection--single {background-color: #fdfdff; border-color: #e4e6fc; }
.populated-data .form-control {background-color: inherit; border-color: #ced4da; border-radius: 4px !important; -webkit-appearance: none;appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}
.populated-data .select2-selection--single,
.populated-data .select2-container--default .select2-selection--multiple {background-color: #fff; border-color: #ced4da;}
.populated-data .select2-container--default .select2-selection--single .select2-selection__arrow b {border: 0;}
.populated-data .select2-selection__arrow {position: relative;}
.populated-data .select2-selection__arrow:before,
.form-group .input-group:has(select):before {position: absolute; right: 15px; top: 50%; margin-top: -8px; height: 8px; width: 8px; content: ""; border-top: 1px solid #aaa; border-left: 1px solid #aaa; transform: rotate(-140deg); z-index: 1;}
.select2-container--default .select2-search--dropdown .select2-search__field {outline: none;}
.populated-data .select2-container .select2-selection--single .select2-selection__rendered {height: 38px !important; line-height: 38px !important; }
.populated-data .select2-container--default .select2-selection--single {height: 38px !important; border-color: #ced4da; }
.populated-data .questions-select-number {max-width: 50%; }
.populated-data .questions-select-number ul {margin-bottom:0 !important; gap: 8px; margin-left: 0;}
.populated-data .questions-select-number li {flex-basis: 32%; padding: 0;}
.populated-data .questions-select-number label {min-height: 50px; font-size: 16px;}
.populated-data .form-group .input-group:has(select) {position: relative;}
.populated-data .input-group-text {border-radius: 4px 0 0 4px; border-color: #ced4da;}
.populated-data .input-group-prepend ~ .form-control {border-radius: 0 4px 4px 0 !important;}
.card-icon svg {max-width: 35px; max-height: 35px; fill: #495057; vertical-align: top; margin: 0 0 10px;}
.card-icon path {fill: #495057;}
.years-group.populated-data {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -o-user-select: none; user-select: none;}
.wizard-steps .years-group {margin-bottom: 40px;}
.years-group.populated-data .form-group img {border-radius: 3px; width: 65px; height: 45px; margin-bottom: 15px; object-fit: contain;}
.card .card-body {padding-top: 20px; padding-bottom: 20px;}
.card .card-body .section-title {margin: 30px 0 10px 0; font-size: 16px;}
.card .card-body .section-title:before {margin-top: 8px; }
.card .card-body .section-title + .section-lead {margin-top: -5px;}
.card .card-body p {font-weight: 500;}
.card .card-header {border-bottom-color: #f9f9f9; line-height: 30px; -ms-grid-row-align: center; align-self: center; width: 100%; min-height: 50px; padding: 15px 25px; display: flex; align-items: center; overflow: hidden;}
.card .card-header .btn {margin-top: 1px; padding: 2px 15px;}
.card .card-header .btn:not(.note-btn) {border-radius: 30px;}
.card .card-header .btn:hover {box-shadow: none;}
.card .card-header .form-control {height: 31px; font-size: 13px; border-radius: 30px;}
.card .card-header .form-control + .input-group-btn .btn {margin-top: -1px;}
.card .card-header h4 {font-size: 16px; line-height: 28px; color: var(--primary); padding-right: 10px; margin-bottom: 0;}
.card .card-header h4 + .card-header-action,
.card .card-header h4 + .card-header-form {margin-left: auto;}
.card .card-header h4 + .card-header-action .btn,
.card .card-header h4 + .card-header-form .btn {font-size: 12px; border-radius: 30px !important; padding-left: 13px !important; padding-right: 13px !important;}
.wizard-steps .form-group .add-student-modal img {border: 1px solid var(--primary); border-radius: 100%; margin-bottom: 10px; max-width: none; width: 38px; height: 38px; padding: 8px; filter: invert(43%) sepia(63%) saturate(4197%) hue-rotate(220deg) brightness(100%) contrast(99%);}
.wizard-steps .add-student-modal h3 {color: var(--primary); font-size: 16px;}
.wizard-steps .radio-btn .card-icon span {display: block; margin: 0 0 -22px; opacity: 0; visibility: hidden; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; font-size: 13px; color: #ccc; margin-top: 5px; font-weight: 500;}
.wizard-steps .card-icon {position: relative; }
.wizard-steps .radio-btn:hover .card-icon span {opacity: 1; visibility: visible; margin: 5px 0 0; }
.add-student-modal .radio-btn {min-height: 140px; }
.wizard-steps .radio-buttons .card-radio {/*min-height: 165px;*/ width: auto;}
.wizard-steps .radio-buttons .card-radio:has(img) {width: 11.111%;}
.wizard-steps .radio-buttons .card-radio .radio-btn {min-height: 50px;}
/*Range Slider Style Start*/
.range-slider {position: relative; width: 100%;	height: auto; min-height: 80px;}
.range-slider-field {width: 100%; position: absolute; top: 50%; z-index: 3; transform: translateY(-50%); -webkit-appearance: none; appearance: none; width: 100%; height: 4px; opacity: 0; margin: 0; }
.range-slider-field::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 60px; height: 60px; cursor: pointer; border-radius: 50%;opacity: 0;}
.range-slider-field::-moz-range-thumb {width: 60px; height: 60px;cursor: pointer; border-radius: 50%; opacity: 0;}
.range-slider_thumb {width: 50px; height: 50px;	border: 3px solid #303030;	border-radius: 50%;	position: absolute;	left: 0; top: 50%; transform: translateY(-50%);	background-color: #f4f4f4;	display: flex;justify-content: center;align-items: center;font-weight: 700;font-size: 14px;color: #303030;z-index: 2; margin-left: 2px;}
.range-slider_line {height: 0.5vmin; width: 99.777%; background-color: #e1e1e1; top: 50%; transform: translateY(-50%); left: 2px; position: absolute; z-index: 1;}
.range-slider_line-fill {position: absolute;height: 0.5vmin;width: 0;background-color: #303030;}
/*Range Slider Style End*/
.form-check-input{-webkit-appearance: auto; appearance: auto;}
.assignment_topic_type_fields .form-check {margin-bottom: 10px; padding-left: 5px;}
.card .card-body .row[class*="col-"] {padding-right: 0; padding-left: 0; margin: 0;}

/*Sats-listing-card style on set-work-page start*/
.sats-listing-card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.sats-listing-card .img-holder {
    margin-bottom: 15px;
}
.sats-listing-card .img-holder img {
    max-width: 100%;
    transition: all .5s;
}
.sats-listing-card:hover .img-holder img {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
}
.sats-listing-card .text-holder span {
    color: #6d6d6d;
    font-weight: 500;
    display: block;
    margin: 0 0 5px;
    line-height: normal;
}
.sats-listing-card .text-holder h4 {
    margin: 0 0 15px;
    font-size: 20px;
}
.sats-listing-card .text-holder h4 a {
    color: #000;
}
.sats-listing-card .img-holder figure {
    position: relative;
}
.sats-listing-card .img-holder figure > a {
    display: block;
}
.sats-listing-card .waiting {
    background-color: #fdfd9b;
    color: #222;
}
.sats-listing-card .passed {
    background-color: #7eb282;
}
.sats-listing-card .img-holder figcaption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 15px 15px;
    pointer-events: none;
}
.sats-listing-card.medium .row {
    align-items: center;
}
.sats-listing-card.medium .img-holder {
    margin-bottom: 0;
}
.sats-listing-card.medium .text-holder h4 {
    margin-bottom: 0;
}
.sats-listing-card table {
    width: 100%;
}
.sats-listing-card table img {
    max-width: 50px;
    display: inline-block;
    margin-right: 15px;
}
.sats-listing-card table h4 {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 70px);
    line-height: normal;
    position: relative;
}
.sats-listing-card table h4 img {
    vertical-align: middle;
    margin: 0;
    max-width: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sats-listing-card thead {
    background-color: var(--primary);
}
.sats-listing-card.medium {
    border-radius: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0 15px;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}
.sats-listing-card thead th, .panel-section-card .custom-table thead td, .panel-section-card .custom-table thead th {
    padding: 15px 20px;
    color: #333;
    text-align: left;
    font-weight: 600;
}
.sats-listing-card tbody tr td:nth-child(2) {
    min-width: 500px;
    padding-left: 10px;
}
.col-lg-9 .sats-listing-card tbody tr td:nth-child(2) {
    min-width: 390px;
}
.sats-listing-card .rurera-unlock-item img, .sats-listing-card .rurera-lock-item img {
    margin-right: 0;
}
.panel-content .sats-listing-card tbody tr td:nth-child(2) {
    min-width: auto;
}
.sats-listing-card tbody tr td {
    border-bottom: 1px solid #ececec;
    padding: 25px 20px;
}
.sats-listing-card .attempt-progress {
    min-width: 120px;
}
.sats-listing-card.medium .media-holder {
    margin: -15px 0 0 12px;
    background-color: #fff;
    width: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    min-height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sats-listing-card.medium .media-holder:after, .sats-listing-card.medium .media-holder:before {
    width: 0;
    height: 0;
    border-bottom: 14px solid #a1a5a6;
    border-right: 12px solid transparent;
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
}
.sats-listing-card.medium .media-holder:before {
    border-left: 12px solid transparent;
    border-right: 0;
    left: -12px;
    right: auto;
}
.sats-listing-card.medium figure {
    background-color: #fff;
}
.sats-listing-card.medium figure img {
    max-width: 50px;
}
.sats-listing-card.medium .text-holder {
    width: calc(100% - 115px);
    padding: 15px 0 0 15px;
}
.sats-listing-card.medium .list-top {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
.sats-listing-card.medium .text-holder h4 {
    font-weight: 500;
    margin-bottom: 12px;
}
.sats-listing-card.medium .text-holder h4 a {
    color: #39363f;
}
.sats-listing-card.medium .text-holder h4 .sub_label {
    font-size: 14px;
    padding-top: 5px;
}
.sats-listing-card.medium .text-holder p {
    font-size: 14px;
    color: #a0a4ad;
    font-weight: 600;
    margin: 0;
}
.sats-listing-card.medium .text-inner {
    padding-right: 20px;
}
.sats-listing-card.medium .simple-table tbody tr:nth-child(even), 
.sats-listing-card.medium .simple-table tbody tr:nth-child(even):hover, 
.panel-section-card tbody tr:nth-child(even), .panel-section-card tbody tr:nth-child(even) {
    background-color: #fff !important;
}

.sats-listing-card.medium .simple-table tbody tr:nth-child(odd), .panel-section-card tbody tr:nth-child(odd), .sats-listing-card.medium .simple-table tbody tr:hover {
    background-color: inherit !important;
}
.sats-listing-card.medium .total-tests {
    padding: 0 0 30px;
}
.sats-listing-card.medium table .total-tests {
    padding-bottom: 10px;
}
.sats-listing-card.medium .simple-table tbody:has(.total-tests) tr:nth-child(even) {
    background-color: inherit !important;
}
.sats-listing-card.medium .simple-table tbody:has(.total-tests) tr:nth-child(odd) {
    background-color: #fff !important;
}
/*Sats-listing-card style on set-work-page end*/