.populated-content-area[class*="col-"] {padding: 0;}
.radio-buttons {display: flex; flex-wrap: wrap; gap: 15px; width: 100%;}
.radio-buttons .card-radio {width: 11.111%; margin-bottom: 0;}
.populated-data .radio-btn {border: 2px solid transparent; border-radius: 6px; display: flex; position: relative; text-align: center; box-shadow: 0 0 10px #c3c3c367; cursor: pointer; padding: 15px 12px; min-height: 111px; align-items: center; justify-content: center; height: auto;}
.populated-data .radio-btn.disabled-style {opacity: 0.5;}
.populated-data .radio-btn.disabled-style:hover {opacity: 1;}
.populated-data .setwork-fields .radio-btn,
.populated-data .timestables_fields .radio-btn {border-radius: 5px; min-height: 80px; padding: 10px;}
.card-radio input {display: none;}
.card-radio input:checked + .radio-btn {background-color: #fff;}
.radio-btn .card-icon h3 {color: #555; font-size: 14px; font-weight: 500; margin-bottom: 0; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-clamp: 1; overflow: hidden; text-overflow: ellipsis;}
.populated-data .input-label {font-size: 14px; color: #666; font-weight: 400;}
.populated-data .ui-widget.ui-widget-content {margin-top: 15px;}
.populated-data .heatmap-range-slider .ui-slider.ui-widget-content {margin-top: 0; flex-basis: 82%; width: 82%;}
.select2-container--default .select2-selection--single {background-color: #fdfdff; border-color: #e4e6fc; }
.populated-data .form-control {background-color: inherit; border-color: #ced4da; border-radius: 4px !important; -webkit-appearance: none;appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}
.populated-data .select2-selection--single,
.populated-data .select2-container--default .select2-selection--multiple {background-color: #fff; border-color: #ced4da;}
.populated-data .select2-container--default .select2-selection--single .select2-selection__arrow b {border: 0;}
.populated-data .select2-selection__arrow {position: relative;}
.populated-data .select2-selection__arrow:before,
.form-group .input-group:has(select):before {position: absolute; right: 15px; top: 50%; margin-top: -8px; height: 8px; width: 8px; content: ""; border-top: 1px solid #aaa; border-left: 1px solid #aaa; transform: rotate(-140deg); z-index: 1;}
.select2-container--default .select2-search--dropdown .select2-search__field {outline: none;}
.populated-data .select2-container .select2-selection--single .select2-selection__rendered {height: 38px !important; line-height: 38px !important; }
.populated-data .select2-container--default .select2-selection--single {height: 38px !important; border-color: #ced4da; }
.populated-data .questions-select-number {max-width: 50%; }
.populated-data .questions-select-number ul {margin-bottom:0 !important; gap: 8px; margin-left: 0;}
.populated-data .questions-select-number li {flex-basis: 32%; padding: 0;}
.populated-data .questions-select-number label {min-height: 50px; font-size: 16px;}
.populated-data .form-group .input-group:has(select) {position: relative;}
.populated-data .input-group-text {border-radius: 4px 0 0 4px; border-color: #ced4da;}
.populated-data .input-group-prepend ~ .form-control {border-radius: 0 4px 4px 0 !important;}
.card-icon svg {max-width: 35px; max-height: 35px; fill: #495057; vertical-align: top; margin: 0 0 10px;}
.card-icon path {fill: #495057;}
.years-group.populated-data {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -o-user-select: none; user-select: none;}
.wizard-steps .years-group {margin-bottom: 40px;}
.years-group.populated-data .form-group img {border-radius: 3px; width: 65px; height: 45px; margin-bottom: 15px; object-fit: contain;}
.card .card-body {padding-top: 20px; padding-bottom: 20px;}
.card .card-body .section-title {margin: 30px 0 10px 0; font-size: 16px;}
.card .card-body .section-title:before {margin-top: 8px; }
.card .card-body .section-title + .section-lead {margin-top: -5px;}
.card .card-body p {font-weight: 500;}
.card .card-header {border-bottom-color: #f9f9f9; line-height: 30px; -ms-grid-row-align: center; align-self: center; width: 100%; min-height: 50px; padding: 15px 25px; display: flex; align-items: center; overflow: hidden;}
.card .card-header .btn {margin-top: 1px; padding: 2px 15px;}
.card .card-header .btn:not(.note-btn) {border-radius: 30px;}
.card .card-header .btn:hover {box-shadow: none;}
.card .card-header .form-control {height: 31px; font-size: 13px; border-radius: 30px;}
.card .card-header .form-control + .input-group-btn .btn {margin-top: -1px;}
.card .card-header h4 {font-size: 16px; line-height: 28px; color: var(--primary); padding-right: 10px; margin-bottom: 0;}
.card .card-header h4 + .card-header-action,
.card .card-header h4 + .card-header-form {margin-left: auto;}
.card .card-header h4 + .card-header-action .btn,
.card .card-header h4 + .card-header-form .btn {font-size: 12px; border-radius: 30px !important; padding-left: 13px !important; padding-right: 13px !important;}
.wizard-steps .form-group .add-student-modal img {border: 1px solid var(--primary); border-radius: 100%; margin-bottom: 10px; max-width: none; width: 38px; height: 38px; padding: 8px; filter: invert(43%) sepia(63%) saturate(4197%) hue-rotate(220deg) brightness(100%) contrast(99%);}
.wizard-steps .add-student-modal h3 {color: var(--primary); font-size: 16px;}
.wizard-steps .radio-btn .card-icon span {display: block; margin: 0 0 -22px; opacity: 0; visibility: hidden; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; font-size: 13px; color: #ccc; margin-top: 5px; font-weight: 500;}
.wizard-steps .card-icon {position: relative; }
.wizard-steps .radio-btn:hover .card-icon span {opacity: 1; visibility: visible; margin: 5px 0 0; }
.add-student-modal .radio-btn {min-height: 140px; }
.wizard-steps .radio-buttons .card-radio {/*min-height: 165px;*/ width: auto;}
.wizard-steps .radio-buttons .card-radio:has(img) {width: 11.111%;}
.wizard-steps .radio-buttons .card-radio .radio-btn {min-height: 50px;}
/*Range Slider Style Start*/
.range-slider {position: relative; width: 100%;	height: auto; min-height: 80px;}
.range-slider-field {width: 100%; position: absolute; top: 50%; z-index: 3; transform: translateY(-50%); -webkit-appearance: none; appearance: none; width: 100%; height: 4px; opacity: 0; margin: 0; }
.range-slider-field::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 60px; height: 60px; cursor: pointer; border-radius: 50%;opacity: 0;}
.range-slider-field::-moz-range-thumb {width: 60px; height: 60px;cursor: pointer; border-radius: 50%; opacity: 0;}
.range-slider_thumb {width: 50px; height: 50px;	border: 3px solid #303030;	border-radius: 50%;	position: absolute;	left: 0; top: 50%; transform: translateY(-50%);	background-color: #f4f4f4;	display: flex;justify-content: center;align-items: center;font-weight: 700;font-size: 14px;color: #303030;z-index: 2; margin-left: 2px;}
.range-slider_line {height: 0.5vmin; width: 99.777%; background-color: #e1e1e1; top: 50%; transform: translateY(-50%); left: 2px; position: absolute; z-index: 1;}
.range-slider_line-fill {position: absolute;height: 0.5vmin;width: 0;background-color: #303030;}
/*Range Slider Style End*/
.form-check-input{-webkit-appearance: auto; appearance: auto;}
.assignment_topic_type_fields .form-check {margin-bottom: 10px; padding-left: 5px;}
.card .card-body .row[class*="col-"] {padding-right: 0; padding-left: 0; margin: 0;}