/********************************
Blogs Style Start
*********************************/
.rurera-blog {
    background-color: #fff;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(157, 176, 197, .2);
}
.rurera-blog img {
    border-radius: 0.375rem;
    max-width: 100%;
}
.blog-medium .blog-grid-image {
    width: calc(100% - 83%);
    background-color: #000;
}
.blog-medium .blog-grid-detail {
    padding: 0 20px 0 0;
    width: 100%;
}
.rurera-blog .badge {
    padding-left: 0;
}
/********************************
Blogs Style End
*********************************/