#image_preview { width:300px; }
#crop_popup .modal-dialog { max-width:700px; }
.image-crop-area {
  height: 400px;
  overflow: auto; 
  margin-bottom: 15px;
}
.image-crop-area:empty {
  display: none;
}
.admin-rurera-tabs,
.admin_teacher_role .admin-rurera-tabs {
  margin-top: 20px;
}
.image-crop-area .R-container {
  border: 2px dashed #ddd;
  border-radius: 5px;
  padding: 20px;
}
.preview-cropped-img img {
  border: 2px dashed #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 100%;
}
.preview-cropped-img {
  margin-bottom: 15px;
}
.btn.crop-image-back-btn,
.btn.apply-template-btn1 {
  color: #fff;
  box-shadow: 0 0 0 1px #007bff inset;
  background: rgb(97, 171, 250);
  background: linear-gradient(0deg, rgba(97, 171, 250, 1) 25%, rgba(0, 123, 255, 1) 100%);
  border: 0;
  padding: 5px 20px;
}
