#image_preview { width:300px; }
#crop_popup .modal-dialog { max-width:700px; }
.image-crop-area {
  height: 400px;
  overflow: auto; 
  margin-bottom: 15px;
}
.image-crop-area:empty {
  display: none;
}