#image_preview { width:300px; }
#crop_popup .modal-dialog { max-width:700px; }
.image-crop-area {
  height: 400px;
  overflow: auto; 
  margin-bottom: 15px;
}
.image-crop-area:empty {
  display: none;
}
.admin-rurera-tabs {
  margin-top: 20px;
}
.image-crop-area .R-container {
  border: 2px dashed #ddd;
  border-radius: 5px;
  padding: 20px;
}