.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 18px;
    width: 18px;
    float: left;
    font-size: 23px;
    margin-right: 5px;
}
.br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2;
}
.br-theme-css-stars .br-widget a.br-active:after {
    color: #ffc600;
}
.br-theme-css-stars .br-widget a.br-selected:after {
    color: #ffc600;
}
.br-theme-css-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-css-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-css-stars .br-widget a:after {
        content: "\2606";
        color: black;
    }
    .br-theme-css-stars .br-widget a.br-active:after,
    .br-theme-css-stars .br-widget a.br-selected:after {
        content: "\2605";
        color: black;
    }
}



/* Lms Chapter Holder Style Start */

/* .lms-chapter-area .lms-chapter-ul {
    column-count: 3;
} */
.lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer {background-color: #fff; border: 2px solid #eee; border-radius: 10px; padding: 0; margin-bottom: 45px;}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul {-moz-column-count: 2; column-count: 2; gap: 15px; padding: 0; counter-reset: counter;}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li {-moz-column-break-inside: avoid; break-inside: avoid; margin-bottom: 14px; list-style: none;}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li:has(.percent-holder) {padding-right: 55px;}
.lms-chapter-area .lms-chapter-ul >li .lms-chapter-ul-outer > ul > li:before {content: counter(counter); counter-increment: counter; position: absolute; left: 0; top: 0;}
.topic-accuracy img {width: 15px; height: 15px; object-fit: contain; vertical-align: middle; display: inline-block; margin-left: 5px;}
.lms-chapter-area .lms-chapter-ul >li{break-inside: avoid;}
.lms-chapter-area .lms-chapter-ul >li .lms-chapter-ul-outer > ul > li {
    width: 100%;
    margin-bottom: 8px;
    list-style: inside decimal;
    position: relative;
}
.lms-chapter-area .lms-chapter-ul .lms-chapter-title{margin-bottom: 10px;}
.lms-chapter-area .lms-chapter-ul .lms-chapter-title strong{
    position: relative;
    color: var(--primary);
}
.lms-chapter-area .lms-chapter-ul .lms-chapter-title strong::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter, upper-alpha ) ". ";
}
/* .lms-chapter-area{counter-reset: my-sec-counter;} */
.chapter-tags {
    padding: 0 35px 15px;
    display: flex;
    align-items: center;
    gap: 10px 15px;
    flex-wrap: wrap;
}
.chapter-tags a {
    color: var(--primary);
}
.chapter-tags li {
    position: relative;
}
.chapter-tags .debug-details {
    position: absolute;
    background-color: #fff;
    padding: 10px 15px;
    min-width: 200px;
    border: 1px solid #ddd;
    line-height: 24px;
    color: #555;
    border-radius: 5px;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul {
    -moz-column-count: 1;
    column-count: 1;
}
.chapter-card {
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin-bottom: 0;
}
.chapter-card:last-child {
    border-bottom: 0;
}
.chapter-card > a {
    padding: 15px 15px 15px 40px;
    display: block;
    position: relative;
    color: #999;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li:before {
    left: 15px;
    margin-top: 15px;
    display: none;
}
.chapter-card > a:after {
    content: "";
    position: absolute;
    left: 22px;
    top: 50%;
    height: 9px;
    width: 9px;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    transform: rotate(-45deg) translateY(-50%);
    margin-top: 0;
}
.chapter-card > a.collapsed:after {
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-top: 0;
    border-right: 0;
    margin-top: -2px;
}
.lms-chapter-ul-outer .percent-holder {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    display: none;
}
.lms-chapter-ul-outer .chapter_percent {
    font-size: 40px;
}
.topic-accuracy {
    position: relative;
    top: -3px;
}
.topic-accuracy:before {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    padding: 6px 10px;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    filter: drop-shadow(0px 0px 0 #ddd) drop-shadow(0px 0px 0 #ddd) drop-shadow(0px 0px 0 #ddd) drop-shadow(0px 0px 0 #ddd) drop-shadow(0px 0px 1px #ddd) drop-shadow(0px 0px 0 #ddd);
}
.topic-accuracy:after {
    content: "";
    position: absolute;
    top: -14px;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
    left: 50%;
    margin-left: -5px;
    opacity: 0;
    visibility: hidden;
}
.topic-accuracy:hover:after {
    opacity: 1;
    visibility: visible;
}
.topic-accuracy .icon-box {
    position: relative;
}
.topic-accuracy .icon-box:before {
    content: '';
    border-width: 8px;
    border-style: solid;
    border-color: #ddd transparent transparent transparent;
    position: absolute;
    top: -10px;
    left: 50%;
    opacity: 0;
    margin-left: -8px;
    transition: all .5s;
}
.topic-accuracy .icon-box:after {
    content: '';
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .5s;
}
.topic-accuracy:hover:before {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px) translateX(-50%);
}
.topic-accuracy:hover .icon-box:before,
.topic-accuracy:hover .icon-box:after {
    opacity: 1;
}
.accuracy-good {
    color: #3ef976;
}
.accuracy-practice-needed {
    color: #1dcbd7;
}
.accuracy-very-good,
.accuracy-excellent{
    color: #ffac33;
}
/* Circle Progress style start */
.chapter_percent {font-size:30px; width:1em; height:1em; position: relative; background: #eee; border-radius:50%; overflow:hidden; display:inline-block;}
.circle_inner {position: absolute; left: 0; top: 0; width: 1em; height: 1em; clip:rect(0 1em 1em .5em);}
.round_per {position: absolute; left: 0; top: 0; width: 1em; height: 1em; background: var(--primary); clip:rect(0 1em 1em .5em); transform:rotate(180deg); transition:1.05s;}
.percent_more .circle_inner {clip:rect(0 .5em 1em 0em);}
.percent_more:after {position: absolute; left: .5em; top:0em; right: 0; bottom: 0; background: var(--blue); content:'';}
.circle_inbox {position: absolute;top: 50%; left: 50%; background: #fff; z-index: 3; border-radius: 50%; width: 80%; height: 80%; transform: translate(-50%, -50%);}
.percent_text {position: absolute; font-size: 14px; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 3; color: #000;
    font-weight: bold;
}
.chapter_percent .chapter_percent {
    font-size: 35px;
}
.chapter_percent .circle_inbox .percent_text {
    font-weight: 400;
    font-size: 12px;
    color: #ddd;
}
.chapter_percent .round_per {
    text-indent: -9999px;
}
.circle-orange .round_per,
.circle-orange.percent_more:after {
    background: #f6b700;
}
.circle-green .round_per,
.circle-green.percent_more:after {
    background: green;
}
.circle-yellow .round_per,
.circle-yellow.percent_more:after {
    background: #f3f374;
}
/* Circle Progress style end */
.subchapter-notes-modal {
    background-color: #fff;
    padding-right: 0 !important;
}
.subchapter-notes-modal .modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 100%;
    background-color: #fff;
    align-items: flex-start;
}
.subchapter-img-block img {
    max-width: 100%;
}
.subchapter-slider {
    position: relative;
    background-color: #fcfcfc;
    padding-top: 80px;
    padding-bottom: 80px;
}
.subchapter-notes-modal .swiper-progress {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 20px;
    margin: 0 0 25px;
}
.subchapter-notes-modal .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.1);
}
.subchapter-notes-modal .swiper-pagination-progressbar-fill {
    background: var(--primary);
    transition: width 0.3s ease;
}
.subchapter-notes-modal .swiper-pagination-progressbar {
    height: 4px;
    width: 100%;
}
.subchapter-slider .swiper-button-next,
.subchapter-slider .swiper-button-prev{
    background-color: var(--primary);
    color: #fff;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    border-radius: 3px;
}
.subchapter-slider .swiper-button-next img,
.subchapter-slider .swiper-button-prev img{
    height: 25px;
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(112deg) brightness(107%) contrast(101%);
}
.subchapter-notes-modal .modal-body {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.subchapter-notes-modal .close {
    height: 30px;
    width: 30px;
    background-color: var(--primary);
    text-shadow: none;
    opacity: 1;
    margin: 20px 20px 0 auto;
    border-radius: 3px;
}
.subchapter-notes-modal .close a {
    color: #fff;
}
.subchapter-notes-modal .close span {
    display: block;
    line-height: 30px;
}
.subchapter-notes-modal .modal-content {
    border-radius: 0;
    background-color: #fcfcfc;
    box-shadow: none;
    gap: 0;
    border: 0;
    height: 100%;
}
.subchapter-slider .swiper-wrapper {
    transition: all;
    transform: translate3d(507px, 0px, 0px);
}
.subchapter-slider .swiper-slide {
    background-color: #f8f8f8;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    opacity: 0.6;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 507px;
}
.subchapter-slider .swiper-slide-active {
    background-color: #fff;
    transform: scale(1.2);
    z-index: 1;
    opacity: 1;
}
.subchapter-slider .swiper-container {
    padding: 38px 0;
}
.subchapter-footer {
    background-color: #fff;
    padding: 0 30px 25px;
    margin-top: auto;
}
span.learn-lable {
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    color: #000;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: 500;
}
.subchapter-compare {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.subchapter-compare h4 {
    color: #000;
}
.subchapter-compare span {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-weight: 500;
}
.subchapter-compare .compare-right {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 25px;
}
.subchapter-compare span .icon-box {
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-style: normal;
}
.subchapter-compare span .icon-box.q-icon {
    background-color: #1b9a1b;
}
.subchapter-compare span .icon-box.clock-icon {
    background-color: var(--primary);
}
.subchapter-compare span img {
    height: 18px;
    width: 18px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(112deg) brightness(107%) contrast(101%);
}
.subchapter-compare .start-btn {
    background-color: var(--primary);
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
}
.slider-controls {
    position: relative;
    display: block;
    min-width: 100px;
    margin: 45px auto 0;
    max-width: 100px;
}

@media (max-width: 992px) {
    /* .lms-chapter-area .lms-chapter-ul {
        column-count: 2;
    } */
}
@media (max-width: 767px) {
    .lms-side-menu-left{z-index: 1;}
    .learning-page .learning-page-tabs{top:0;}
}
@media (max-width: 640px) {
    /* .lms-chapter-area .lms-chapter-ul {
        column-count: 1;
    } */
}
@media (max-width: 575px) {
    .lms-side-menu-left{width:100%;height: 50px;position: absolute;margin-bottom: 50px;left: 0;z-index: 1;}
    .lms-side-menu-left ul{flex-direction: inherit;padding: 10px 20px;align-items: center;}
    .lms-side-menu-left ul li{margin:0 5px 0 0;align-items: center;display: flex;}
    .lms-side-menu-left ul li a{padding: 0 8px;display: inline-flex;}
    .lms-side-menu-left ~ .learning-page-content {margin-top: 50px;}
}

/* Lms Chapter Holder Style End */

