.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 18px;
    width: 18px;
    float: left;
    font-size: 23px;
    margin-right: 5px;
}
.br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2;
}
.br-theme-css-stars .br-widget a.br-active:after {
    color: #ffc600;
}
.br-theme-css-stars .br-widget a.br-selected:after {
    color: #ffc600;
}
.br-theme-css-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-css-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-css-stars .br-widget a:after {
        content: "\2606";
        color: black;
    }
    .br-theme-css-stars .br-widget a.br-active:after,
    .br-theme-css-stars .br-widget a.br-selected:after {
        content: "\2605";
        color: black;
    }
}



/* Lms Chapter Holder Style Start */

/* .lms-chapter-area .lms-chapter-ul {
    column-count: 3;
} */
.lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer {background-color: #fff; border: 2px solid #eee; border-radius: 10px; padding: 20px; margin-bottom: 25px;}
.lms-chapter-area .lms-chapter-ul .element-title h2 {margin: 0 0 20px;}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul {-moz-column-count: 2; column-count: 2; gap: 15px; padding: 0; counter-reset: counter;}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li {-moz-column-break-inside: avoid; break-inside: avoid; margin-bottom: 14px; list-style: none;}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li:has(.percent-holder) {padding-right: 55px;}
.lms-chapter-area .lms-chapter-ul >li .lms-chapter-ul-outer > ul > li:before {content: counter(counter); counter-increment: counter; position: absolute; left: 0; top: 0;}
body .lms-chapter-area .lms-chapter-ul >li ul > li a {vertical-align: top; padding-left: 10px; min-width: auto;}
.lms-chapter-area .lms-chapter-ul >li ul > li a img {width: 15px; height: 15px; object-fit: contain; vertical-align: middle; display: inline-block; margin-left: 5px;}
.lms-chapter-area .lms-chapter-ul >li{margin-bottom:45px; break-inside: avoid;}
.lms-chapter-area .lms-chapter-ul >li .lms-chapter-ul-outer > ul > li {
    width: 100%;
    margin-bottom: 8px;
    list-style: inside decimal;
    position: relative;
}
.lms-chapter-area .lms-chapter-ul >li .element-title {
    margin-bottom: 10px !important;
}
.lms-chapter-area .lms-chapter-ul >li ul li a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    min-width: 100px;
    color: #999;
}
.lms-chapter-area .lms-chapter-ul .lms-chapter-title{margin-bottom: 10px;}
.lms-chapter-area .lms-chapter-ul .lms-chapter-title strong{
    position: relative;
    color: var(--primary);
}
.lms-chapter-area .lms-chapter-ul .lms-chapter-title strong::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter, upper-alpha ) ". ";
}
/* .lms-chapter-area{counter-reset: my-sec-counter;} */
.lms-chapter-ul-outer li ul {
    padding: 0 0 0 60px;
}
body .lms-chapter-area .lms-chapter-ul-outer li ul li a {
    padding-left: 5px;
    font-size: 14px;
}
body .lms-chapter-area .lms-chapter-ul-outer li ul li {
    list-style: lower-alpha;
    padding: 5px 0;
    line-height: normal;
}

.lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer {
    padding: 0;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul {
    -moz-column-count: 1;
    column-count: 1;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li {
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin-bottom: 0;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li:last-child {
    border-bottom: 0;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li>a {
    padding: 15px 15px 15px 40px;
    display: block;
    position: relative;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li:before {
    left: 15px;
    margin-top: 15px;
    display: none;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li>ul {
    padding-bottom: 15px;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li>a:after {
    content: "";
    position: absolute;
    left: 22px;
    top: 50%;
    height: 9px;
    width: 9px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(-45deg) translateY(-50%);
    margin-top: 0;
}
body .lms-chapter-area .lms-chapter-ul .lms-chapter-ul-outer>ul>li>a.collapsed:after {
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-top: 0;
    border-right: 0;
    margin-top: -2px;
}
.lms-chapter-ul-outer .percent-holder {
    position: absolute;
    right: 15px;
    top: 12px;
}
/* Circle Progress style start */
.chapter_percent {font-size:30px; width:1em; height:1em; position: relative; background: #eee; border-radius:50%; overflow:hidden; display:inline-block;}
.circle_inner {position: absolute; left: 0; top: 0; width: 1em; height: 1em; clip:rect(0 1em 1em .5em);}
.round_per {position: absolute; left: 0; top: 0; width: 1em; height: 1em; background: var(--blue); clip:rect(0 1em 1em .5em); transform:rotate(180deg); transition:1.05s;}
.percent_more .circle_inner {clip:rect(0 .5em 1em 0em);}
.percent_more:after {position: absolute; left: .5em; top:0em; right: 0; bottom: 0; background: var(--blue); content:'';}
.circle_inbox {position: absolute;top: 50%; left: 50%; background: #fff; z-index: 3; border-radius: 50%; width: 80%; height: 80%; transform: translate(-50%, -50%);}
.percent_text {position: absolute; font-size: 14px; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 3; color: #000;
    font-weight: bold;}
.chapter_percent .circle_inbox .percent_text {
    display: none;
}
.circle-orange .round_per,
.circle-orange.percent_more:after {
    background: #f6b700;
}
.circle-green .round_per,
.circle-green.percent_more:after {
    background: green;
}
.circle-yellow .round_per,
.circle-yellow.percent_more:after {
    background: #f3f374;
}
/* Circle Progress style end */

@media (max-width: 992px) {
    /* .lms-chapter-area .lms-chapter-ul {
        column-count: 2;
    } */
}
@media (max-width: 767px) {
    .lms-side-menu-left{z-index: 1;}
    .learning-page .learning-page-tabs{top:0;}
}
@media (max-width: 640px) {
    /* .lms-chapter-area .lms-chapter-ul {
        column-count: 1;
    } */
}
@media (max-width: 575px) {
    .lms-side-menu-left{width:100%;height: 50px;position: absolute;margin-bottom: 50px;left: 0;z-index: 1;}
    .lms-side-menu-left ul{flex-direction: inherit;padding: 10px 20px;align-items: center;}
    .lms-side-menu-left ul li{margin:0 5px 0 0;align-items: center;display: flex;}
    .lms-side-menu-left ul li a{padding: 0 8px;display: inline-flex;}
    .lms-side-menu-left ~ .learning-page-content {margin-top: 50px;}
}

/* Lms Chapter Holder Style End */

