/* Preview Question Right Side Style Start */
body:has(.type-practice.type-sats.preview-question-area) {
    overflow: hidden;
}
.preview-question-area {
    padding-right: 400px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.preview-question-area.centered {
    padding-right: 0;
}
.preview-question-area .justify-content-center > .mt-50 {
    margin-top: 0 !important;
}
.preview-question-content[class*="col-lg-"] {
    max-width: 850px;
    width: 850px;
}
.preview-question-area .rurera-question-block.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.preview-question-area .left-content {
    padding-top: 50px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
/* Main scroll container */

/* Chrome, Edge, Safari */
.preview-question-area .left-content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.preview-question-area .left-content::-webkit-scrollbar-thumb {
  background: transparent;
}

.preview-question-area .left-content::-webkit-scrollbar-track {
  background: transparent;
}
.preview-question-area .question-right-side {
    background-color: #fff;
    max-width: 400px;
    z-index: 2;
    padding: 0 0 25px 0;
    position: fixed;
    right: 0;
    height: 100%;
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.preview-question-area .question-right-inner {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 0 15px;
}
.question-right-side.hidden,
.preview-question-area.centered .question-right-side {
    transform: translateX(100%);
}
.preview-question-area .question-right-side .review-msg-box .input-group {
    border: 0;
    border-radius: 0;
    padding: 0;
}
.preview-question-area .question-explaination {
    background-color: #fff;
}
.question-right-side .toggle-btn {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 60px;
    background: white;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
}
.question-right-side .toggle-btn:hover {
background: #f0f0f0;
}

.question-right-side .toggle-btn svg {
transition: transform 0.3s ease;
}

.question-right-side.hidden .toggle-btn svg {
transform: rotate(180deg);
}
body:has(.quiz-time-bar) .question-right-side .prev-next-controls {
    border: 0;
    padding: 15px 0;
    margin: 0 !important;
    background-color: #fff;
    min-height: auto;
    justify-content: flex-start;
    pointer-events: auto;
    gap: 0 10px;
}
.question-right-side .prev-next-controls .prev-btn,
.question-right-side .prev-next-controls .next-btn{
    padding: 0;
    min-height: auto;
    font-size: 14px;
    border: 0;
    margin: 0;
    background-color: inherit;
}
.question-right-side .prev-next-controls img {
    height: 12px;
    width: 12px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.prev-next-controls .question-counts {
    margin: 0;
    font-size: 14px;
}
.preview-question-area .form-box {
    user-select: none;
    pointer-events: none;
}
.question-right-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
.review-question-holder .question-right-header h3 {
    margin-bottom: 0;
}
.question-detail-holder {
    margin: 0 0 25px;
}
.question-right-header p {
    font-weight: bold;
    font-size: 15px;
}
.question-details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.question-details li {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 0 15px;
}
.question-details li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.preview-question-area .question-layout-block .prev-next-controls {
    width: 100%;
    position: relative;
    transform: none;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    margin-top: auto;
    flex-wrap: wrap;
    user-select: none;
    pointer-events: none;
}
.preview-question-area .prev-next-controls .question-submit-btn {
    position: relative;
    margin-left: auto;
}
.preview-question-area .draggable-items {
    display: flex;
    margin: 20px 0 0;
    padding-left: 0;
}
.approve_question_form {
    text-align: left;
    /* height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto; */
}
.approve_question_form::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	background-color: #F5F5F5;
}
.approve_question_form::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
.approve_question_form::-webkit-scrollbar-thumb
{
	background-color: rgb(200,210,237);
    border: 0;
}
.approve_question_form .row:has(.lms-card-timeline) {
    margin: 0;
}
.approve_question_form .btn-group-toggle {
    display: inline-flex !important;
    border: 1px solid rgba(0,123,151,0.5) !important;
    border-radius: 5px;
    overflow: hidden;
}
.approve_question_form .btn-group-toggle .btn {
    padding: 10px 15px;
    background-color: inherit !important;
    border: 0;
    box-shadow: none;
    color: var(--blue) !important;
    border-right: 1px solid rgba(0,123,151,0.5) !important;
    border-radius: 0 !important;
    margin: 0 !important;
    line-height: normal;
    height: auto;
}
.approve_question_form .btn-group-toggle .btn:last-child {
    border-right: 0 !important;
}
.approve_question_form .btn-group-toggle .btn.active {
    background-color: var(--blue) !important;
    color: #fff !important;
}
.question-explaination h5 {
    font-weight: 600;
}
.question-explaination ol,
.question-explaination ul {
    padding-left: 20px;
}
.question-explaination li {
    list-style: inherit;
    margin: 0 0 15px;
    font-size: 14px;
}
.review-msg-box textarea {
    background-color: inherit;
    border: 0;
    border-radius: 0;
    width: 100% !important;
    resize: none;
    outline: none !important;
    padding: 0;
    box-shadow: none !important;
}
.lms-card-timeline .card p {
    font-size: 14px;
    padding-top: 5px;
}
.review-msg-box .input-group {
    border: 1px solid #ececec;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px 15px 15px;
}
.review-msg-control {
    border-top: 1px solid #ececec;
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.review-msg-control .btn {
    height: auto;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: initial;
    color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: none;
}
.review-msg-box {
    padding: 5px 20px 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ececec;
    border-top: 0;
    margin-bottom: 25px;
}
.form-group:has(.btn-group-toggle) {
    padding: 10px 20px 15px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ececec;
    border-bottom: 0;
}
.question-right-side h3,
.question-right-side .questions_logs_block h4 {
    font-size: 15px;
    margin: 0 0 15px;
}
.preview-question-area .question-layout-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Preview Question Right Side Style End */