/* Columns Selection Style Start */
.rureraform-admin-editor * {box-sizing: border-box;}
.rureraform-form {position: relative;}
.rureraform-elements {min-height: 60px;}
.rureraform-element {width: 100%;outline: 1px dashed #f3f1f1 !important;height: auto !important;margin-top: 10px;margin-bottom: 10px;padding: 10px;display: block !important;visibility: visible !important;opacity: 1 !important;}
.rureraform-element:hover {outline: 2px solid #26B99A !important;}
.quiz-setup-listings .rureraform-element:hover {outline: none !important;}
.rureraform-element-placeholder {background: transparent;border-radius: 3px;border: 1px dashed #26B99A;background-color: #26B99A;	opacity: 0.2;height: 40px;}
.rureraform-element-helper {height: 40px !important;width: 160px !important;overflow: hidden !important;}
.rureraform-element-helper.ui-sortable-helper {width: 100% !important; height: auto !important; outline: 1px dashed #f3f1f1 !important;}
.ui-sortable .rureraform-element-placeholder {background-color: transparent; border-color: transparent;}
.rureraform-element-helper .rureraform-element-cover {display: block;background: white;}
.rureraform-col .rureraform-element:first-of-type {	margin-top: 0;}
.rureraform-col .rureraform-element:last-of-type {margin-bottom: 0;}
.rureraform-col-1 {width: 8.33333333%;}
.rureraform-col-2 {width: 16.66666666%;}
.rureraform-col-3 {width: 25%;}
.rureraform-col-4 {width: 33.33333333%;}
.rureraform-col-5 {width: 41.66666666%;}
.rureraform-col-6 {width: 50%;}
.rureraform-col-7 {width: 58.33333333%;}
.rureraform-col-8 {width: 66.66666666%;}
.rureraform-col-9 {width: 75%;}
.rureraform-col-10 {width: 83.33333333%;}
.rureraform-col-11 {width: 91.66666666%;}
.rureraform-col-12 {width: 100%;}
.rureraform-row.rureraform-element [class*="rureraform-col-"] {float: none; display: inline-block; margin-right: 0; vertical-align: middle; outline: 1px dashed #f3f1f1; padding: 15px; }
.rureraform-row.rureraform-element [class*="rureraform-col-"]:has(.rureraform-elements img) {vertical-align: top;}
/* Columns Selection Style End */

/* Question Templates Style Start */
.rureraform-toolbar-list .question_templates {max-width: 480px; min-width: 480px; background-color: #fff; position: absolute; left: 10px; top: 100%; border: 1px solid #c7c7c7; z-index: 2; visibility: hidden; opacity: 0; display: flex; flex-wrap: wrap; gap: 0; padding: 0; margin: 0; transform: translateY(10px); box-shadow: 3px 3px 3px rgba(0,0,0,0.4); -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; -moz-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;}
.rureraform-toolbar-list>li:hover .question_templates {visibility: visible; opacity: 1; transform: translateY(0); display: flex;}
.rureraform-toolbar-list .question_templates li {flex: 0 0 25%; max-width: 25%; padding: 0; margin: 0; height: auto; line-height: normal; }
.rureraform-toolbar-list .question_templates li a {display: block; text-align: center; font-size: 11px; font-weight: 500; padding: 10px 10px 5px; color: #544951; line-height: normal; text-decoration: none; height: auto; transition-duration: .8s; -webkit-transition-duration: .8s; width: 100%;}
.rureraform-toolbar-list .question_templates li a img {display: block; max-width: 100%; margin: 0 auto 8px;}
.rureraform-toolbar-list .question_templates li a:hover img {animation: bouncing 0.5s 0.3s;}
.rureraform-toolbar-list .question_templates li a:hover {background-color: #f8e6ce;}
@keyframes bouncing {
	from, to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
/* Question Templates Style End */

/* Dropdowns/input Style Start */
/* Dropdowns/input Style End */

/* Image Draggable Style Start */
/* .ui-draggable.ui-draggable-handle {cursor: all-scroll;border: 2px solid #ddd;border-bottom-width: 4px;line-height: normal;text-align: center;border-radius: 8px;margin: 3px 6px 0 0;color: #333;background-color: #fdfdfd;padding: 4px 25px 8px;width: auto;} */
.draggable-items .ui-draggable:hover {background-color: #f8f8f8;}
.rureraform-element-cover {position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;transition-duration: .3s;-webkit-transition-duration: .3s;display: none;}
div.rureraform-element-checkbox-container div.rureraform-element-cover {display: none !important;}
/* Image Draggable Style End */

/* Draggable Input Fields Style Start */
input.droppable-field {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    padding: 0 10px 2px;
    height: 30px;
    border-radius: 5px;
}
.quiz-group.draggable3:has(.droppable-field) {
    line-height: 46px;
}
/* Draggable Input Fields Style End */

/* Image Static Style Start */

/*Image Sizes Style Start*/
.image-large img {max-width: 400px;}
.image-medium img {max-width: 250px;}
.image-small img {max-width: 200px;}
/*Image Sizes Style End*/

/*Image Sizes, When Image Size Greater Then Column Size Style Start*/
.rureraform-col-5 .image-large img,
.rureraform-col-4 .image-large img,
.rureraform-col-3 .image-large img,
.rureraform-col-2 .image-large img,
.rureraform-col-3 .image-medium img,
.rureraform-col-2 .image-medium img,
.rureraform-col-3 .image-small img,
.rureraform-col-2 .image-small img {max-width: 100%;}
/*Image Sizes, When Image Size Greater Then Column Size Style End*/

/*Image Alignments Style Start*/
.question-layout.align-items-start .block-holder.image-field {display: block; padding: 10px 10px; overflow: hidden; border-radius: 15px; margin: 0 0 30px; background: linear-gradient(9deg, #f7f7f7 0%, #ffffff 100%); box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1), 0px -5px 15px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.25);}
.question-layout.align-items-start .block-holder.image-field img {border-radius: 10px; box-sizing: border-box; background-position: 0 0, 0 100%; background-repeat: no-repeat; background-size: 100% 20px; background-image: linear-gradient(to right, #b3b3b3 0%, #fafafa 100%), linear-gradient(to right, #b3b3b3 0%, #fafafa 100%);}
.image-left {text-align: left !important;}
.image-right {text-align: right !important;}
.image-center {text-align: center !important;}
/*Image Alignments Style End*/

/* Image Static Style End */

/* Essay Textarea Field Style Start */
.input-holder textarea {
    padding: 0; 
    border: 0; 
    border-radius: 8px; 
    color: #999; 
    outline: none; 
    width: 100%; 
    overflow: hidden; 
    resize: none;
    min-height: 95px;
    line-height: 31px;
    background-attachment: local;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 6 6"><circle cx="3" cy="3" r="2" fill="LightGray" /></svg>') 0 0.7em/3px 1.9em white;
}
.input-holder textarea::-webkit-input-placeholder {color: #999; }
.input-holder textarea:-moz-placeholder {color: #999;}
.input-holder textarea::-moz-placeholder {color: #999;}
.input-holder textarea:-ms-input-placeholder {color: #999;}
.input-holder textarea:focus::placeholder {color: transparent;}
.input-holder textarea:focus:-webkit-input-placeholder {color: transparent; }
.input-holder textarea:focus:-moz-placeholder {color: transparent;}
.input-holder textarea:focus::-moz-placeholder {color: transparent;}
.input-holder textarea:focus:-ms-input-placeholder {color: transparent;}
/* Essay Textarea Field Style End */

/* Input Text Field Style Start */
.input-holder input.input-simple {border: 3px solid #000; height: 30px; min-height: 30px; color: #000; font-size: 16px; text-align: left; font-weight: 400; border-radius: 5px; display: inline-block; padding: 0 10px; width: 100%; max-width: 170px; margin-top: 0;}
.input-holder input[type="text"],
.input-holder input.input-simple {border: 0; background-color: #fcfcfc;}
.question-result-layout .input-holder .input-simple {width: 100%; }

/* Input Text Field Style End */
/* Input Number Arrows Hide Style Start */
.input-holder input[type="number"]::-webkit-outer-spin-button,
.input-holder input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
.input-holder input[type="number"] {-moz-appearance:textfield;}
/* Input Number Arrows Hide Style End */
/* True False Style Start */
.form-box.inline-fields .lms-radio-select {margin-bottom: 0;}
.lms-radio-select label {margin: 0; border: 2px solid #ddd; border-bottom-width: 4px; min-height: 50px; display: inline-flex; align-items: center; border-radius: 8px; cursor: pointer; overflow: hidden; position: relative; padding: 0 15px; -webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;width: 100%;}
.lms-radio-select.inline-fields .field-holder label {width: 100%;}
.lms-radio-select label:hover {background-color: rgba(0,0,0,0.05);}
.lms-radio-select .field-holder.wrong label {border-color: #ff4a4a;}
.lms-radio-select .wrong input[type=radio]:checked~label,
.question-result-layout .form-field.wrong label,
.form-field.wrong input[type="checkbox"]:checked ~ label {
    border-color: #c23131;
}
.lms-radio-select .correct input[type=radio] ~ label,
.lms-radio-select .correct input[type=radio]:checked~label,
.question-result-layout .form-field.correct ,
.form-field.correct input[type="checkbox"]:checked ~ label,
.question-result-layout .form-field.correct label {
    border-color: #9ef95a;
}
.lms-radio-select input[type=radio] {position: absolute; width: 0; height: 0;}
.lms-radio-select input[type=radio]:checked~label {
    background-color: #d2ffb0;
    color: #73c238;
    border-color: #9ef95a;
}
.lms-radio-select input[type=radio]:checked~label:after {width: 100%; transition: 0.4s; }
.row-fields .lms-radio-select input[type=radio]:checked~label:after {width: 100%; transform: none;}
.row-fields .lms-radio-select label:after {width: 0; transform: none;}
.lms-radio-select input[type=radio] ~ label {padding-right: 50px;}
.spells-quiz-from .lms-radio-select label {max-height: 50px; padding-right: 15px !important; justify-content: center;}
.lms-sorting-fields.inline-fields {margin: 0 -8px;}
.lms-radio-select .field-holder {border: 0; padding: 0; height: auto;}
.truefalse-element:has(.truefalse_question_label) .truefalse_quiz {display: block; margin-top: 10px;}
/* True False Style End */

/* True False Without Column Style Start, https://rurera.com/admin/questions_bank/34359/edit */
.rureraform-element:has(.truefalse_quiz) {display: flex !important; align-items: center; flex-wrap: wrap;}
.rureraform-element:has(span.truefalse_question_label) .truefalse_question_label {width: 62%; padding-right: 15px;}
.rureraform-element:has(span.truefalse_question_label) > .truefalse_quiz {padding: 0 0 0 20px;}
.question-result-layout .rureraform-element:has(span.truefalse_question_label) > .truefalse_quiz {padding-left: 0;}
.rureraform-builder .rureraform-element:has(span.truefalse_question_label) > .truefalse_quiz {padding: 10px 0 0 0;}
/* True False Without Column Style End */

/* File Attachment Style Start */
.rureraform-form-editor .input-group-prepend ~ input[type="text"] {margin-bottom: 0; border: 1px solid #ccc; height: 40px; padding: 0 10px; outline: none;}
.rureraform-form-editor .input-group-append .input-group-text,
.rureraform-form-editor .input-group-prepend .input-group-text{border-color: #ccc;} 
.lms-quiz-create .fa, .far, .fas {font-family: "Font Awesome 5 Free" !important;}
.lms-quiz-create .fa, .fas {font-weight: 900 !important;}
/* File Attachment Style End */

/* Multi Response List Style Start */
.form-box {position: relative;}
.form-field input[type="checkbox"] {position: absolute; left: 0; top: 0; opacity: 0;}
.form-field label,
.api-questions-form .option-group {background-color: #fff; border: 2px solid #ddd; cursor: pointer; border-bottom-width: 4px; border-radius: 8px; position: relative; padding: 12px; width: 100%; margin-bottom: 0; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; line-height: normal; display: inline-flex; align-items: center;}
.form-field input[type="checkbox"] ~ label {min-height: 52px; text-align: left;}
.form-field input[type="checkbox"]:checked ~ label:after {opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.form-field label:hover {border: 2px solid #c4c3c3;border-bottom-width: 4px;border-radius: 8px;}
.row-fields.lms-checkbox-img label {padding: 5px;}
.lms-checkbox-img .form-field label:before {width: 30px; height: 30px; right: 15px; border-radius: 100%; margin-top: -15px;}
.lms-checkbox-img .form-field label:after {right: 24px; font-size: 14px; height: auto; width: auto; line-height: normal; top: 50%; margin-top: -10px;}
.lms-checkbox-img .form-field input[type="checkbox"]:checked ~ label:after {-webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.lms-checkbox-img label img {border-radius: 3px; width: 35px;  height: 35px; object-fit: contain; margin-right: 10px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.lms-checkbox-img label {border-radius: 5px; display: flex; align-items: center;}
.lms-checkbox-img .form-field.wrong label {background: none; border-color: #ff4a4a; color: #000;}
.lms-checkbox-img .form-field.wrong label:before {border-color: #ff4a4a;}
.form-field input[type="checkbox"]:checked ~ label:has(img) {background-color: inherit; border-color: rgb(113 150 251);}
.active-option label,
.form-field label:hover,
.form-field input[type="checkbox"]:checked ~ label {
    background-color: #d2ffb0;
    color: #73c238;
    border-color: #9ef95a;
}
/* Multi Response List Style End */
/*Quiz Radio-Image Style Start*/
.lms-radio-img .field-holder label {padding: 5px; border-radius: 5px;}
.lms-radio-img .field-holder label img {object-fit: cover}
/*Quiz Radio-Image Style End*/
/* Image Static Style Start */
/*image top style*/
.lms-checkbox-img.image-top .form-field label {flex-direction: column; justify-content: flex-start; align-items: flex-start; padding-right: 15px; padding-left: 15px; color: #838383;}
.lms-checkbox-img.image-top .form-field label:before {border-radius: 0; height: 20px; width: 20px; top:10px; margin: 0; right: 10px;}
.lms-checkbox-img.image-top .form-field label:after {right: 13px; top: 9px; margin-top: 0; width: 15px; height: 15px; font-size: 14px; }
.lms-checkbox-img.image-top label img {margin: 0 auto 10px; width: auto; max-width: 100%; height: 135px; object-fit: cover;}
.lms-sorting-fields.image_large.image-top .field-holder img {width: 100%; object-fit: cover; max-height: 135px; border-radius: 3px;}
.lms-sorting-fields.image_large.image-top .field-holder label {width: 100%;}
/*image right style*/
.image-right .form-field input[type="checkbox"] ~ label {padding-right: 60px;}
.lms-checkbox-img.image-right .form-field label img {position: absolute; right: 10px; margin: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.lms-checkbox-img.image-right .form-field input[type="checkbox"]:checked ~ label img {margin-right: 0;}
.lms-checkbox-img.image-right .form-field label:before {left: 12px; right: auto; top: 50%; transform:translateY(-50%); margin: 0; border-radius:3px; opacity: 0;}
.lms-checkbox-img.image-right .form-field label:after {font-size: 18px; top: 50%; margin: 2px 0 0 0; height: 30px; width: 30px; text-align:center; transform:translateY(-50%); left: 12px; right: auto;}
.lms-checkbox-img.image-right .form-field input[type="checkbox"]:checked ~ label:before {opacity: 1;}
.lms-checkbox-img.image-right .form-field input[type="checkbox"]:checked ~ label:after {transform:translateY(-50%);}
.image-right .field-holder label {display: flex; align-items: center; gap: 10px;}
.image-right .field-holder label img {max-width: 50px; max-height: 50px; min-width: 50px; min-height: 50px; margin-left: auto;}
/*image top rurera-in-cols style Start*/
.rurera-in-cols.image-top label,
.rurera-in-cols.image-top label img {width: 100%;}
/*image top rurera-in-cols style End*/

/* Image Static Style End  */

/* Sortable List Style Start */
.lms-sorting-fields span {line-height: normal; display: block; font-size: 15px;}
.lms-sorting-fields .field-holder {background-color: #fff; border: 2px solid #ddd; border-radius: 8px; border-bottom-width: 4px; padding:16px 15px; cursor: all-scroll; position: relative; height: auto; min-width: 130px; text-align: left;}
.lms-sorting-fields.multi-lines {flex-direction: column; align-items: flex-start; margin-left: 0; margin-right: 0;}
.lms-sorting-fields.multi-lines .field-holder {margin: 0 0 10px; width: 100%; visibility: visible !important;}
.lms-sorting-fields.multi-lines .field-holder:last-child {margin-bottom: 0;}
.sort-icon {height: 20px; width: 25px; display: inline-block; vertical-align: middle; }
.sort-icon span,
.lms-quiz-section .sort-icon span {height: 3px; background-color: #999; margin-bottom: 4px; display: block; }
.lms-sorting-fields .sort-icon {position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
.lms-sorting-fields .field-holder label {margin: 0; pointer-events: none;}
.lms-sorting-fields .field-holder img {max-width: 100%;}
.lms-sortable-img.lms-sorting-fields .field-holder img {max-width: 60px; height: 55px; object-fit: cover;}
.lms-sorting-fields .match-question {position: initial !important; display: flex; align-items: flex-start; flex-wrap: wrap; gap: 30px; width: 100% !important; height: auto !important; }
.lms-sorting-fields .match-question.ui-sortable-placeholder {position: absolute !important;}
.lms-sorting-fields .field-holder .sort-icon ~ label {padding-right: 40px;}
.lms-sorting-fields {display: inline-block; width: 100%;}
.question-textarea .table {overflow: hidden;}
.lms-sorting-fields::-webkit-scrollbar {height: 5px}
/* Sortable List Style End */

/* Question Label Style Start */
.question-label {position: relative;}
.question_label > span {background-color: rgb(200,210,237); padding: 10px 5px 10px 13px;  border-radius: 13px; display: inline-block;width: 100%; font-weight: 600; font-size:1rem;}
.question_heading span {margin: 0;padding: 0;border-radius: 6px;line-height: normal;text-align: left;border: 0;display: inline-block;vertical-align: middle;width: 100%;position: relative; overflow: hidden; border-left: 0; color: #2c2c2c;font-weight: 600;font-size: 1.5rem; outline: none;}
.question_label > span p {margin: 0;}
.rureraform-element .example_text {color: gray; border: 1px dashed #ccc; padding: 8px 10px; margin-bottom: 0; border-radius: 5px;}
.question_label .math-equation {background-color: inherit; display: inline-block;}
.question-area .math-equation mjx-container {display: inline-block; margin: 0; padding-top: 0; padding-bottom: 0;}
.question-explaination {background-color: #f2f2f2; padding: 15px 15px; border-radius: 5px;}
.quiz-area-page .question-explaination {background-color: #fff;}
.math-equation br {display: none;}
.spells-quiz-from .question-label {margin-bottom: 20px;padding: 0 15px 10px;}
.spells-quiz-from .question-label span {text-align: center; line-height: 31px;}
/*.quiz-group .rureraform-column-label {margin-bottom: 0;}*/
.rureraform-label {font-weight: 600;}
.quiz-group .rureraform-column-label:has(label:empty) {display: none;}
/* Question Label Style End */

/* Frontend-Field-error-Label Style Start */
label.frontend-field-error-label {
    border-color: #f95555;
}
.input-holder.frontend-field-error-input {
    border-color: #f95555;
}
/* Frontend-Field-error-Label Style End */

/* Draggable Style Start */
.draggable-items {display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 20px; margin-top: 30px;}
.draggable-items .ui-draggable {color: #666; height: auto !important; width: auto !important; margin: 0;}
.draggable-items .ui-draggable span {color: #999; vertical-align: middle;}
.droppable_area, .lms-quiz-section .droppable_area {display:inline-flex; height: auto; padding: 0; margin: 0; border-radius: 0; border-bottom: 2px dotted #ddd; vertical-align: text-bottom; justify-content: center; align-items: center; min-width: 190px; text-align: center; min-height: 40px; }
span.Selectable.marking-selected {background: #fff716; cursor: pointer;}
.droppable_area .draggable-option,
.draggable-items li span {background-color: #fff; border: 1px solid #ddd; line-height: normal; padding: 8px 20px; border-radius: 5px; display: inline-block; font-weight: 400;}
.draggable-items img {height: 20px; width: 20px; margin-left: -10px;}
.rureraform-form-editor .draggable-items .draggable-option {margin-top: 0; padding: 8px 20px 8px; display: block;}
.rureraform-builder .draggable-items {display: flex; margin-top: 20px; padding-left: 0;}
/* Draggable Style End */

/* Highlight Word/Sentence Style Start */
/* Highlight Word/Sentence Style End */

/* Insert Into Sentence Style Start */
.insert-into-sentense-holder p {word-wrap: break-word;}
.insert-options {width: 100%; display: inline-block; margin: 0 0 30px;}
/* Insert Into Sentence Style End */

/* Match Style Start */
.match-question{width:100%;}
.match-question .stems li,
.match-question .options li {list-style: none; padding: 0.8rem 1rem; margin: 0 0 1rem; text-align: left; line-height: normal;}
.match-question .stems,
.match-question .options {width: 48%;}
.match-question .stems li,
.match-question .options li {background-color: #fff; cursor: pointer; border: 1px solid #999; border-radius: 4px;display: flex; align-items: center; flex-wrap: wrap; &.selected,  &.selected:hover {font-weight: bold; border-color: #70c17c;}}
.match-question .stems li > img,
.match-question .options li > img {margin-bottom: 10px;}
.match-question .line {width: 100%; height: 2px; background-color: #e5e5e5; &.highlighted {background-color: green; box-shadow: none; height: 3px; .point {border-left: 16px solid green;}}
  .point {width: 0; height: 0; margin: -6px -3px 0 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 16px solid #e5e5e5; float: right;}
}
.match-question .stems ol {padding: 0; margin: 0;}
.image_small .match-question li img {height: 25px; width: 30px; margin-bottom: 0; object-fit: contain; border-radius: 5px; overflow: hidden;}
.image-right .match-question li img {margin-left: auto;}
/* Match Style End */

/* Audio Input Style Start */
#startRecord,
#stopRecord {height: 15px; width: 15px; border: 0; background: none;}
.btn-icon .fas {position: relative;}
.btn-icon .fas:before {position: absolute; left: 50%; top: 50%; height: 15px; width: 15px; content: ""; margin-top: -7px; margin-left: -7px;}
.btn-icon .fa-play:before {background: url(/assets/default/svgs/play-button.svg) no-repeat center; background-size: 100%;}
.btn-icon .fa-stop:before {background: url(/assets/default/svgs/pause-button.svg) no-repeat center; background-size: 100%;}
#button-container {display: flex; align-items: center; gap: 0 10px;}
/* Audio Input Style End */

/* Audio Recording Style Start */
.audio-box {margin-bottom: 30px;}
.audio-box .media {margin-bottom: 20px;}
.audio-box img {width: 100%; object-fit: contain; border-radius: 8px;}
.audio-controls {display: flex; align-items: center; justify-content: center; gap: 10px;}
.audio-box button {padding: 8px 30px; height: auto; line-height: normal; border-radius: 30px; border: 1px solid blue; background-color: inherit; color: blue;}
.audio-box button:hover {background-color: blue; color: #fff;}
/* Audio Recording Style End */
/* Video Recording Style Start */
.video-box {margin-bottom: 30px;}
.video-box .media {margin-bottom: 20px;}
.video-box img {width: 100%; object-fit: contain; border-radius: 8px;}
.video-controls {display: flex; align-items: center; justify-content: center; gap: 10px;}
.video-box button {padding: 8px 30px; height: auto; line-height: normal; border-radius: 30px; border: 1px solid blue; background-color: inherit; color: blue;}
.video-box button:hover {background-color: blue; color: #fff;}
/* Video Recording Style End */
/* Image Attachment Style Start */
.image-element-dragdropbox {border: 2px dashed #ccc; text-align: center; max-width: 350px; margin: 0 auto 30px; padding: 25px; border-radius: 5px;}
.image-element-dragdropbox .image-drag img {height: 80px; width: 80px; object-fit: cover; background-color: #fcfcfc;}
.image-element-dragdropbox .image-drag {display: block; margin: 0 0 15px;}
.image-dragdropbox {position: relative;}
.image-dragdropbox input[type="file"] {position: absolute; height: 100%; width: 100%; opacity: 0;}
.image-dragdropbox span {display: block; margin: 0 0 10px;}
.image-dragdropbox em {display: block; font-style: normal; margin: 0 0 10px;}
.image-dragdropbox a {background-color: #e6e6e6; color: #555; font-weight: 500; text-decoration: none; padding: 10px 20px; display: inline-block; line-height: normal; border-radius: 3px;}
/* Image Attachment Style End */
/* Image-Field Style Start */
.image-field img {
    max-width: 100%;
}
/* Image-Field Style End */
/* Full Image-Field Style Start */
.image-full img {
    max-width: 100%;
}
/* Full Image-Field Style End */
/* Spell-Quiz-Page, spelling/year-5/words-with-d-first-letters-spellbee/word-hunts Style Start */
.spell-tooltip-text h4 {margin-bottom: 5px;}
.spell-quiz-page .quiz-questions-bar-holder {margin-left: 0;}
.spell-quiz-page .quiz-questions-bar-holder .quiz-questions-bar {width: 100%;}
.spell-quiz-page .quiz-questions-bar-holder .bar-fill:after {right: -12px;}
.question-area-block.quiz-first-question {margin: 40px 0;}
.quiz-question-card {border-radius: 10px; border: 1px solid #ececec; background-color: #fff; padding: 20px 25px;}
.quiz-question-card .question-title {font-weight: 500; color: #171347;}
.quiz-question-card .question-infos {color: #818894;}
.add-answer-container {height: 300px; overflow-y: auto; overflow-x: visible; width: 100%; padding-right: 10px;}
.add-answer-container .row {margin: 0;}
.add-answer-card {border-radius: 10px; border: 1px solid #ececec; padding: 8px 12px; position: relative;}
.add-answer-card .answer-remove {width: 40px; height: 40px; padding: 0; position: absolute; right: 55px; top: 0; transform: translateY(-50%);}
.quiz-form .quiz-form-btn {min-width: 170px;}
@media (max-width:767px) {
    .quiz-form .quiz-form-btn {min-width: auto;}
}
.quiz-form fieldset:not(:first-of-type) {display: none;}
.quiz-form .quiz-question-media-card {width: 100%; max-width: 100%;}
.quiz-form .quiz-question-media-card img {max-width: 100%; max-height: 100%;}
.quiz-form .quiz-question-media-card .video-js {min-height: 300px !important;}
.quiz-form .question-multi-answers {display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 16px; grid-row-gap: 16px; width: 100%; border: none; border-radius: 0;}
.quiz-form .question-multi-answers .answer-item {position: relative; width: 100%; height: 250px;}
.quiz-form .question-multi-answers .answer-item .correct {position: absolute; top: 10px; left: 10px; border-radius: 10px 0 10px 0; padding: 5px 15px; z-index: 10;}
.quiz-form .question-multi-answers .answer-item .answer-label {cursor: pointer; height: 100%; border-radius: 15px; border: 1px solid #ececec; text-align: center; transition: all .3s ease;}
.quiz-form .question-multi-answers .answer-item .answer-label:hover {background-color: #f7fafd; transition: all .3s ease;}
.quiz-form .question-multi-answers .answer-item .image-container {position: relative; cursor: pointer; border-radius: 15px; transition: all .2s ease; width: 100%; height: 100%;}
.quiz-form .question-multi-answers .answer-item .image-container img {border-radius: 15px;}
.quiz-form .question-multi-answers .answer-item .image-container:after {display: block; opacity: 0; content: ""; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-image: linear-gradient(180deg, rgba(6, 6, 6, 0), rgba(0, 0, 0, .84)); border-radius: 10px;}
.quiz-form .question-multi-answers .answer-item .image-container .selected {display: none; position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%); z-index: 5;}
.quiz-form .question-multi-answers .answer-item .image-container:hover:after {opacity: 1;}
.quiz-form .question-multi-answers .answer-item input[type=radio] {visibility: hidden; display: none; transition: all .3s ease;}
.quiz-form .question-multi-answers .answer-item input[type=radio]:checked+.answer-label {box-shadow: 0 10px 30px 0 rgba(67, 212, 119, .3); border: 3px solid var(--primary); background-color: #fff; transition: all .3s ease;}
.quiz-form .question-multi-answers .answer-item input[type=radio]:checked+.answer-label .image-container:after {opacity: 1;}
ul.quiz-result-logs {text-align: left; font-size: 14px;}
ul.quiz-result-logs li {list-style: disc !important; margin: 6px 0 0 0;}
.spell-question-area .question-layout-block form.question-fields {padding: 0;}
.timebar {display: inline-block; position: relative; height: 3px; width: 100%; }
.timebar .bar-inner {height: 100%; background-color: green; transition: all .4s ease;}
.spell-question-area .timebar {position: absolute; top: 56px; left: 0;}
.spells-quiz-sound {text-align: center; margin: 60px 0;}
.question-label ~ .spells-quiz-sound {margin: 30px 0 60px;}
.spells-quiz-sound strong,
.spells-quiz-from strong{color: #747474; font-size: 20px; font-weight: 400;}
.spells-quiz-sound .play-btn {position: relative; display: inline-block; vertical-align: middle;}
.spells-quiz-sound .play-btn img {margin-top: -10px; margin-left: -10px; left: 50%; width: 20px; height: 20px; transform: none;}
.spell-question-area .question-count {text-align: center;}
.spell-question-area .question-count span {font-weight: 500; color: #000; font-size: 18px;}
.spells-quiz-from strong {margin-right: 5px;}
.spells-quiz-from {text-align: center; display: flex; flex-direction: column;}
.spells-quiz-from .form-field {margin: 0 0 40px; width: 100%;}
.spells-quiz-from input[type="text"],
.question-layout.spells-quiz-from input[type="text"] {font: 1.2rem 'Ubuntu Mono', monospace; letter-spacing: 0.5ch; min-height: auto; padding: 0; text-transform: uppercase; font-size: 28px; font-weight: 600 !important; width: 45px !important;height: 45px;border: 2px dashed #747474;background: none !important;border-radius: 7px !important; letter-spacing: normal !important; text-align: center; margin: 0 2px;}
.question-layout.spells-quiz-from input.editor-field-inputs.empty-field {background-color: #ebebeb !important; border-color: #dcdcdc;}
.spell-words-filters {padding-top: 30px; }
.spell-words-filters .row {align-items: center;}
.spell-words-filters .form-group {margin-bottom: 0; display: inline-block; vertical-align: middle; margin-left: 10px;}
.spell-words-filters .form-group select {border: 1px solid #ddd; padding: 7px 25px 7px 10px; border-radius: 6px; appearance: none;}
.spell-words-filters .form-group:has(select):before,
.spell-words-data .word-block label .down-arrow {content: ""; position: absolute; right: 10px; top: 50%; height: 6px; width: 6px; border: 1px solid #666; border-left: transparent; border-top: transparent; transform: rotate(45deg); margin-top: -5px; pointer-events: none;}
.spell_words_popup .spell-words-filters input.search-word {height: 36px; padding: 5px 10px; }
.spell-words-data {padding-top: 30px; display: flex; flex-wrap: wrap; gap: 0 15px; align-items: flex-start; position: relative;}
.spell-words-data .word-block {display: inline-block; width: 32.3%; }
.spell-words-data .word-block:has(label.collapsed){border-bottom: 1px solid #ececec;}
.spell-words-data .word-block label {margin-bottom: 0; font-weight: 400; position: relative; background-color: #e8f0fd; padding: 15px 0; width: 100%;}
.spell-words-data .word-block label.collapsed {background-color: inherit;}
.spell-words-data .word-block label .down-arrow {border: 1px solid #666; border-bottom: transparent; border-right: transparent; pointer-events: visible; cursor: pointer; z-index: 1;}
.spell-words-data .word-block label.collapsed .down-arrow {transform: rotate(45deg); border: 1px solid #666; border-top: transparent; border-left: transparent;}
.spell-words-data .word-block input[type="checkbox"] {position: absolute; opacity: 0; width: 0; height: 0;}
.spell-words-data .word-details {color: #999; font-weight: 400; position: relative; background-color: #fff; width: 100%; border-top: 1px solid #ececec; border-bottom: 1px solid #ececec; padding: 20px 0; z-index: 1;}
.word-details .close-btn {position: absolute; right: 0; border: 0; background-color: inherit; font-weight: 600;}
.spell-words-filters .play-again {color: #fff; padding: 8px 35px 8px 15px; background-color: var(--primary); text-transform: uppercase; border-radius: 2px; box-shadow: 0px 4px 0 1px rgba(0, 0, 0, 0.8); font-weight: 500; position: relative;}
.spell-words-filters .play-again:after {content: ""; position: absolute; right: 12px; top: 50%; width: 15px; height: 15px; background: url(/assets/default/svgs/play-fill-white.svg) no-repeat; background-size: contain; margin-top: -6px;}
.word-block .play-btn {position: relative;}
.word-details > .play-btn {padding: 0 10px; margin-right: 4px; position: relative;}
.droppable-characters {display: flex; align-items: center; justify-content: center; margin-bottom: 25px; gap: 5px; padding-top: 40px; flex-wrap: wrap;}
.droppable-characters li {background-color: var(--primary); color: #fff; text-transform: uppercase; font-weight: 600; padding: 20px; min-width: 35px; border-radius: 5px; line-height: normal;}
.spells-quiz-from button {min-width: 150px; background-color: inherit; padding: 12px 15px; text-transform: uppercase; border-radius: 5px; color: #000; border: 1px solid #e7e7e7; margin: 0 5px;}
.spells-quiz-from button:hover {background-color: #46484a; color: #fff;}
.spells-quiz-from .form-btn-field {padding-top: 30px; margin-top: auto;}
.spells-quiz-sound strong .sound-icon,
.question-status-modal .modal-title h3 .sound-icon {background-color: #fff; display: inline-block; vertical-align: middle; color: #9c0e28; font-size: 22px; height: 26px; width: 26px; box-shadow: 0 0 4px rgba(0,0,0,0.4); line-height: 26px; border-radius: 100%; cursor: pointer;}
.spells-quiz-sound strong .sound-icon {margin-right: 10px;}
.spells-quiz-from button svg {vertical-align: middle; height: 18px !important; width: 18px !important; margin-left: 5px;}
.spells-quiz-from button svg g {fill: #929198;}
.spells-quiz-from button:hover svg g {fill: #fff;}
.spells-quiz-from .question-submit-btn {border-color: #8fc963; color: #8fc963; position: relative; padding-right: 38px;}
.spells-quiz-from .question-submit-btn:after{content: ""; position: absolute; right: 15px; top: 50%; height: 7px; width: 14px; border: 2px solid; border-top: 0; border-right: 0; transform: rotate(-50deg); margin: -5px 0 0 0;}
.spells-quiz-from .question-submit-btn:hover {border-color: transparent;}
.lms-quiz-section .questions-data-block {border: 0;}
.spells-quiz-from .form-field:has(.frontend-field-error) { display: inline-block; position: relative; border: 0;}
.spells-quiz-from .form-field:has(.frontend-field-error):before {content: ""; position: absolute; bottom: 0px; left: 0; width: 96%; height: 3px; border-bottom: 3px solid #dd4343;}
.spell-question-area .question-label {text-align: center; padding: 60px 0 30px;}
.spells-table-inner .table tbody td:has(.word-char) {min-width: 380px;}
.spells-quiz-from .keyboard-btn,
.keyboard-btn {background-color: #fff; border: 1px solid #ccc;padding: 8px 25px;text-transform: capitalize;font-weight: 500;display: inline-flex;align-items: center;justify-content: center;margin-bottom: 25px;min-width: auto;color: #ccc;}
.keyboard-btn .icon-box {margin-left: 10px;}
.keyboard-btn img {max-width: 100%; display: inline-block; width: 25px; height: 25px;}
body .spell-question-area .question-label span {text-align: center;}
.learning-page.type-vocabulary .spell-quiz-page .left-content:has(table[id*='word-search-']) {height: auto;}
.spell-quiz-page table[id*='word-search-'] {margin: 0 auto;}
.spell-quiz-page table[id*='word-search-'] td {border-color: #d9d9d9;}
.spells-quiz-from .word-cloud-box {max-height: 130px; min-height: 130px; width: 130px; list-style: none;}
/*Spell Listing page Style Start*/
.spells.elevenplus-block {box-shadow: none;}
.spells .table-bordered,
.simple-table.table-bordered {border: 0; margin-bottom: 0;}
.spells.elevenplus-block .table tbody,
.elevenplus-block .simple-table.table tbody {border-width: 0;}
.spells .play-btn {display: inline-block; position: relative; width: 20px; height: 20px; vertical-align: middle; }
.play-btn img {position: absolute; left: 0; top: 50%; margin-top: -10px; width: 20px; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.play-btn .pause-icon {filter: invert(20%) sepia(5%) saturate(18%) hue-rotate(348deg) brightness(89%) contrast(94%); opacity: 0;}
.play-btn.pause .pause-icon {opacity: 1;}
.play-btn.pause .play-icon {opacity: 0;}
.spells .dataTable thead {background-color: inherit; border-bottom: 2px solid #ddd;}
.spells .dataTable thead tr th{color: #333;}
.spells .dataTable thead tr th {padding-bottom: 20px; padding-top: 20px;}
.spells .dataTable thead tr th:first-child {padding-left: 15px;}
.spells td span {font-size: 12px; font-weight: 600; color: #999;}
.spells .table tbody td {position: relative;}
.player-box {position: absolute; top: 100%; left: 0; background-color: #fff; z-index: 1; padding: 10px; box-shadow: 0 0 5px rgba(0,0,0,0.1); opacity: 0;}
.word-char {display: inline-flex; width: 40px; flex-direction: column; justify-content: center; align-items: center; border: 1px solid #ddd; position: relative; border-radius: 5px; margin: 5px 5px 5px 0; overflow: hidden; vertical-align: middle;}
.word-char .play-btn {display: inline-block; height: 20px; width: 20px; position: relative; margin-right: 0;}
.word-char > span {line-height: normal; padding: 5px 0; color: #000; width: 100%; text-align: center; font-size: 14px;}
.word-char .pronounce-letter {background-color: #f6f6f6; font-weight: bold;}
.word-char .pronounce-word {background-color: #ddd;}
.spells .dataTable td a {font-weight: 600; font-size: 18px; text-decoration: none; }
.spells-quiz-from.question-layout.row {margin-left: 0; margin-right: 0;}
/*Spell Listing page Style End*/
/*Words Flip Card Listing Style Start*/
.words-list-holder {
    text-align: center;
    position: relative;
}
.words-list-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 125px;
    min-height: 500px;
    max-width: 500px;
    margin: 0 auto 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    opacity: 0;
}
.words-list-card .card-header,
.words-list-card .card-body .word-icon {
    padding: 0;
    border: 0;
    background-color: inherit;
    display: flex;
    flex-direction: column;
}
.words-list-card .card-header i,
.words-list-card .card-body .word-icon i{
    font-style: normal;
    display: inline-block;
    transform: scale(-1);
    font-size: 30px;
    color: #999;
}
.words-list-card .card-header .word-label {
    font-size: 20px;
    font-weight: 600;
}
.words-list-card .card-body {
    padding: 10px 0 0;
    text-align: left;
}
.words-list-card .word-boxes {
    margin: 0 0 15px;
}
.words-list-card h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 5px;
}
.words-list-card p {
    font-size: 15px;
    font-weight: 500;
    color: #999;
    margin: 0 0 15px;
    line-height: normal;
}
.words-list-card.card-flip {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    transform: none;
    opacity: 1;
    z-index: 1;
}
.words-list-card.card-flip .card-header {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.words-list-card.card-flip .card-body {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: auto 0;
}
.words-list-card .card-footer {
    margin-top: auto;
    border: 0;
    padding: 0;
    background-color: inherit;
    width: 100%;
}
.words-list-card .card-number {
    background-color: #ccc;
    display: inline-flex;
    min-width: 35px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.words-list-card .card-flip-btn {
    padding: 0;
    border: 0;
    background-color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
}
.words-list-card .card-flip-btn img {
    height: 18px;
    width: 18px;
    object-fit: contain;
}
/*Words Flip Card Listing Style End*/
/* Spell-Quiz-Page, spelling/year-5/words-with-d-first-letters-spellbee/word-hunts Style End */

/*Spells-Quiz-Info Style Start*/
.spells-quiz-info ul {border: 1px solid #bac3ca; display: flex; gap: 15px; justify-content: space-between;}
.spells-quiz-info ul li {border-left: 1px solid #bac3ca;text-align: center;width: 32%;padding: 15px 0;font-size: 20px;color: #343434;text-transform: uppercase;display: inline-flex;align-items: center;justify-content: center;gap: 5px;}
.spells-quiz-info ul li:first-child {border-left: 0;}
.spells-quiz-info ul li span {display: inline-block; font-weight: 600; font-size: 20px;}
.spells-quiz-info ul li .nub-of-sec {color: #7caf40; }
.spells-quiz-info ul li img {max-width: 100%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; object-fit: contain;}
/*Spells-Quiz-Info Style End*/

/*Questions-Arithmetic, rurera.com/timestables-practice/freedom-mode/play Style Start*/
.questions-arithmetic-box {box-sizing: border-box; position: relative; min-height: 100px; padding: 0 15px;}
.questions-arithmetic-box:before {content: ""; position: absolute; left: -37px; top: 0; width: 115%;height: 100%; pointer-events: none; background-color: grey; box-shadow: 0 0 8px rgba(0,0,0,0.2);}
.questions-arithmetic-box input[type="text"] {border: 0; font-size: 35px; color: #fff; font-weight: 700; width: calc(100% - 300px); background-color: inherit; margin-left: 8px;     position: relative; z-index: 1;}
.questions-arithmetic-box span,
.lms-quiz-section .questions-arithmetic-box span {font-size: 35px; color: #fff; font-weight: 700; position: relative; z-index: 1;}
.questions-arithmetic-box span span {font-weight: 400;}
.questions-arithmetic-box .questions-controls span {font-size: 13px; font-weight: 500;}
.questions-controls {position: relative; z-index: 1; margin-left: auto;}
.questions-controls svg path {transition: all .5s;}
.questions-controls a:hover svg path {fill: #fff;}
.questions-controls a:hover svg path {fill: #000;}
.questions-controls a.setting-btn svg path {fill: none;}
.questions-controls a.setting-btn:hover svg path {stroke: #000;}
.questions-controls a img {width: 28px; height: 28px;}
.spell-question-area .question-layout-block form.question-fields {border: 1px solid #bac3ca; margin: 0 0 50px; border-radius: 5px; background-color: #fff; padding: 30px 30px 0; overflow: hidden;}
.spell-question-area .question-layout-block form.question-fields {border-radius: 0; border-top: 0;}
.quiz-first-question .spells-quiz-info ul {gap: 0; border: 1px solid #f1f0f5; border-radius: 0;position: relative;z-index: 1;}
.quiz-first-question .spells-quiz-info ul li {width: 33%; border-left-color: #f1f0f5; word-wrap: break-word;}
.quiz-first-question .spells-quiz-info ul li .quiz-timer-counter {width: 100%;}
.quiz-first-question .spells-quiz-info ~ br {display: none;}
.questions-block {border: 1px solid #f1f0f5; border-bottom-width: 5px;border-radius: 0;padding: 20px 0 0;border-top: 0;}
.questions-status span {background-color: #000; height: 15px; flex-basis: 10%; margin: 0 2px; border-radius: 2px;}
.questions-status {margin: 0 -3px; padding: 0 20px;}
.questions-status .successful {background-color: #3ebc3f;}
.questions-status .wrong {background-color: #d11d1e;}
body .learning-page .learning-content .learning-content-box {position: relative; z-index: 1;}
body .learning-page.type-sats .learning-content .learning-content-box {border-color: transparent;}
body .learning-page .learning-title {border-color: #ccc;}
/*Questions-Arithmetic, rurera.com/timestables-practice/freedom-mode/play Style End*/

/*Question Type Start Page Style Start*/
.learning-start-box .learning-content-box-icon {
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 0 0 auto;
}
.learning-start-box .row {
    align-items: center;
}
.learning-start-box .quiz-start-btn {
    padding: 8px 20px;
    height: auto;
}
.learning-start-box .quiz-start-btn img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.1);
    padding: 4px;
    border-radius: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(104%) contrast(106%);
}
.learning-start-box .instruction-text h3 {
    font-size: 36px;
    color: var(--primary);
}
/*Question Type Start Page Style End*/

/*About Net Connection Modal Style Start*/
.about-net-connection .modal-body {
    padding: 00;
}
.about-net-connection .close {
    top: 8px;
    right: 10px;
}
.net-connection-box {
    border-top: 4px solid;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px 25px;
    gap: 10px 15px;
}
.net-connection-box.lost {
    border-top-color: #EA4D67;
}
.net-connection-box.online {
    border-top-color: #2ECC71;
}
.net-connection-box span {
    display: inline-flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.net-connection-box span img {
    height: 18px;
    width: 18px;
    filter: invert(99%) sepia(92%) saturate(387%) hue-rotate(167deg) brightness(114%) contrast(94%);
}
.net-connection-box.lost span {
    background-color: #EA4D67;
}
.net-connection-box.online span {
    background-color: #2ECC71;
}
.reconnect-btn {
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    padding: 8px 15px;
    border-radius: 3px;
}
.net-connection-box.online .reconnect-btn {
    background-color: #b6b6b6;
}
.net-connection-box p {
    margin: 0;
}
.about-net-connection .modal-content {
    background-color: inherit;
    box-shadow: none;
}
/*About Net Connection Modal Style End*/

/*Questions-Block-Numbers, rurera.com/timestables-practice/freedom-mode/play Style Start*/
.questions-block-numbers {overflow: hidden;}
.questions-block-numbers ul {border-right: 1px solid #f1f0f5; border-bottom: 1px solid #f1f0f5; margin: 0 -3px;}
.questions-block-numbers li {flex-basis: 33%;}
.questions-block-numbers span {display: block; padding: 40px 15px; text-align: center; font-size: 26px; font-weight: 500; transition: all .5s ease; border: 1px solid #f1f0f5; border-bottom: 0; border-right: 0; color: #000; cursor: pointer;}
.questions-block-numbers .delete span {color: #fe0000;}
.questions-block-numbers .enter span {    color: #008001;}
.questions-block-numbers span:active {background-color: var(--primary); color: #fff;}
/*Questions-Block-Numbers, rurera.com/timestables-practice/freedom-mode/play Style End*/

/**********************************
Lms Table Style 
**********************************/
.lms-table {margin-bottom: 50px; margin-left: 20px; box-sizing: border-box;}
.lms-table table {border-collapse: collapse; width: 100%;}
.lms-table tr th {background-color: #82a724; color: #fff; font-weight: 400; border-left: 1px solid; padding: 5px 10px; min-width: 60px;}
.lms-table input[type="text"] {width: 40px; border: 1px solid #b7b6b9; height: 25px; text-align: center; font-size: 13px;}
.lms-table tr td {border: 1px solid #ccc; text-align: center; padding: 5px 10px;}
.rureraform-element table.table,
body table {margin: 0; border-color: #dee2e6; overflow: hidden;}
.rureraform-element table.table td,
body table td {background-color: #fff; line-height: normal; text-align: center; vertical-align: middle; padding: 5px; height: 50px; border-color: #dee2e6; border-style: solid; border-width: 1px;}
.rureraform-element table.table td .field-holder,
body table td .field-holder {border: 0;}
.rureraform-element table.table td,
.rureraform-element table.table th,
body table th,
body table td {max-width: 220px;}
.question-layout table.table td p,
body table td p {margin: 0;}
.rureraform-element table.table td .input-holder,
body table td .input-holder {width: 100%; border-width: 0;}
.rureraform-element table.table td .input-holder input,
body table td .input-holder input {text-align: center; background-color: initial; border: 1px solid #ddd; height: 38px; min-height: 38px; background-color: #fcfcfc;}
.rureraform-element table.table td .input_line,
body table td .input_line {width: 100% !important; margin: 0;}
.rureraform-element table.table th,
.rureraform-element table.table td .input_line,
body table th {background-color: #c8d2ec;border-color: #dee2e6; padding: .75rem;}
.rureraform-element table.table th b,
body table th b {font-weight: 500;}
/**********************************
Lms Table Style End
**********************************/
/*Field row style start*/ 
.rurera-in-row {display: flex; flex-wrap: wrap; gap: 10px; justify-content: flex-start;}
.rurera-in-row .rurera-in-row {width: 100%;}
.rurera-in-row .form-field label {
    height: 100%;
    justify-content: center;
}
.rurera-in-row .form-field {
    min-width: 65px;
}
/*.rurera-in-row .field-holder,*/
/*.rurera-in-row .form-field {width: 31.555%;}*/
.spells-quiz-from .lms-radio-select.rurera-in-row {align-items: center; justify-content: center; padding: 15px 15px 0;}
.spells-quiz-from .rurera-in-row .field-holder,
.spells-quiz-from .rurera-in-row .form-field {width: 20%; margin-bottom: 0; padding: 0;}
/*Field row style end*/

/*Field row with image style start*/
.lms-checkbox-img.rurera-in-row .field-holder,
.lms-checkbox-img.rurera-in-row .form-field,
.lms-radio-img.rurera-in-row .field-holder,
.lms-radio-img .field-holder,
.lms-radio-img.rurera-in-cols .field-holder,
.rurera-in-cols.image-top .field-holder:has(label img),
.rurera-in-row.image-top .field-holder:has(label img) {width: 31.555%;}
/*Field row with image style End*/

/*Field col style start*/
.rurera-in-cols {gap: 14px; display: flex; flex-wrap: wrap; flex-direction: column; }
.rureraform-element .rureraform-col .rureraform-element {padding: 0; outline: none !important;}
.rurera-in-cols .field-holder,
.rurera-in-cols .form-field {width: 100%;}
.rurera-in-cols:has(label img) {flex-direction: row;}
/*Field col style end*/