/*Sats Summary style start*/
.sats-summary {margin: 0 0 50px; background-color: #fff; border-radius: 10px; overflow: hidden; border: 1px solid #e2e8f0;}
.chart-summary-fields .sats-summary {margin-bottom: 30px;}
.sats-summary label {display: block; margin: 0 0 6px; line-height: normal; text-transform: uppercase; font-size: 14px;}
.sats-summary [class*="col-"] {padding: 30px; border-left: 1px solid #e1e1e1; background-color: #fff; display: inline-flex; flex-wrap: wrap;}
.sats-summary .row {margin: 0;}
.sats-summary [class*="col-"]:first-child {border-left: 0;}
.sats-summary .score {color: #666; font-size: 18px; line-height: normal; font-weight: 500;}
.sats-summary .sats-summary-icon {margin-right: 12px; width: 22px;}
.sats-summary .sats-summary-icon svg {width: 22px; height: 22px; display: inline-block;}
.sats-summary .summary-text {width: calc(100% - 35px);}
.chart-summary-fields .sats-summary [class*="col-"] {background-color: #f5f5f5; align-items: center;}
.chart-summary-fields .sats-summary .sats-summary-icon {margin-right: 15px; width: 35px; height: 35px; text-align: center; display: inline-flex; align-items: center; justify-content: center; border-radius: 50%; padding: 0;}
.chart-summary-fields .sats-summary .sats-summary-icon img {width: 19px; height: 19px;}
.chart-summary-fields .sats-summary .sats-summary-icon svg {width: 20px; height: 20px;}
.chart-summary-fields .sats-summary .summary-text {width: calc(100% - 50px); text-align: left;}
.chart-summary-fields .sats-summary [class*="col-"].bitcoin-box {background-color: initial;}
.chart-summary-fields .sats-summary .score {color: #0d173b; font-size: 16px;}
.chart-summary-fields .sats-summary [class*="col-"].bg-none {background-color: inherit; padding: 20px 0;}
.finish-steps .result-layout-summary .sats-summary [class*="col-"] {max-width: none; flex: 0 0 auto; width: auto; padding: 8px 15px;}
.chart-filters .form-group:has(select) {margin-left: auto; display: inline-flex; align-items: center; gap: 10px; margin-bottom: 0; }
.chart-filters .form-group:has(select) .input-label {margin-bottom: 0;}
.filters-list {width: 100%;}
.chart-wraper .sats-summary {border-radius: 0; border: 0; margin: 0 0 25px; padding: 0 0 25px; border-bottom: 1px solid #ededed;}
.chart-wraper .chart-holder {background-color: #fff; padding: 0;}
.chart-summary-fields {background-color: #fff; padding: 0;}
.chart-summary-fields h3 span {display: block; padding-top: 10px; line-height: normal;}
.chart-summary-fields h3 img {width: 50px; height: 50px; object-fit: contain;}
.finish-steps .row {justify-content: center;}
.finish-steps .result-layout-summary .sats-summary {display: inline-flex; border-radius: 5px;}
.finish-steps .summary-text label {display: inline-block; margin: 0; vertical-align: middle; text-transform: capitalize;}
.finish-steps .summary-text .score {display: inline-block; vertical-align: middle; padding-left: 5px;}
.finish-steps .sats-summary .sats-summary-icon {margin-right: 10px; width: 30px; height: 30px;}
.finish-steps .chart-summary-fields .sats-summary .summary-text {width: calc(100% - 40px); text-align: left;}
/*Sats Summary style end*/

/* Columns Selection Style Start */
.rureraform-admin-editor * {box-sizing: border-box;}
.rureraform-form {position: relative;}
.rureraform-elements {min-height: 60px;}
.rureraform-element {width: 100%;outline: 1px dashed #f3f1f1 !important;height: auto !important;margin-top: 10px;margin-bottom: 10px;padding: 10px;display: block !important;visibility: visible !important;opacity: 1 !important;}
.rureraform-element:hover {outline: 2px solid #26B99A !important;}
.rureraform-element::before {display: table;content: ' ';}
.rureraform-element::after {clear: both;display: table;	content: ' ';}
.rureraform-element-placeholder {background: transparent;border-radius: 3px;border: 1px dashed #26B99A;background-color: #26B99A;	opacity: 0.2;height: 40px;}
.rureraform-element-helper {height: 40px !important;width: 160px !important;overflow: hidden !important;}
.rureraform-element-helper.ui-sortable-helper {width: 100% !important; height: auto !important; outline: 1px dashed #f3f1f1 !important;}
.ui-sortable .rureraform-element-placeholder {background-color: transparent; border-color: transparent;}
.rureraform-element-helper .rureraform-element-cover {display: block;background: white;}
.rureraform-col .rureraform-element:first-of-type {	margin-top: 0;}
.rureraform-col .rureraform-element:last-of-type {margin-bottom: 0;}
.rureraform-col-1 {width: 8.33333333%;}
.rureraform-col-2 {width: 16.66666666%;}
.rureraform-col-3 {width: 25%;}
.rureraform-col-4 {width: 33.33333333%;}
.rureraform-col-5 {width: 41.66666666%;}
.rureraform-col-6 {width: 50%;}
.rureraform-col-7 {width: 58.33333333%;}
.rureraform-col-8 {width: 66.66666666%;}
.rureraform-col-9 {width: 75%;}
.rureraform-col-10 {width: 83.33333333%;}
.rureraform-col-11 {width: 91.66666666%;}
.rureraform-col-12 {width: 100%;}
.rureraform-row.rureraform-element [class*="rureraform-col-"] {float: none; display: inline-block; margin-right: 0; vertical-align: top; outline: 1px dashed #f3f1f1; padding: 15px; }
/* Columns Selection Style End */

/* Question Templates Style Start */
.rureraform-toolbar-list .question_templates {max-width: 480px; min-width: 480px; background-color: #fff; position: absolute; left: 10px; top: 100%; border: 1px solid #c7c7c7; z-index: 2; visibility: hidden; opacity: 0; display: flex; flex-wrap: wrap; padding: 0; margin: 0; transform: translateY(10px); box-shadow: 3px 3px 3px rgba(0,0,0,0.4); -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; -moz-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all; transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;}
.rureraform-toolbar-list>li:hover .question_templates {visibility: visible; opacity: 1; transform: translateY(0); display: flex;}
.rureraform-toolbar-list .question_templates li {flex: 0 0 25%; max-width: 25%; padding: 0; margin: 0; height: auto; line-height: normal; }
.rureraform-toolbar-list .question_templates li a {display: block; text-align: center; font-size: 11px; font-weight: 500; padding: 10px 10px 5px; color: #544951; line-height: normal; text-decoration: none; height: auto; transition-duration: .8s; -webkit-transition-duration: .8s;}
.rureraform-toolbar-list .question_templates li a img {display: block; max-width: 100%; margin: 0 auto 8px;}
.rureraform-toolbar-list .question_templates li a:hover img {animation: bouncing 0.5s 0.3s;}
.rureraform-toolbar-list .question_templates li a:hover {background-color: #f8e6ce;}
@keyframes bouncing {
	from, to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
/* Question Templates Style End */

/* Dropdowns/input Style Start */
/* Dropdowns/input Style End */

/* Image Draggable Style Start */
.ui-draggable.ui-draggable-handle {cursor: all-scroll;border: 2px solid #ddd;border-bottom-width: 4px;line-height: normal;text-align: center;border-radius: 8px;margin: 3px 6px 0 0;color: #333;background-color: #fdfdfd;padding: 4px 25px 8px;width: auto;}
.draggable-items .ui-draggable:hover {background-color: #f8f8f8;}
.rureraform-element-cover {position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;transition-duration: .3s;-webkit-transition-duration: .3s;display: none;}
div.rureraform-element-checkbox-container div.rureraform-element-cover {display: none !important;}
.rureraform-element-html img {object-fit: cover;}
/* Image Draggable Style End */

/* Image Static Style Start */

/*Image Sizes Style Start*/
.image-large img {max-width: 300px;	min-width: 300px;}
.image-medium img {max-width: 200px;min-width: 200px;}
.image-small img {max-width: 100px;	min-width: 100px;}
/*Image Sizes Style End*/

/*Image Alignments Style Start*/
.image-left {text-align: left !important;display: flex;align-items: flex-start;justify-content: flex-start;}
.image-right {text-align: right !important;display: flex;align-items: flex-end;justify-content: flex-end;}
.image-center {text-align: center !important;display: flex;align-items: center;justify-content: center;}
/*Image Alignments Style End*/

/* Image Static Style End */

/* Essay Textarea Field Style Start */
.input-holder textarea {padding: 10px; border: 0; border-radius: 8px; color: #000; outline: none; width: 100%;}
.input-holder textarea::-webkit-input-placeholder {color: #000; }
.input-holder textarea:-moz-placeholder {color: #000;}
.input-holder textarea::-moz-placeholder {color: #000;}
.input-holder textarea:-ms-input-placeholder {color: #000;}
/* Essay Textarea Field Style End */

/* Input Text Field Style Start */
.input-holder input.input-simple {border: 3px solid #000; height: 32px; min-height: 50px; color: #000; font-size: 16px; text-align: left; font-weight: 400; border-radius: 8px; display: inline-block; padding: 0 10px; width: 100%;}
.input-holder input[type="text"],
.input-holder input.input-simple {border: 0; background-color: #fcfcfc;}
.question-result-layout .input-holder .input-simple {width: 100%; }
/* Input Text Field Style End */

/* True False Style Start */
.form-box.inline-fields .lms-radio-select {margin-bottom: 0;}
.lms-radio-select label {margin: 0; border: 2px solid #ddd; border-bottom-width: 4px; min-height: 50px; display: inline-flex; align-items: center; border-radius: 8px; cursor: pointer; overflow: hidden; position: relative; z-index: 1; padding: 0 15px; -webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;width: 100%;}
.lms-radio-select.inline-fields .field-holder label {width: 100%;}
.lms-radio-select label:hover {background-color: rgba(0,0,0,0.05);}
.lms-radio-select .field-holder.wrong label {border-color: #ff4a4a;}
.lms-radio-select input[type=radio] {position: absolute; width: 0; height: 0;}
.lms-radio-select input[type=radio]:checked~label {background-color: rgba(0,0,0,0.05); box-shadow: none;}
.lms-radio-select input[type=radio]:checked~label:after {width: 100%; transition: 0.4s; }
.row-fields .lms-radio-select input[type=radio]:checked~label:after {width: 100%; transform: none;}
.row-fields .lms-radio-select label:after {width: 0; transform: none;}
.lms-radio-select input[type=radio] ~ label {padding-right: 50px;}
.spells-quiz-from .lms-radio-select label {max-height: 50px; padding-right: 15px !important; justify-content: center;}
.lms-sorting-fields.inline-fields {margin: 0 -8px;}
.lms-radio-select .field-holder {border: 0; padding: 0; height: auto;}
/* True False Style End */

/* File Attachment Style Start */
.rureraform-form-editor .input-group-prepend ~ input[type="text"] {margin-bottom: 0; border: 1px solid #ccc; height: 42px; padding: 0 10px;}
.rureraform-form-editor .input-group-append .input-group-text,
.rureraform-form-editor .input-group-prepend .input-group-text{border-color: #ccc;} 
.lms-quiz-create .fa, .far, .fas {font-family: "Font Awesome 5 Free" !important;}
.lms-quiz-create .fa, .fas {font-weight: 900 !important;}
/* File Attachment Style End */

/* Multi Response List Style Start */
.form-box {position: relative;}
.form-field input[type="checkbox"] {position: absolute; left: 0; top: 0; opacity: 0;}
.form-field label {background-color: #fff; border: 2px solid #ddd; border-bottom-width: 4px; border-radius: 8px; position: relative; cursor: auto; padding: 15px; width: 100%; margin-bottom: 0; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; line-height: normal;}
.form-field label {-webkit-user-select: none; -ms-user-select: none; user-select: none;}
.form-field input[type="checkbox"] ~ label {min-height: 52px; text-align: left;}
.form-field input[type="checkbox"]:checked ~ label:after {opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.form-field input[type="checkbox"]:checked ~ label{background-color: #ddd;}
.form-field label:hover {border: 2px solid #c4c3c3;border-bottom-width: 4px;border-radius: 8px;}
.row-fields.lms-checkbox-img label {padding: 5px;}
.lms-checkbox-img .form-field label:before {width: 30px; height: 30px; right: 15px; border-radius: 100%; margin-top: -15px;}
.lms-checkbox-img .form-field label:after {right: 24px; font-size: 14px; height: auto; width: auto; line-height: normal; top: 50%; margin-top: -10px;}
.lms-checkbox-img .form-field input[type="checkbox"]:checked ~ label:after {-webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.lms-checkbox-img label img {border-radius: 3px; width: 35px;  height: 35px; object-fit: contain; margin-right: 10px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.lms-checkbox-img label {border-radius: 5px; display: flex; align-items: center;}
.lms-checkbox-img .form-field.wrong label {background: none; border-color: #ff4a4a; color: #000;}
.lms-checkbox-img .form-field.wrong label:before {border-color: #ff4a4a;}
/* Multi Response List Style End */
/* Image Static Style Start */
/*image top style*/
.lms-checkbox-img.image-top .form-field label {flex-direction: column; justify-content: flex-start; align-items: flex-start; padding-right: 15px; padding-left: 15px; color: #838383;}
.lms-checkbox-img.image-top .form-field label:before {border-radius: 0; height: 20px; width: 20px; top:10px; margin: 0; right: 10px;}
.lms-checkbox-img.image-top .form-field label:after {right: 13px; top: 9px; margin-top: 0; width: 15px; height: 15px; font-size: 14px; }
.lms-checkbox-img.image-top label img {margin: 0px 0px 10px; width: auto; max-width: 100%; height: auto;}
.lms-checkbox-img.image-top .form-field input[type="checkbox"]:checked ~ label img {margin-right: 0;}
/*image right style*/
.image-right .form-field input[type="checkbox"] ~ label {padding-right: 60px;}
.lms-checkbox-img.image-right .form-field label img {position: absolute; right: 10px; margin: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.lms-checkbox-img.image-right .form-field input[type="checkbox"]:checked ~ label img {margin-right: 0;}
.lms-checkbox-img.image-right .form-field input[type="checkbox"] ~ label {padding-left: 12px;}
.lms-checkbox-img.image-right .form-field label:before {left: 12px; right: auto; top: 50%; transform:translateY(-50%); margin: 0; border-radius:3px; opacity: 0;}
.lms-checkbox-img.image-right .form-field label:after {font-size: 18px; top: 50%; margin: 2px 0 0 0; height: 30px; width: 30px; text-align:center; transform:translateY(-50%); left: 12px; right: auto;}
.lms-checkbox-img.image-right .form-field input[type="checkbox"]:checked ~ label:before {opacity: 1;}
.lms-checkbox-img.image-right .form-field input[type="checkbox"]:checked ~ label:after {transform:translateY(-50%);}
/* Image Static Style End  */

/* Sortable List Style Start */
.lms-sorting-fields span {line-height: normal; display: block; font-size: 15px;}
.lms-sorting-fields .field-holder {background-color: #fff; border: 2px solid #ddd; border-radius: 8px; border-bottom-width: 4px; padding:16px 15px; cursor: all-scroll; position: relative; height: auto; min-width: 130px; text-align: left;}
.lms-sorting-fields.multi-lines {flex-direction: column; align-items: flex-start; margin-left: 0; margin-right: 0;}
.lms-sorting-fields.multi-lines .field-holder {margin: 0 0 10px; width: 100%; visibility: visible !important;}
.lms-sorting-fields.multi-lines .field-holder:last-child {margin-bottom: 0;}
.sort-icon {height: 20px; width: 25px; display: inline-block; vertical-align: middle; }
.sort-icon span,
.lms-quiz-section .sort-icon span {height: 3px; background-color: #999; margin-bottom: 4px; display: block; }
.lms-sorting-fields .sort-icon {position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
.lms-sorting-fields .field-holder label {margin: 0; pointer-events: none;}
.lms-sorting-fields .field-holder img {max-width: 100%;}
.lms-sortable-img.lms-sorting-fields .field-holder img {max-width: 60px; height: 55px; object-fit: cover;}
.lms-sorting-fields .match-question {position: initial !important; display: inline-block; width: 100% !important; height: auto !important;}
.lms-sorting-fields .match-question.ui-sortable-placeholder {position: absolute !important;}
.lms-sorting-fields .field-holder .sort-icon ~ label {padding-right: 40px;}
.lms-sorting-fields {display: inline-block; width: 100%;}
.question-textarea .table {overflow: hidden;}
.lms-sorting-fields::-webkit-scrollbar {height: 5px}
/* Sortable List Style End */

/* Question Label Style Start */
.question-label {position: relative;}
/*.question_label span {background-color: rgb(200,210,237);  margin: 0;padding: 10px 5px 10px 10px;  border-radius: 13px; line-height: normal;text-align: left;border: 0;display: inline-block;vertical-align: middle;width: 100%;position: relative; overflow: hidden; border-left: 0; color: #2c2c2c;font-weight: 600;font-size: 16px;}*/
.question_label span {background-color: rgb(200,210,237); padding: 10px 5px 10px 13px;  border-radius: 13px; display: inline-block;width: 100%; font-weight: 600; font-size:20px;}
.question_heading span {margin: 0;padding: 0;border-radius: 6px;line-height: normal;text-align: left;border: 0;display: inline-block;vertical-align: middle;width: 100%;position: relative; overflow: hidden; border-left: 0; color: #2c2c2c;font-weight: 600;font-size: 30px;}
/* .question-label span, */
/* .lms-quiz-section .question-label span {margin: 0;padding: 0;border-radius: 6px;line-height: normal;text-align: left;border: 0;display: inline-block;vertical-align: middle;width: 100%;position: relative; overflow: hidden; border-left: 0; color: #5e5c5c;font-weight: 700;font-size: 25px;} */
.spells-quiz-from .question-label {margin-bottom: 20px;padding: 0 15px 10px;}
.spells-quiz-from .question-label span {text-align: center; line-height: 31px;}
/*.quiz-group .rureraform-column-label {margin-bottom: 0;}*/
.quiz-group .rureraform-column-label .rureraform-label {margin: 0; font-weight: 600;}
.quiz-group .rureraform-column-label:has(label:empty) {display: none;}
/* Question Label Style End */

/* Separator Style Start */
/* Separator Style End */

/* Draggable Style Start */
.draggable-items {display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 20px; margin-top: 40px;}
.draggable-items .ui-draggable {color: #666; height: auto; margin: 0;}
.draggable-items .ui-draggable span {color: #999; vertical-align: middle;}
.droppable_area, .lms-quiz-section .droppable_area {display:inline-flex; height: auto; padding: 0; margin: 0; border-radius: 0; border-bottom: 2px dotted #ddd; vertical-align: text-bottom; justify-content: center; align-items: center; min-width: 190px; text-align: center; min-height: 40px; }
span.Selectable.marking-selected {background: #fff716; cursor: pointer;}
.lms-quiz-section .droppable_area .draggable-option {border: 2px solid #ddd; line-height: normal; padding: 4px 20px 8px; border-radius: 5px; border-bottom-width: 4px; margin-top: 20px;}
/* Draggable Style End */

/* Insert Into Sentence Style Start */
.insert-into-sentense-holder p {
	word-wrap: break-word;
}
.insert-options {
    width: 100%;
    display: inline-block;
    margin: 0 0 30px;
}
/* Insert Into Sentence Style End */

/* Match Style Start */
.match-question{width:100%;}
.match-question .stems li,
.match-question .options li {list-style: none; padding: 0.8rem 1rem; margin: 0 0 1rem; text-align: left; line-height: normal;}
.match-question .stems,
.match-question .options {width: 40%; margin-right: 10%; float: left;}
.match-question .stems li,
.match-question .options li {background: transparent; cursor: pointer; border: 1px solid #999; border-radius: 4px; &.selected,  &.selected:hover {font-weight: bold; border-color: #70c17c;}}
.match-question .stems li > img,
.match-question .options li > img {margin-bottom: 10px;}
.match-question .line {width: 100%; height: 2px; background-color: #e5e5e5; &.highlighted {background-color: green; box-shadow: none; height: 3px; .point {border-left: 16px solid green;}}
  .point {width: 0; height: 0; margin: -6px -3px 0 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 16px solid #e5e5e5; float: right;}
}
.match-question .stems ol {padding: 0; margin: 0;}
/* Match Style End */