/* Default Style
***********************/
.learning-page .learning-page-content {
    background-color: #fff;
    padding-left: 0 !important;
    padding-top: 0 !important;
    transition: all .3s ease;
    /* margin-right: 370px; */
}
.learning-page-tabs .tab-content .tab-pane {
    background-color: #fff;
    border: 1px solid #e1e2e4;
    border-radius: 10px;
}
/* .lms-content-holder .question-layout-block {
    padding: 0 0 0 50px;
} */
.learning-page {
    overflow: hidden;
    padding-top: 100px;
}
.learning-page.type-practice.type-sats {
    background-color: #fff;
    padding-top: 10px;
}
.learning-page .learning-page {
    padding-top: 0;
}
.menu-closed .panel-sidebar ~ .learning-page-content {
    /* margin-left: 100px; */
    margin-left: 15px;
}
.panel-sidebar ~ .learning-page-content {
    margin-left: 254px;
    box-sizing: border-box;
}
.right-menu-closed .learning-page .learning-page-content {
    margin-right: 0;
}
.questions-data-block {
    /* position: relative; */
}
.read-quiz-content .left-content {
    width: 100%;
    overflow: hidden;
    padding-right: 0;
}
.spell-question-area .question-layout-block form.question-fields {
    overflow: hidden;
}
.rureraform-inline.rureraform-container {position: relative; background-color: #fff; border-radius: 0 5px 5px 5px; height: calc(100vh - 100px); overflow: hidden; overflow-y: auto;}
.rureraform-element .field-group {display: inline-flex; align-items: center;}
.field-group p.text-field {margin: 0 5px 0 0; display: flex; align-items: center; max-width: 30%; width: 30%; justify-content: right; flex-wrap: wrap;}
.field-group p.text-field span {font-size: 16px; color: #000;}
.input-field.input-lg input[type="text"] {max-width: 80px;}
.field-group input[type="text"] {height: 28px;font-size: 16px;color: #990000;text-align: left;padding: 1px;border: 1px solid #ccc;border-radius: 2px;}
.field-group .marks {margin-left: 60px; font-size: 12px; color: #006600; letter-spacing: 1px;}
.field-group .divide-numbers span { display: inline-block; vertical-align: middle; text-align: center;}
.field-group .divider {height: 2px; background-color: #000; display: block; line-height: normal; margin: 2px 0;}
.lms-quiz-section span .divide-numbers:has(.input_box) .input_box {
    margin: 0;
    width: 100% !important;
}
.lms-quiz-section span .divide-numbers:has(.input_box) .divider {
    margin-bottom: 10px;
    margin-top: 10px;
}
.field-group .input-group .divider {margin: 0;}
.field-group .plus,
.field-group .equal {font-weight: 700;}
.input-field.input-md {display: flex; align-items: center; justify-content: flex-end;}
.input-field.input-md input[type="text"] {width: 36px; height: 28px; border: 1px solid #ccc;}
.input-field .input-group {flex-direction: column;}
.field-group .actions-control {font-size: 16px; text-transform: capitalize; font-weight: 600; margin: 0; display: flex; align-items: center;}
.field-group .action-btn {text-decoration: none; outline: none;}
.field-group .actions-control span {margin-left: 10px; display: block; line-height: normal;}
/*.rureraform-elements .rureraform-element-html > span {font-family: Verdana; font-size: 18px;}*/
.rureraform-element-html h5 {font-family: Verdana;}
.mr-5 {margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.ml-5 {margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
/* Leform Pages Bar Style Start */
.rureraform-form-editor{position:relative;margin-left:100px;}
.rureraform-pages-bar{background-color: transparent; position: absolute; left: 320px; top: 62px; border: 0; width: 70px;}
.rureraform-admin .rureraform-pages-bar {left: -69px; top: 144px;}
.rureraform-pages-bar-items{width: 100%;}
.rureraform-pages-bar-items>li{border-bottom-left-radius: 25px;border-top-left-radius: 25px;height: 60px;line-height:62px;border-top:0;min-width:100%;margin:0;padding: 0;text-align: center;}
.rureraform-pages-bar-items>li:first-child{border-top:1px solid #d4d4d4;margin-top:1px;}
.rureraform-pages-bar-items>li{-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-ms-transition:all .5s linear;-o-transition:all .5s linear;transition:all .5s linear;background-color: hsla(0,0%,100%,.75);}
.rureraform-pages-bar-items>li label{color:#172e50;font-size: 18px;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.rureraform-pages-bar-items>li span a, 
.rureraform-pages-bar-items>li span a:visited{font-size: 1rem;}
.rureraform-pages-bar-items>li span{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;line-height:60px;height:55px;}
.rureraform-pages-bar-items>li:hover > label {padding-left: 3px;margin-right: 26px;}
.rureraform-pages-bar-items>li:hover, .rureraform-pages-bar-items>li:hover span{background-color: #fff;}
.rureraform-pages-bar-items>li.rureraform-pages-add:hover > label {margin: 0;padding-left: 0;}
.rureraform-pages-bar-items>li.rureraform-pages-add label{font-size:1rem;line-height:1.6rem;padding:12px 0 0;margin:0;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.rureraform-pages-bar-items>li.rureraform-pages-add{height: 80px; line-height: 80px;}
.rureraform-pages-bar-items>li.rureraform-pages-add label i{display: block;}
.rureraform-pages-bar-items>li.rureraform-pages-bar-item-active, 
.rureraform-pages-bar-items>li.rureraform-pages-bar-item-active.rureraform-pages-bar-item-confirmation{border-bottom:3px solid #169f85;margin-right:-1px;background:#fff;border-right:1px solid transparent;}
/* Leform Pages Bar Style End */

/* Green Form Fields Responsive Style */
@media screen and (min-width:992px) and (max-width:1800px) {
	.rureraform-pages-bar {left: 30px;}
	.rureraform-inline.rureraform-container {margin-left: 100px !important; margin-right: 30px !important; max-width: 100% !important;}
}
@media screen and (max-width: 992px) {
	/* body {padding-left: 10px; padding-right: 10px;} */
	.rureraform-pages-bar {position: fixed; left: 10px; top: 5px; border: 0; width: 100%;}
	.rureraform-pages-bar-items {width: 100%; display: flex;}
	.rureraform-pages-bar-items>li:first-child {border-top: 0; margin-top: 0;}
	.rureraform-pages-bar-items>li {display: inline-flex; align-items: center; justify-content: center;padding: 0 20px; min-width: auto; border-radius: 0; margin-right: 2px;}
	.rureraform-inline.rureraform-container {width: 100% !important; margin-left: 0 !important;}
	.rureraform-form .rureraform-col-6,
	.rureraform-form .rureraform-col-4 {width: 100%;}
	.rureraform-form .rureraform-col-3,
	.rureraform-form .rureraform-col-2 {width: 50%;}
	.field-group p.text-field {max-width: 25%; width: 25%; justify-content: flex-start; padding-left: 30px;}
	.rureraform-element-html h5 .ml-20 {margin: 15px 0 0; display: block;}
	.rureraform-element-html h5 span {font-size: 15px;}
    .rureraform-pages-bar-items>li label {font-size: 16px;}
	.field-group p.text-field span {font-size: 14px;}
}
@media screen and (max-width: 480px) {
    .rureraform-element .field-group {margin: 20px 0 0 0;}
	.rureraform-form .rureraform-col-3,
	.rureraform-form .rureraform-col-2 {width: 100%;}
	.rureraform-form-2 .rureraform-element-34 div.rureraform-input .rureraform-imageselect+label {width: 48%;}
    .field-group p.text-field {max-width: 36%; width: 36%; justify-content: flex-start;	padding: 0;}
}
/****************************
Green Form Fields Style End
****************************/

/****************************
Range-Slider Style
****************************/
.range-price {
    text-align: center;
    margin: 0 -7px 20px;
    font-size: 50px;
}
.range-price strong {
    font-weight: 500;
    margin: 0 7px;
}
.range-price strong em {
    font-size: 22px;
    margin: 10px 0 0 2px;
    line-height: normal;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}
.range-container {
    position: relative;
    max-width: 350px;
    margin: 150px auto 0;
}
.range-container input[type='range'] {
	background-color: transparent;
    -webkit-appearance: none;
	position: relative;
	width: 350px;
}
.range-container input[type='range']:focus {
    outline: none;
}
.range-container input[type='range'] + label {
    position: absolute;
	bottom: -20px;
	left: 0;
	transform: translateX(-50%);
}
input[type='range']::-webkit-slider-runnable-track {
    background: transparent;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 115px;
    width: 12px;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
    border: 0;
    margin-top: -18px;
	margin-left: -10px;
    position: relative;
}
input[type='range']::-moz-range-track {
    background: transparent;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
input[type='range']::-ms-track {
    background: transparent;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.range-bar-holder {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid #0b3a54;
    width: 350px;
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    height: 78px;
}
.range-bar-holder .track-bar {
    width: 20%;
    height: 100%;
    position: relative;
}
.range-bar-holder .track-bar:before {
    content: "";
    background-color: #fff;
    width: 6px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}
.range-bar-holder .track-bar:first-child {
    border-radius: 50px 0 0 50px;
}
.range-bar-holder .track-bar:last-child {
    border-radius: 0 50px 50px 0;
}
/* .range-container.vertical input[type=range][orient=vertical] {
	height: 100%;
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
} */
.range-container.vertical {
	min-height: 220px;
}
.range-container.vertical .range-box {
	transform: rotate(-90deg);
}
.range-value-count {
    text-align: center;
}
.range-value-count span {
    color: #333;
    font-size: 24px;
    border: 1px solid #ccc;
    min-width: 190px;
    text-align: center;
    border-radius: 50px;
    min-height: 65px;
    padding: 0 50px 0 30px;
    font-weight: 500;
    display: inline-block;
    line-height: 65px;
    margin: 0 0 30px;
    position: relative;
}
.range-value-count span:after {
    background: url(../img/quiz/coin-img.jpg) no-repeat center;
    content: "";
    position: absolute;
    right: 28px;
    top: 50%;
    height: 46px;
    width: 46px;
    margin-top: -23px;
}
.range-container.vertical input[type='range'] + label {
    transform: translateX(0) rotate(90deg);
    margin-bottom: -25px;
    color: #a4b96a;
    padding-left: 35px;
    height: auto;
    font-size: 18px;
    left: 148px;
    line-height: 38px;
}
.range-container.vertical label:before {
    background: url(../img/quiz/coin-img.jpg) no-repeat center;
    background-size: 90%;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    left: 2px;
    top: 4px;
}
/* .range-container label:after {
    position: absolute;
    right: -15px;
    content: "%";
    font-size: 16px;
} */
.range-container.vertical input[type='range']::-webkit-slider-thumb {
	margin-left: 0px;
}
.question-layout {
    position: relative;
}
form .marks,
.marks {
    position: absolute;
    right: -80px;
    top: 50%;
    margin-top: -12px;
    font-size: 15px;
    color: #74a16f;
    font-weight: 500;
    letter-spacing: 1px;
}
/* .marks ~ .rureraform-element {
    width: calc(100% - 60px);
} */

/************************ 
Lms Top Content Style 
************************/
.learning-page .learning-page-tabs {
    /* position: fixed; */
    position: relative;
}
.lms-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #efefef;
    line-height: normal;
    /* padding: 15px 50px; */
    padding: 0;
    margin: 0 0 30px;
}
.lms-content-header .header-left {
    display: flex;
    align-items: center;
}
.lms-content-header p {
    color: #7b7b7b;
}
.lms-content-header p strong {
    font-weight: 500;
    display: block;
    font-size: 18px;
}
.lms-content-header p span {
    color: #1e26be;
    font-size: 15px;
    border-right: 1px solid;
    line-height: normal;
    display: inline-block;
    padding: 0 8px 0 0;
    margin: 0 4px 0 0;
    font-weight: 500;
}
.lms-content-header p span:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}
.header-left .ribbon-images {
    padding-left: 15px;
}
.header-left .ribbon-images img {
    margin: 0 2px 0 0;
    max-width: 23px;
}
.right-menu-closed .learning-page .learning-page-tabs {
    min-width: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.learning-page-tabs .tab-content {
    background-color: #f6f7f9;
    padding: 12px;
}
/************************ 
Lms Top Content Style End
************************/