/*Sats Summary style start*/
.sats-summary {margin: 0 0 50px; background-color: #fff; border-radius: 10px; overflow: hidden; border: 1px solid #e2e8f0;}
.chart-summary-fields .sats-summary {margin-bottom: 30px;}
.sats-summary label {display: block; margin: 0 0 6px; line-height: normal; text-transform: uppercase; font-size: 14px;}
.sats-summary [class*="col-"] {padding: 30px; border-left: 1px solid #e1e1e1; background-color: #fff; display: inline-flex; flex-wrap: wrap;}
.sats-summary .row {margin: 0;}
.sats-summary [class*="col-"]:first-child {border-left: 0;}
.sats-summary .score {color: #666; font-size: 18px; line-height: normal; font-weight: 500;}
.sats-summary .sats-summary-icon {margin-right: 12px; width: 22px;}
.sats-summary .sats-summary-icon svg {width: 22px; height: 22px; display: inline-block;}
.sats-summary .summary-text {width: calc(100% - 35px);}
.chart-summary-fields .sats-summary [class*="col-"] {background-color: #f5f5f5; align-items: center;}
.chart-summary-fields .sats-summary .sats-summary-icon {margin-right: 15px; width: 35px; height: 35px; text-align: center; display: inline-flex; align-items: center; justify-content: center; border-radius: 50%; padding: 0;}
.chart-summary-fields .sats-summary .sats-summary-icon img {width: 19px; height: 19px;}
.chart-summary-fields .sats-summary .sats-summary-icon svg {width: 20px; height: 20px;}
.chart-summary-fields .sats-summary .summary-text {width: calc(100% - 50px); text-align: left;}
.chart-summary-fields .sats-summary [class*="col-"].bitcoin-box {background-color: initial;}
.chart-summary-fields .sats-summary .score {color: #0d173b; font-size: 16px;}
.chart-summary-fields .sats-summary [class*="col-"].bg-none {background-color: inherit; padding: 20px 0;}
.finish-steps .result-layout-summary .sats-summary [class*="col-"] {max-width: none; flex: 0 0 auto; width: auto; padding: 8px 15px;}
.chart-filters .form-group:has(select) {margin-left: auto; display: inline-flex; align-items: center; gap: 10px; margin-bottom: 0; }
.chart-filters .form-group:has(select) .input-label {margin-bottom: 0;}
.filters-list {width: 100%;}
.chart-wraper .sats-summary {border-radius: 0; border: 0; margin: 0 0 25px; padding: 0 0 25px; border-bottom: 1px solid #ededed;}
.chart-wraper .chart-holder {background-color: #fff; padding: 0;}
.chart-summary-fields {background-color: #fff; padding: 30px;}
.chart-summary-fields h3 span {display: block; padding-top: 10px; line-height: normal;}
.chart-summary-fields h3 img {width: 50px; height: 50px; object-fit: contain;}
.finish-steps .row {justify-content: center;}
.finish-steps .result-layout-summary .sats-summary {display: inline-flex; border-radius: 5px;}
.finish-steps .summary-text label {display: inline-block; margin: 0; vertical-align: middle; text-transform: capitalize;}
.finish-steps .summary-text .score {display: inline-block; vertical-align: middle; padding-left: 5px;}
.finish-steps .sats-summary .sats-summary-icon {margin-right: 10px; width: 30px; height: 30px;}
.finish-steps .chart-summary-fields .sats-summary .summary-text {width: calc(100% - 40px); text-align: left;}
/*Sats Summary style end*/