/************************************ 
 Quiz Top-Bar Style Start
*************************************/
html:has(.quiz-topbar) {
  margin-left: calc(100vw - 100%);
margin-right: 0;
  overflow: hidden;
}
body:has(.quiz-topbar) {
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}
.quiz-topbar, .read-quiz-info ~ .read-quiz-content .quiz-topbar {background-color: #4c5387; padding: 15px 0 15px; position: relative; z-index: 1; width: 100%; }
.quiz-topbar .row {align-items: center;}
.quiz-top-info p,
.read-quiz-info ~ .read-quiz-content .quiz-top-info p {font-size: 18px; color: #fff; margin: 0;}
.topbar-right {display: flex; align-items: center; justify-content: flex-end;}
.lms-quiz-section .quiz-topbar {background-color: inherit; border-bottom: 1px solid #999;}
.lms-quiz-section .quiz-topbar .quiz-pagination li a,
.lms-quiz-section .quiz-topbar .timer-number,
.timer-number, .lms-quiz-section .quiz-topbar p,
.learning-page .quiz-topbar p{color: #333;}
.read-quiz-content .quiz-topbar {background-color: #fff; border-bottom: 2px solid #ECE9F2; padding: 8px 0; margin-bottom: 50px; position: fixed; top: 0; left: 0; z-index: 3; width: 100%;}
.quiz-topbar .quiz-top-info {display: inline-block; vertical-align: middle; position: relative; padding: 0 0 0 25px; margin-bottom: 0;}
.quiz-topbar .quiz-top-info:before,
.quiz-topbar .quiz-top-info:after {content: ""; display: block; box-sizing: border-box; position: absolute; width: 8px; height: 8px; border-right: 2px solid #999; border-top: 2px solid #999; transform: rotate(45deg); top: 50%; left: 0; margin-top: -4px;}
.quiz-topbar .quiz-top-info:after {left: 5px; }
.quiz-topbar .quiz-type-icon {margin-right: 15px; max-width: 100%; width: 60px; object-fit: contain;}
.lms-quiz-section .quiz-topbar p,
.learning-page .quiz-topbar p {font-weight: 600; font-size: 1.25rem; text-transform: uppercase;}
.quiz-topbar .close-btn {min-width: 45px; min-height: 45px;}
/************************************ 
 Quiz Top-Bar Style End
*************************************/

/************************************ 
 pagination Learn Practice Style Start
*************************************/
.quiz-pagination {position: relative; padding: 0 30px; margin: 0; max-width: 600px; }
.quiz-pagination .swiper-container {margin-top: -8px; padding: 8px 2px 4px;}
.quiz-pagination .swiper-button-next,
.quiz-pagination .swiper-button-prev{width: 25px; height: 25px; background-color:transparent; border-radius:100%; text-align: center; margin-top: -8px; left: 0px;}
.quiz-pagination .swiper-button-next {right: 0; left: auto;}
.quiz-pagination .swiper-button-next:after, 
.quiz-pagination .swiper-button-prev:after {font-size: 15px; font-weight: 700; color: #fff;}
.lms-quiz-section .quiz-pagination .swiper-button-next, 
.lms-quiz-section .quiz-pagination .swiper-button-prev {margin-top: -10px; }
.lms-quiz-section .quiz-pagination .swiper-button-next:after, 
.lms-quiz-section .quiz-pagination .swiper-button-prev:after {color: #333;}
.quiz-pagination .swiper-container ul {margin: 0; padding: 0; display: flex; align-items: center; width: 100%; }
.quiz-pagination .swiper-container li {margin: 6px 6px 0 0; width: 21px; max-width: 22.25px;}
.quiz-pagination li a,
.read-quiz-info ~ .read-quiz-content .quiz-pagination li a {border: 0 solid #ecefff; height: 26px; width: 26px; display: inline-flex; text-align: center; align-items: center; justify-content: center; font-size: 14px; color: #fff; border-radius: 3px; position: relative; transition: all .5s ease; width: 100%;}
.quiz-pagination .incorrect a {color: red !important; box-shadow: 0 2px 0 0 red; border-radius: 0;}
.quiz-pagination .correct a {color: green !important; box-shadow: 0 2px 0 0 green; border-radius: 0;}
.quiz-pagination .in-review a {background-color: orange; border-color: #fbd796;}
.timer-number,
.lms-quiz-section .timer-number,
.read-quiz-info ~ .read-quiz-content .timer-number {font-size: 34px; color: #f4fefd; margin-left: 20px; display: block; line-height: normal; }
.quiz-pagination li a:hover,
.quiz-pagination li.active a {border-color: #7c97f0; box-shadow: 0 0 0 2px #7c97f0;}
.timer-number em {font-size: 24px; font-style: normal;}
.quiz-timer {display: flex; align-items: center;}
.quiz-timer .timer-number {min-width: 140px;}
.start-landing-page .quiz-timer .timer-number {color: #333; text-align: right;}
.quiz-pagination .has-flag a {background-color: #fff; color: #4c5387; position: relative;}
.quiz-pagination .has-flag a:before {content: ""; position: absolute; top: -20px; height: 25px; width: 25px; left: 50%; transform: translateX(-50%); background: url(../../default/svgs/pagination-flag.svg) no-repeat; background-size: contain; margin-left: 3px; filter: invert(32%) sepia(11%) saturate(2395%) hue-rotate(195deg) brightness(92%) contrast(84%);}
.assignment-questions-preview .quiz-pagination .swiper-container ul {flex-wrap: wrap;}
.assignment-questions-preview .quiz-pagination .swiper-container li {margin: 6px 6px 0 0; width: 25px; max-width: 25px;}
/************************************ 
 pagination Learn Practice Style End
*************************************/

/************************************ 
 Quiz Read Info Style Start
*************************************/
/* Lms Font End Display Style */
.question-layout-block form.question-fields .questions-nav-controls {border-top: 2px dashed #ddd; padding: 15px}
.type-sats .question-layout-block form.question-fields {background-color: inherit; border: 0; padding: 0; border-radius: 0; margin-bottom: 0;}
.question-layout-block form.question-fields .questions-nav-controls .review-btn {left: 0;}
/* Lms Font End Display End */
.quiz-show .read-quiz-info {left: 0;}
.read-quiz-content {transition: all 0.2s ease-in-out;}
.container-fluid.read-quiz-content {padding: 0; max-width: 100%; overflow-x: hidden;}
.read-quiz-content.pr-300 {max-width: 1000px;}
.pr-300 {padding-right: 300px;}
.read-quiz-info {position: fixed; left: -630px; height: 100%; background-color: #eeeeee; top: 0; transition: all 0.2s ease-in-out; width: 33.333%; z-index: 1;}
.read-quiz-info ~ .read-quiz-content {max-width: inherit; padding-left: 33.555%; padding-right: 0; width: 100%; margin: 0; border: 0; position: absolute; top: 0;}
.lms-quiz-section {position: relative; background: url(/assets/default/img/mountain.jpg) no-repeat; background-size: cover; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.type-sats .lms-quiz-section {height: 100%; background: none; align-items: flex-start; justify-content: flex-start;}
.read-text-controls {padding: 20px 20px 20px 0;}
.read-text-controls a {margin-left: 8px; display: inline-block; vertical-align: middle;}
.quiz-info-inner {height: calc(100% - 150px); overflow: hidden; overflow-y: auto; padding: 0 20px 0 0;}
.quiz-info-inner::-webkit-scrollbar-track {border-radius: 20px; -webkit-box-shadow: none;}
.quiz-info-inner::-webkit-scrollbar {width: 8px;}
.quiz-info-inner::-webkit-scrollbar-thumb {border-radius: 20px; background-color: #c8d1ee;}
.read-info-title,
.lms-quiz-section .read-info-title {line-height: normal; margin: 0 0 20px; font-size: 16px;}
.read-quiz-info p {margin: 0 0 15px; color: #000; font-size: 15px;}
.read-quiz-info p span {font-size: 15px; display: inline-block;}
.read-quiz-info p .chosen,
.read-quiz-info .chosen p {color: #fff;}
.quiz-toggle-btn {width: 25px; height: 35px; position: absolute; right: -22px; top: 90%; z-index: 1; display: inline-flex; justify-content: space-around; padding: 5px 10px 5px 0;}
.quiz-toggle-btn span {height:100%; width: 3px; background-color: #535480;}
.lms-quiz-section .question-area {position: relative;}
.prev-next-controls {display: flex; align-items: center; justify-content: center; margin-top: 20px; position: relative; padding-left: 100px;}
.prev-next-controls a {margin: 0 7px 0 0;}
.prev-next-controls .review-btn {position: absolute; left: 0; gap: 10px;}
.question-layout-block .prev-next-controls {position: fixed; width: 848px; bottom: -50px; background-color: #fff; padding-bottom: 30px; padding-top: 30px; min-height: 100px;}
.question-layout-block .rurera-question-block {padding-bottom: 80px;}
.review-btn,
.prev-btn,
.next-btn{display: inline-flex; align-items: center; border: 1px solid #eee; min-width: 135px; min-height: 45px; border-radius: 5px; justify-content: center; color: #000; text-transform: uppercase;}
.inactivity-controls {justify-content: space-between; padding: 15px 0 10px; gap: 15px;}
.question_inactivity_modal .inactivity-controls .continue-btn,
.activity-actions .continue-btn {background-color: #29a746; min-width: auto; border-radius: 3px; margin-right: 0;}
.inactivity-controls .pause-quiz {background-color: var(--primary); color: #fff; display: inline-flex; align-items: center; justify-content: center; border-radius: 3px; padding: 8px 0; flex: 0 0 46%; max-width: 46%;}
.prev-btn,
.next-btn {min-width: auto; padding: 0 18px; position: relative;}
.review-btn svg,
.prev-btn svg,
.next-btn svg {height: 22px; width: 22px; margin-left: 10px;}
.prev-btn svg,
.next-btn svg {margin-left: 0;}
.review-btn svg g,
.prev-btn svg g,
.next-btn svg g{fill: #929198;}
.next-btn svg {position: absolute; right: 10px;}
.next-btn {padding-right: 50px;}
.review-btn:hover,
.prev-btn:hover,
.next-btn:hover {background-color: #eee; color: #000;}
.review-btn:hover svg g,
.prev-btn:hover svg g,
.next-btn:hover svg g {fill: #000;}
.read-quiz-info .flipbook-nav .flipbook-menu-btn {padding: 0 !important; line-height: 60px; font-size: 44px !important; box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;}
.read-quiz-info .flipbook-nav .fa-angle-right:before {margin-left: 5px; line-height: normal;}
.read-quiz-info .flipbook-nav .fa-angle-left:before {margin-right: 5px;}
/************************************ 
 Quiz Read Info Style End
*************************************/
.hide {
  display: none !important;
}