html{overflow:hidden}@media (max-width:991px){html{overflow-y:auto;overflow-x:hidden}}body{height:100vh}@media (max-width:991px){body{overflow-y:auto;overflow-x:hidden}}.learning-page .learning-page-navbar .learning-page-progress-card{border-left:1px solid #f1f1f1;padding-left:10px;margin-left:10px}@media (max-width:991px){.learning-page .learning-page-navbar .learning-page-navbar-title{height:37px;overflow:hidden}.learning-page .learning-page-navbar .learning-page-logo-card{width:100%}.learning-page .learning-page-navbar .learning-page-progress-card{border-top:1px solid #f1f1f1;padding-top:10px;margin-top:10px;border-left:0;padding-left:0;margin-left:0}}.learning-page .learning-page-navbar .learning-page-navbar-btn{color:#343434;background-color:#fff}.learning-page .learning-page-navbar .learning-page-navbar-btn:hover{background-color:#f1f1f1}.learning-page .learning-page-navbar .learning-page-navbar-btn.noticeboard-btn{position:relative}.learning-page .learning-page-navbar .learning-page-navbar-btn.noticeboard-btn .noticeboard-btn-badge{width:14px;height:14px;position:absolute;top:-5px;right:-5px}.learning-page .learning-page-navbar .course-progress{width:465px;height:11px;padding:0 2px}.learning-page .learning-page-navbar .course-progress .progress-bar{height:5px}@media (max-width:767px){.learning-page .learning-page-navbar .course-progress{width:50%}}.learning-page .learning-page-tabs{width:auto;min-width:auto;height:100vh;transition:all .3s ease}@media (max-width:991px){.learning-page .learning-page-tabs{position:absolute;right:-200px;bottom:0;top:15px;background-color:#fff;border-left:1px solid #f1f1f1;width:0;min-width:0;height:auto!important;z-index:5}}.learning-page .learning-page-tabs .learning-page-tabs-icons{width:20px;height:20px}.learning-page .learning-page-tabs .learning-page-tabs-icons svg{width:100%;height:100%}.learning-page .learning-page-tabs .learning-page-tabs-link-text,.learning-page .learning-page-tabs .tab-content{display:none;transition:all .4s ease}.learning-page .learning-page-tabs.show{width:373px;min-width:373px;right:0}@media (max-width:767px){.learning-page .learning-page-tabs.show{width:100vw;min-width:100%}}.learning-page .learning-page-tabs.show .learning-page-tabs-link-text,.learning-page .learning-page-tabs.show .tab-content{display:block}.learning-page .learning-page-tabs:not(.show) .nav-tabs{flex-direction:column}.learning-page .learning-page-tabs:not(.show) .nav-tabs .nav-item{margin-top:20px}.learning-page .learning-page-tabs:not(.show) .nav-tabs .nav-item:first-child{margin-top:0}.learning-page .learning-page-tabs:not(.show) .nav-tabs .nav-item a:after{display:none}.learning-page .learning-page-tabs .content-tab{height:calc(100vh - 120px);overflow-y:auto}@media (max-width:991px){.learning-page .learning-page-tabs .content-tab{height:calc(100vh - 200px)}}.learning-page .learning-page-tabs .certificate-item.active,.learning-page .learning-page-tabs .tab-item.active{background-color:#f1f1f1}.learning-page .learning-page-tabs .certificate-item .tab-item-info,.learning-page .learning-page-tabs .tab-item .tab-item-info{display:none}.learning-page .learning-content{width:100%;/*height:calc(100vh - 90px); overflow-y:auto;*/ height: 100vh; background-color:#fff;border-radius:10px; display: flex; align-items: center;}.learning-page .learning-content .learning-content-loading img{width:80px;height:80px}@media (min-width:991px){.learning-page .learning-content .learning-content-box{min-width:500px}}.learning-page .learning-content .learning-content-video-player{height:calc(100vh - 100px)}.learning-page .learning-content .learning-content-video-player .video-js{height:100%!important}.learning-page .learning-content .learning-content-video-player .vimeoFrame{height:100%!important;padding-bottom:0!important}.learning-page .learning-content .learning-content-video-player .vimeoFrame .vimeoplayer{position:static!important;height:100%!important}.learning-page .learning-content .text-lesson-content p,.learning-page .learning-content .text-lesson-content span{color:#818894!important;margin-top:15px!important}.learning-page .learning-content .text-lesson-content img{border-radius:15px!important;width:100%!important;max-width:100%!important}.learning-page .learning-content .text-lesson-content h1,.learning-page .learning-content .text-lesson-content h2,.learning-page .learning-content .text-lesson-content h3{font-size:20px!important;font-weight:700!important;color:#171347!important;margin-top:25px!important}@media (max-width:991px){.learning-page .learning-content{height:auto}.learning-page .learning-content .learning-content-video-player{height:60vh}}.learning-page .learning-content-iframe{width:100%;height:100%;border-radius:10px}.learning-page .learning-content-iframe .h_iframe-aparat_embed_frame,.learning-page .learning-content-iframe iframe{width:100%;height:100%}.learning-page .learning-content-iframe .h_iframe-aparat_embed_frame>span{display:none!important}.learning-page-assignment-history-status-icon{width:160px;height:160px}.assignment-attachments-post .user-avatar{width:50px;height:50px}.learning-page-forum-empty{padding:100px 0;height:100%}.learning-page-forum-empty .learning-page-forum-empty-icon{width:227px;height:202px}.learning-page-tabs .learning-page-forum-empty .learning-page-forum-empty-icon{width:150px;height:130px}@media (max-width:767px){.learning-page-forum-empty .learning-page-forum-empty-icon{width:150px;height:130px}.learning-page-tabs .learning-page-forum-empty .learning-page-forum-empty-icon{width:120px;height:100px}}.course-forum-question-card .question-user-avatar{width:64px;min-width:64px;max-width:64px;height:64px}.course-forum-question-card .last-answer-user-avatar{width:30px;min-width:30px;max-width:30px;height:30px}.course-forum-question-card .question-forum-pin-btn{position:absolute;top:0;right:15px;width:24px;height:24px;background-color:transparent;border:0;padding:0;border-radius:50%}.course-forum-question-card .question-forum-pin-btn:hover{color:var(--warning);border:1px solid var(--warning)}.course-forum-question-card .question-forum-pin-btn img{width:100%;max-width:100%;height:100%}.course-forum-question-card .answers-user-icons .answer-count,.course-forum-question-card .answers-user-icons .user-avatar-card{width:32px;min-width:32px;height:32px;margin-left:-8px;border:2px solid #fff}.course-forum-question-card .answers-user-icons .user-avatar-card:first-child{margin-left:0}.course-forum-question-card .answers-user-icons .answer-count{background-color:#fff;border-color:var(--gray200)}.course-forum-question-card .resolved-answer-badge{position:absolute;right:0;top:30px;transform:translateY(-50%)}.course-forum-answer-card{border:1px solid var(--gray300)}.course-forum-answer-card.resolved{border-color:var(--primary)}.course-forum-answer-card .user-avatar{width:92px;min-width:92px;height:92px;border:5px solid transparent}.course-forum-answer-card .user-avatar img{border:5px solid #fff}.course-forum-answer-card .user-avatar.is-instructor{border-color:var(--primary)}.course-forum-answer-card .pinned-icon{position:absolute;top:15px;right:15px;width:24px;height:24px;background-color:transparent;border:0;border-radius:50%;padding:0}.course-forum-answer-card .pinned-icon img{width:100%;max-width:100%;height:100%}.resolved-answer-badge{padding:5px 12px 5px 5px;border-radius:22px;border:1px solid #43d477;background-color:rgba(67,212,119,.05);height:43px}.resolved-answer-badge .badge-icon{position:relative;width:33px;min-width:33px;height:33px;margin-right:5px;color:#43d477}.resolved-answer-badge .badge-icon:before{content:"";position:absolute;inset:0;border-radius:50%;opacity:.3;z-index:1;background-color:#43d477}.file-online-viewer{width:100%;height:100%}.file-online-viewer.has-download-card{height:calc(100% - 80px)}.assignment-top-stats__icon,.course-forum-top-stats__icon{width:65px;height:65px}@media (max-width:767px){.assignment-top-stats__icon,.course-forum-top-stats__icon{width:45px;height:45px}}@media (max-width:767px){.course-forum-search-btn{height:37px;width:100%}}
.learning-content-box-icon .btn-primary {
    border-radius: 30px;
}
.learning-content-box-icon img {
    max-width: 250px;
    min-width: 250px;
    object-fit: contain;
}

/* Lms Side Menu Left Style Start */
.lms-side-menu-left {
    position: relative;
    text-align: center;
    background: #20272f;
    width: 70px;
    min-width: 70px;
    height: 100vh;
    transition: all .3s ease;
    z-index: 9;
}
.lms-side-menu-left ul {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.lms-side-menu-left ul li {
    margin-bottom: 5px;
}
.lms-side-menu-left ul li a i {
    width: 30px;
    height: 30px;
    display: inline-flex;
}
.lms-side-menu-left ul li a i svg {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    fill: #8e9399;
}
.lms-side-menu-left ul li a {
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 10px 0 3px 0;
}
.lms-side-menu-left ul li:hover a {
    background-color: #0babfb;
}
.lms-side-menu-left ul li:hover a svg{fill:#fff;}

@media (max-width: 992px) {
    .lms-chapter-area .lms-chapter-ul {
        column-count: 2;
    }
}
@media (max-width: 767px) {
    .lms-side-menu-left{z-index: 1;}
    .learning-page .learning-page-tabs{top:0;}
}
@media (max-width: 640px) {
    .lms-chapter-area .lms-chapter-ul {
        column-count: 1;
    }
}
@media (max-width: 575px) {
    .lms-side-menu-left{width:100%;height: 50px;position: absolute;margin-bottom: 50px;left: 0;z-index: 1;}
    .lms-side-menu-left ul{flex-direction: inherit;padding: 10px 20px;align-items: center;}
    .lms-side-menu-left ul li{margin:0 5px 0 0;align-items: center;display: flex;}
    .lms-side-menu-left ul li a{padding: 0 8px;display: inline-flex;}
    .lms-side-menu-left ~ .learning-page-content {margin-top: 50px;}
}
/* Lms Side Menu Left Style End */



.learning-page .in-animation {
    animation: inlightbox 0.8s forwards;
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999;
}
.learning-page .quiz-iframe {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 99;
    background: #fff;
    border: 0;
}
.learning-page #close {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
    display: none;
    z-index: 999;
    color: #f63c3c;
    font-weight: 600;
    font-size: 14px;
}

.in-animation {
	animation: inlightbox 0.8s forwards;
	position: fixed !important;
	margin: 0 !important;
}

.out-animation {
	animation: outlightbox 0.8s forwards;
}

@keyframes inlightbox 
{ 
	50% { 
		width: 100%;
		left: 0;
		height: 200px;
	}
	100% {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
}


/* User Info Style Start */
.learning-page .panel-collapse {
    counter-reset: my-sec-counter;
}
.learning-page .panel-collapse .tab-item {
    position: relative;
    display: flex;
    align-items: center;
}
.learning-page .panel-collapse .tab-item:before {
  counter-increment: my-sec-counter;
  content: "0" counter(my-sec-counter);
}
.learning-page .user-info-holder .user-info .user-img {
    width: 40px;
    height: 40px;
}
.learning-page .user-info-holder .user-info .user-img img {
    width: 100%;
    border-radius: 100%;
}
.learning-page .user-info-holder .user-info {
    display: flex;
    margin-bottom: 25px;
}
.learning-page .user-info-holder .user-info .user-text {
    margin-left: 15px;
}
.learning-page .user-info-holder .user-info .user-text strong {
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 3px;
}
.learning-page .user-info-holder .user-info .user-text span {
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
}
.learning-page .user-info-holder h3 {
    margin-bottom: 30px;
}
.learning-page .user-info-holder .user-info-text p {
    font-size: 14px;
    line-height: 20px;
}
.learning-page .user-info-holder .user-info-text {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
}
.learning-page .user-info-holder .user-info-text .btn-readmore {
    font-size: 14px;
    font-weight: bold;
}
.learning-page .course-complete h3 {
    margin-bottom: 10px;
}
.learning-page .course-complete .course-bar-holder span {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
.learning-page .course-complete .course-bar-holder .text-right {
    float: right;
}
.learning-page .course-bar {
    width: 100%;
    height: 2px;
    background: #ccc;
    margin-bottom: 20px;
    position: relative;
}
.learning-page .course-bar .course-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    background: #43d477;
    width: 30%;
    height: 2px;
}
/* User Info  Style Start */

.learning-page .panel-collapse .tab-item > div {
    padding-left: 10px;
    width: 100%;
}
.learning-page .panel-collapse .tab-item:before {
    counter-increment: my-sec-counter;
    content: "0" counter(my-sec-counter);
    font-size: 16px;
    font-weight: 500;
}
.learning-page .panel-collapse .quiz-passed div > span {
    text-decoration: line-through;
    opacity: .5;
}
.learning-page .learning-page-content {
    position: relative;
    padding: 0 !important;
}
.learning-page #collapseBtn {
    position: absolute;
    top: 25px;
    right: 25px;
    border: 1px solid #aea7a7c4;
    padding: 5px;
    width: 26px;
    height: 22px;
    border-radius: 2px;
}
.learning-page .learning-title {
    position: relative;
    padding: 10px 10px 10px 120px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
}
.learning-page .learning-title .quiz-type-icon {
    width: 60px;
    max-width: 100%;
    object-fit: contain;
    margin: 0px 15px 0 0;
}
.learning-title > span {
    display: block;
}
.learning-title > h3 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 0 0 25px;
}
.learning-title > h3:before,
.learning-title > h3:after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid #999;
    border-top: 2px solid #999;
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    margin-top: -4px;
}
.learning-title > h3:after {
    left: 5px;
}
.learning-content .text-lesson-content {
    padding-left: 130px !important;
}
/* Instruction Controls Style */
.instruction-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.instruction-controls button {
    border: 0;
    background-color: rgba(130, 80, 232, 0.15);
    color: #8250E8;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.instruction-controls button img {
    max-width: 20px;
    max-height: 20px;
    filter: invert(38%) sepia(31%) saturate(5553%) hue-rotate(240deg) brightness(92%) contrast(98%);
}
.instruction-controls > div {
    position:relative;
}
.instruction-dropdown {
    background-color: #fff;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    position:absolute;
    top: 100%;
    right:0;
    opacity: 0;
    visibility:hidden;
    margin-top: -10px;
    transition: all .2s ease;
    min-width: 170px;
    padding: 20px;
    border-radius: 12px;
}
.instruction-controls > div:hover .instruction-dropdown {
    opacity: 1;
    visibility:visible;
    margin-top: 0;
}
.font-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.font-controls a {
    background-color: rgba(130, 80, 232, 0.2);
    padding: 5px 10px;
    border-radius: 8px;
}
.color-controls {
    display: flex;
    align-items: center;
    align-items: c;
    gap: 10px;
}
.color-controls a {
    border: 1px solid;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.color-controls {
    display: flex;
    align-items: center;
    align-items: c;
    gap: 10px;
}
.color-controls a {
    border: 1px solid;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.color-controls .cr-aquaBlue-btn {
    background-color: rgba(0, 255, 255, 0.3);
    border-color: rgb(0, 255, 255);
}
.color-controls .cr-celery-btn {
    background-color: rgba(173, 255, 47, 0.2);
    border-color: rgb(173, 255, 47);
}
.color-controls .cr-grass-btn {
    background-color: rgba(0, 255, 0, 0.22);
    border-color: rgb(0, 255, 0);
}
.color-controls .cr-jade-btn {
    background-color: rgba(0, 255, 169, 0.3);
    border-color: rgb(0, 255, 169);
}
.color-controls .cr-magenta-btn {
    background-color: rgba(255, 0, 136, 0.15);
    border-color: rgb(255, 0, 136);
}

.color-controls .cr-orange-btn {
    background-color: rgba(255, 108, 2, 0.25);
    border-color: rgb(255, 108, 2);
}
.color-controls .cr-purple-btn {
    background-color: rgba(115, 0, 255, 0.2);
    border-color: rgb(115, 0, 255);
}
.color-controls .cr-skyBlue-btn {
    background-color: rgba(0, 191, 255, 0.2);
    border-color: rgb(0, 191, 255);
}
.instruction-text h3 {
    font-size: 26px;
    margin: 0 0 15px;
}
.instruction-text h4 {
    font-size: 26px;
    margin: 0 0 15px;
}
.lms-quiz-section .quiz-topbar .instruction-text p {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    line-height: normal;
    margin: 0 0 20px;
}
.instruction-text ul {
    margin: 0 0 25px;
    padding: 0 0 0 30px;
}
.instruction-text ul li {
    list-style: disc;
    padding-left: 0px;
}
.instruction-text img {
    margin: 0 0 25px;
    max-width: 100%;
}
.instruction-controls .instruction-text {
    min-width: 600px;
    height: 700px;
    overflow: hidden;
    overflow-y: auto;
}
/* Instruction Controls End */



