.drag-controls {
    position: absolute;
    right: -40px;
    top: 30px;
    height: calc(100% - 120px);
    border: 1px solid #cccccc;
    border-radius: 0 8px 8px 0 / 0 50px 50px 0;
    padding-top: 15px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.open .drag-controls {
    right: 1px;
    opacity: 1;
    visibility: visible;
}
.controls-box {
    height: 100%;
    width: 100%;
}
.controls-dropdown {
    padding: 5px;
    margin: 0;
    height: 100%;
    display: inline-block;
}
.controls-dropdown li {
    margin: 0;
}
.drag-controls li a {
    font-size: 12px;
    color: #ccc;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 8px 3px;
    display: block;
    text-transform: lowercase;
}
.drag-controls li a span {
    display: block;
    font-weight: 400;
}
/*.drag-controls svg g {
    fill: #ccc;
}*/
.drag-controls svg {
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    display: block;
}
.drag-controls li a:hover, .drag-controls li a.active {
    background-color: #4d9eb3;
    color: #fff;
}
.drag-controls li a:hover svg g, .drag-controls li a.active svg g {
    fill: #fff;
}
.drag-controls .sub-dropdown {
    position: absolute;
    right: 50%;
    top: 0;
    background-color: #fff;
    width: 90px;
    height: calc(100% + 2px);
    border-radius: 8px 0 0 8px / 50px 0 0 50px;
    margin: -1px 0 0 -28px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
.controls-dropdown > li:hover .sub-dropdown {
    right: 100%;
    width: 90px;
    opacity: 1;
    visibility: visible;
    z-index: 0;
}
.drag-controls li .sub-dropdown a {
    display: inline-block;
    padding: 8px 4px;
}
.drag-controls li .sub-dropdown a svg {
    margin: 0;
}
.open-controls-btn {
    position: absolute;
    right: 4px;
    top: -32px;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 100%;
}
.book-pages-navs {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.book-pages-navs .prev-page, .book-pages-navs .next-page {
    border: 1px solid #ddd;
    padding: 10px 20px;
    display: inline-block;
    line-height: normal;
    border-radius: 5px;
}
.book-pages-navs .generate {
    margin-right: auto;
}
body .editor-zone:has(.editor-controls-holder),
body .editor-zone:has(.field-options.hide) {
    padding-left: 0;
}
body .editor-zone:has(.editor-controls-holder) {
    padding: 0 520px 0 369px;
    overflow: visible;
}
body .editor-zone:has(.field-options) {
    padding-left:0px;
}
.book-dropzone {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*width: 760px;*/
	height:100%;
    box-sizing: border-box;
    background-size: cover !important;
    overflow: hidden;
}
.book-dropzone img {
    max-width: 100%;
}
body .editor-controls-holder {
    border: 1px solid #ccc;
    background-color: inherit;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    min-width: 500px;
    max-width: 500px;
    height: auto;
}
body ul.editor-objects li {
    width: 23.888%;
}
body .editor-parent-nav {
    padding: 15px;
    background-color: #f8f8f8;
}
body .editor-controls-holder .tab-pane .nav {
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
}
body .editor-controls .nav .nav-item .nav-link,
body .editor-objects-block .nav .nav-item .nav-link {
    background-color: inherit;
    padding: 5px 12px;
    border: 1px solid #ddd;
    border-left: 0;
    border-bottom: 2px solid transparent;
    margin: 0 0 -1px;
    border-radius: 0;
    box-shadow: none;
}
body .editor-controls .nav .nav-item:last-child .nav-link,
body .editor-objects-block .nav .nav-item:last-child .nav-link {
    border-radius: 0 5px 0 0;
}
body .editor-controls .nav .nav-item:first-child .nav-link,
body .editor-objects-block .nav .nav-item:first-child .nav-link {
    border-left: 1px solid #ddd;
    border-radius: 5px 0 0 0;
}
body .editor-controls .nav .nav-item .nav-link.active,
body .editor-objects-block .nav .nav-item .nav-link.active {
    border-bottom-color: #fff;
    color: var(--primary);
}
body .editor-parent-nav ul {
    gap: 8px 10px;
}
body .editor-parent-nav .nav-link {
    padding: 5px 12px;
    font-size: 14px;
}
body .book-dropzone {
    border-radius: 0;
    min-height: 705px;
}
.editor-objects-block h5 {
    padding: 0 15px;
    margin-bottom: 20px;
}
.editor-controls-holder .fade:not(.show) {
    display: none;
}
body .editor-controls-holder .editor-objects-block .nav,
.editor-objects-block .tab-pane {
    padding: 0 15px;
}
.editor-objects-block .tab-pane {
    padding-bottom: 15px;
    margin-top: 25px !important;
}
body .editor-objects-block .nav .nav-item .nav-link {
    padding: 5px 15px;
}
.editor-objects-block .page-settings-fields h5 {
    padding: 0;
    margin: 0 0 10px;
}
.editor-objects-block .add-level {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
    border-radius: 3px;
    text-decoration: none;
}
.editor-controls .tab-content {
    background-color: #fff;
    padding: 0 15px;
}
.page-settings-fields {
    padding: 0 15px;
}
.option-field-item {
    margin-bottom: 15px;
}
.sets-selection {
    margin-bottom: 15px;
}
.editor-zone .generate {
    margin-top: 30px;
}
.editor-zone > br {
    display: none;
}
.book-dropzone .stage-shapes{
    height:30px;
    width:140px;
}
.card .card-body:has(.learning-journey-form), .card:has(.learning-journey-form) {
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
}
.card:has(.learning-journey-form) {
    overflow: hidden;
}
form.learning-journey-form {
    margin: 0;
}
.book-dropzone .resizeable{
    resize: both;
    overflow: hidden;
}
.editor-controls-holder .editor-objects {
    background-color: inherit;
    padding: 0;
}
body .editor-controls-holder .editor-objects.sets-selection {
    background-color: inherit;
    border: 1px solid transparent;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}
body ul.editor-objects.sets-selection.active {
    border-color: #9acbff;
    background-color: #f3f9ff;
    padding: 15px;
}
body .editor-controls-holder .editor-objects h6.mt-20 {
    margin-top: 0 !important;
}
body ul.editor-objects.sets-selection li {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 10px;
    height: 50px;
    width: 50px;
}
body ul.editor-objects.sets-selection li img {
    width: 100% !important;
}
.hide {
    display: none;
}
.book-dropzone .drop-item {
    position: absolute;
    width: fit-content;
}
.drop-item span.field-handle {
    position: absolute;
    right: 5px;
    top: -15px;
    cursor: move;
}
.book-dropzone .text-highlighter {
    background: yellow;
    opacity: 0.7;
    width: inherit;
    height: inherit;
}
.drop-item a.remove {
    color: #ff0000;
}
.editor-zone .field-options {
    position: absolute;
    left: 0;
    right: auto;
    min-width: 340px;
    max-width: 340px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 30px 30px;
    border-radius: 5px;
}
.editor-objects-list li {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editor-objects-list li .dropdown-toggle {
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
.editor-objects-list li .dropdown-toggle:hover,
.editor-objects-list li .dropdown-toggle:focus,
.editor-objects-list li .show>.btn-secondary.dropdown-toggle {
    background-color: rgba(0, 0, 0, 0.1);
}
.editor-objects-list li .dropdown-toggle:after {
    display: none;
}
.editor-objects-list img {
    height: 18px;
    width: 18px;
}
.editor-objects-list li .dropdown-menu {
    width: auto;
    left: auto !important;
    right: 0;
    transform: none !important;
    top: 100% !important;
    min-width: 180px;
    padding: 12px 10px;
}
.editor-objects-list li .dropdown-menu i {
    display: inline-flex;
    float: right;
    padding: 8px 9px;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.editor-objects-list li .dropdown-menu.show {
    display: flex !important;
}
ul.editor-objects-list {
    margin-top: 25px;
}
.editor-objects-list .ui-sortable-handle.active {
    background-color: #efefef;
    border-color: var(--blue);
}
body .editor-objects-list li {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 8px 10px;
    margin-bottom: 10px;
}
.learning-stage-btn {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: auto;
}
.learning-stage-btn button {
    height: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-left: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    font-size: 14px;
    color: var(--blue);
    font-weight: 600;
    outline: none;
    padding: 0 15px;
}
.learning-jounrey-tabs {
    display: flex;
    flex-wrap: wrap;
}
.add-level-form {
    margin-bottom: 0;
}
.add-level-form .add-level-stage-btn {
    background-color: var(--primary);
    border-radius: 3px;
    color: var(--white);
    border: 0;
    padding: 8px 20px;
    outline: none;
}
