.drag-controls {position: absolute; right: -40px; top: 30px; height: calc(100% - 120px); border: 1px solid #cccccc; border-radius: 0 8px 8px 0 / 0 50px 50px 0; padding-top: 15px; background-color: #fff; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.open .drag-controls {right: 1px; opacity: 1; visibility: visible;}
.controls-box {height: 100%; width: 100%;}
.controls-dropdown {padding: 5px; margin: 0; height: 100%; display: inline-block;}
.controls-dropdown li {margin: 0;}
.drag-controls li a {font-size: 12px; color: #ccc; font-weight: 500; text-align: center; border-radius: 5px; padding: 8px 3px; display: block; text-transform: lowercase;}
.drag-controls li a span {display: block; font-weight: 400;}
.drag-controls svg {width: 20px; height: 20px; margin: 0 auto 5px; display: block;}
.drag-controls li a:hover, .drag-controls li a.active {background-color: #4d9eb3; color: #fff;}
.drag-controls li a:hover svg g, .drag-controls li a.active svg g {fill: #fff;}
.drag-controls .sub-dropdown {position: absolute; right: 50%; top: 0; background-color: #fff; width: 90px; height: calc(100% + 2px); border-radius: 8px 0 0 8px / 50px 0 0 50px; margin: -1px 0 0 -28px; border: 1px solid #ccc; text-align: center; padding: 20px 0; opacity: 0; visibility: hidden; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; z-index: -1;}
.controls-dropdown > li:hover .sub-dropdown {right: 100%; width: 90px; opacity: 1; visibility: visible; z-index: 0;}
.drag-controls li .sub-dropdown a {display: inline-block; padding: 8px 4px;}
.drag-controls li .sub-dropdown a svg {margin: 0;}
.open-controls-btn {position: absolute; right: 4px; top: -32px; height: 25px; width: 25px; background-color: #ccc; border-radius: 100%;}
/* Learning Journey Sets Edit Page Accordions Style Start */
.learning_journey_sets .curriculum-item-data {height: auto !important;}
.draggable-content-lists {display: flex; align-items: center; padding-left: 1px;}
.draggable-content-lists li {border: 1px solid #ddd; padding: 12px 15px !important; display: inline-flex; flex-direction: column; border-radius: 0 !important; margin: 0 0 -1px -1px !important; position: relative;}
.draggable-content-lists li:after {content: ""; position: absolute; left: 0; bottom: 0; height: 2px; width: 100%; background-color: cadetblue; opacity: 0; visibility: hidden;}
.draggable-content-lists li.active:after {opacity: 1; visibility: visible;}
.draggable-content-lists li.active {background-color: #f7fbfe !important; border-bottom-color: cadetblue;}
.draggable-content-lists li:first-child {border-left: 1px solid #ddd; border-radius: 5px 0 0 0 !important;}
.draggable-content-lists li ~ li:last-child {border-right: 1px solid #ddd;}
.draggable-content-lists li > .d-flex {flex-wrap: wrap;}
.learning_journey_sets .tabs-data {border: 1px solid #ddd; border-radius: 0 0 5px 5px; padding: 20px 25px 25px;}
.stage-accordion input {width: 100%;}
.stage-accordion .chapter-icon {border: 1px solid rgba(0, 0, 0, 0.1); background-color: inherit; min-width: 28px; width: 28px; max-width: 28px; min-height: 28px; height: 28px; max-height: 28px; margin-right: 8px !important;}
.draggable-content-lists li.active .chapter-icon {background-color: #dce9fd; border-color: #dce9fd;}
.stage-accordion .chapter-icon svg {height: 12px; width: 15px; color: #333;}
.draggable-content-lists li.active .chapter-icon svg,
.draggable-content-lists li.active .feather-chevron-up,
.draggable-content-lists li.active .cursor-pointer {color: cadetblue; stroke: cadetblue;}
.stage-accordion .cursor-pointer {
    line-height: normal;
    font-size: 14px;
    color: #999;
    font-weight: 600 !important;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.draggable-content-lists li .btn {padding: 4px; margin: 0; background-color: rgba(0, 0, 0, 0.05); width: 20px; height: 20px;}
.draggable-content-lists li .btn:hover {background-color: rgba(0, 0, 0, 0.05) !important;}
.draggable-content-lists li .btn svg {color: #999; height: 12px; width: 12px; margin: 0 !important;}
.draggable-content-lists li .feather-move,
.accordion-row .collapse-chevron-icon.feather-chevron-up {margin-right: 0 !important; stroke: #999; background-color: rgba(0, 0, 0, 0.05); padding: 2px 4px; width: 20px; height: 20px; border-radius: 3px; cursor: pointer;}
.draggable-content-lists li.active .btn,
.draggable-content-lists li.active .feather-move, 
.draggable-content-lists li.active .feather-chevron-up {background-color: #dce9fd;}
.draggable-content-lists li > .d-flex .d-flex:has(.btn) {padding-left: 35px; padding-top: 2px; gap: 5px;}
/* Learning Journey Sets Edit Page Accordions Style End */

/* Learning Journey Model Settings Style Start */
.update-journey-settings {background-color: var(--primary); border: 0; color: #fff; padding: 8px 25px; border-radius: 3px; outline: none;}
.journey-settings-modal .inactivity-controls {padding: 0 15px;}
.journey-settings-modal .modal-body {padding: 25px;}
/* Learning Journey Model Settings Style End */
.book-pages-navs {display: flex; flex-direction: row-reverse; gap: 10px; margin-bottom: 20px; margin-top: 20px; align-items: center;}
.book-pages-navs .prev-page, .book-pages-navs .next-page {border: 1px solid #ddd; padding: 10px 20px; display: inline-block; line-height: normal; border-radius: 5px;}
.book-pages-navs .generate {margin-right: auto;}
body .editor-zone:has(.editor-controls-holder),
body .editor-zone:has(.field-options.hide) {padding-left: 0;}
body .editor-zone:has(.editor-controls-holder) {display: flex; align-items: flex-start; justify-content: center; gap: 25px; padding:0;}
body .editor-zone:has(.field-options) {padding-left:0px;}
.book-dropzone {position: relative; border: 1px solid #ccc; border-radius: 5px; width: 770px; height:100%; box-sizing: border-box; background-size: cover !important; overflow: hidden; display: inline-block; vertical-align: top;}
.book-dropzone img {max-width: 100%;}
body .editor-controls-holder {border: 1px solid #ccc; background-color: inherit; border-radius: 0; padding: 0; overflow: visible; min-width: 500px; max-width: 500px; height: auto; display: inline-block; vertical-align: top; position: relative;}
body ul.editor-objects li {width: 23.888%;}
body .editor-parent-nav {padding: 15px; background-color: #f8f8f8;}
body .editor-controls-holder .tab-pane .nav {border-bottom: 1px solid #ddd; padding: 0 10px;}
body .editor-controls .nav .nav-item .nav-link,
body .editor-objects-block .nav .nav-item .nav-link {background-color: inherit; padding: 5px 12px; border: 1px solid #ddd; border-left: 0; border-bottom: 2px solid transparent; margin: 0 0 -1px; border-radius: 0; box-shadow: none;}
body .editor-controls .nav .nav-item:last-child .nav-link,
body .editor-objects-block .nav .nav-item:last-child .nav-link {border-radius: 0 5px 0 0;}
body .editor-controls .nav .nav-item:first-child .nav-link,
body .editor-objects-block .nav .nav-item:first-child .nav-link {border-left: 1px solid #ddd; border-radius: 5px 0 0 0;}
body .editor-controls .nav .nav-item .nav-link.active,
body .editor-objects-block .nav .nav-item .nav-link.active {border-bottom-color: #fff; color: var(--primary);}
body .editor-parent-nav ul {gap: 8px 10px;}
body .editor-parent-nav .nav-link {padding: 5px 12px; font-size: 14px;}
body .book-dropzone {border-radius: 0; min-height: 705px; z-index: 1; background-color: #fff;}
.editor-objects-block h5 {padding: 0 15px; margin-bottom: 20px;}
.editor-controls-holder .fade:not(.show) {display: none;}
body .editor-controls-holder .editor-objects-block .nav,
.editor-objects-block .tab-pane {padding: 0 15px;}
.editor-objects-block .tab-pane {padding-bottom: 15px; margin-top: 25px !important;}
body .editor-objects-block .nav .nav-item .nav-link {padding: 5px 15px;}
.editor-objects-block .page-settings-fields h5 {padding: 0; margin: 0 0 10px;}
.editor-objects-block .add-level {height: 25px; width: 25px; display: inline-block; text-align: center; background-color: var(--primary); color: #fff; font-size: 18px; font-weight: 600; line-height: 25px; margin: 0; border-radius: 3px; text-decoration: none;}
.editor-controls .tab-content {background-color: #fff; padding: 0 15px;}
.page-settings-fields {padding: 0 15px;}
.option-field-item {margin-bottom: 15px;}
.sets-selection {margin-bottom: 15px;}
.editor-zone .generate {margin-top: 30px;}
.editor-zone > br {display: none;}
.book-dropzone .stage-shapes{height:30px; width:140px;}
.card .card-body:has(.learning-journey-form), .card:has(.learning-journey-form) {box-shadow: none; padding: 0; margin-bottom: 0;}
.card:has(.learning-journey-form) {overflow: hidden;}
form.learning-journey-form {margin: 0;}
.book-dropzone .resizeable{resize: both; overflow: hidden;}
.editor-controls-holder .editor-objects {background-color: inherit; padding: 0;}
body .editor-controls-holder .editor-objects.sets-selection {background-color: inherit; border: 1px solid transparent; padding: 0; border-radius: 5px; cursor: pointer;}
body ul.editor-objects.sets-selection.active {border-color: #9acbff; background-color: #f3f9ff; padding: 15px;}
body .editor-controls-holder .editor-objects h6.mt-20 {margin-top: 0 !important;}
body ul.editor-objects.sets-selection li {background-color: #fafafa; border: 1px solid #ccc; border-radius: 3px; display: inline-flex; align-items: center; justify-content: center; margin: 0 5px 5px 0; padding: 10px; height: 50px; width: 50px;}
body ul.editor-objects.sets-selection li img {width: 100% !important;}
.hide {display: none;}
.book-dropzone .drop-item {background: inherit; position: absolute; width: fit-content;}
.drop-item span.field-handle {position: absolute; right: 5px; top: -15px; cursor: move;}
.book-dropzone .text-highlighter {background: yellow; opacity: 0.7; width: inherit; height: inherit;}
.drop-item a.remove {color: #ff0000;}
.editor-zone .field-options {position: relative; left: 0; right: auto; min-width: 340px; max-width: 340px; height: 100%; background-color: #f2f2f2; padding: 30px 30px; border-radius: 5px;}
.editor-objects-list li {border-radius: 3px; display: flex; align-items: center; justify-content: space-between;}
.editor-objects-list li .dropdown-toggle {padding: 0; border: 0; background-color: rgba(0, 0, 0, 0.1); height: 25px; width: 25px; border-radius: 100%;}
.editor-objects-list li .dropdown-toggle:hover,
.editor-objects-list li .dropdown-toggle:focus,
.editor-objects-list li .show>.btn-secondary.dropdown-toggle {background-color: rgba(0, 0, 0, 0.1);}
.editor-objects-list li .dropdown-toggle:after {display: none;}
.editor-objects-list img {height: 18px; width: 18px;}
.editor-objects-list li .dropdown-menu {width: auto; left: auto !important; right: 0; transform: none !important; top: 100% !important; min-width: 180px; padding: 12px 10px;}
.editor-objects-list li .dropdown-menu i {display: inline-flex; float: right; padding: 8px 9px; color: #333; font-size: 12px; cursor: pointer; background-color: rgba(0, 0, 0, 0.05); margin: 0 5px; border-radius: 3px; border: 1px solid #ddd;}
.editor-objects-list li .dropdown-menu.show {display: flex !important;}
ul.editor-objects-list {margin-top: 25px; counter-reset: section;}
.editor-objects-list .ui-sortable-handle.active {background-color: #efefef; border-color: var(--blue);}
body .editor-objects-list li {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 25px;
    margin-bottom: 10px;
    position: relative;
}
body .editor-objects-list li:before {
    counter-increment: section;
    content: counter(section) ". ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #000;
    left: 10px;
}
.learning-stage-btn {display: inline-flex; margin-bottom: 0; margin-left: auto;}
.learning-stage-btn button {height: 100%; border: 1px solid #ddd; background-color: #fff; margin-left: 0; border-radius: 5px 5px 0 0; border-bottom: 0; font-size: 14px; color: var(--blue); font-weight: 600; outline: none; padding: 0 15px;}
.learning-stage-btn button i {margin-right: 5px;}
.learning-jounrey-tabs {display: flex;}
.add-level-form {margin-bottom: 0;}
.add-level-form .add-level-stage-btn {background-color: var(--primary); border-radius: 3px; color: var(--white); border: 0; padding: 8px 20px; outline: none;}
.editor-controls-holder ul:has(.path-tool-item),
.editor-controls-holder ul:has(.layout-template-item) {display: flex; align-items: center; flex-wrap: wrap; gap: 10px;}
.editor-controls-holder .path-tool-item,
.editor-controls-holder .layout-template-item {background-color: #fafafa; border: 1px solid #ccc; padding: 5px 15px; display: inline-block; line-height: normal; border-radius: 3px; text-decoration: none;}
.editor-controls-holder .path-tool-item.active,
.editor-controls-holder .layout-template-item.active {border-color: #9acbff; background-color: #f3f9ff; color: var(--blue);}
.book-dropzone .drop-item {
    background: none;
    border: 2px dotted transparent;
    border-radius: 5px;
    background-image: none;
    border-radius: 5px;
}
.book-dropzone .drop-item.active{border-color: #ddd; opacity: 1;}
.book-dropzone .field-data svg {height: 100%; margin-bottom: -10px;}
.book-dropzone .ui-rotatable-handle {top: -5px; left: -5px; pointer-events: none; opacity: 0; visibility: hidden;}
body .flowchart-operator {border: 0;}
body .ui-rotatable-handle::before {font-size: 10px; content: "\f0e2"; font-family: "Font Awesome 5 Free";}
.book-dropzone .object-options a {background: rgba(0, 0, 0, 0.5); position: absolute; right: -5px; bottom: -5px; height: 20px; width: 20px; text-align: center; display: inline-flex; justify-content: center; align-items: center; border-radius: 100%; font-size: 12px; color: #fff; text-decoration: none; pointer-events: none; opacity: 0; visibility: hidden; text-indent: 0;}
.book-dropzone .object-options a span {margin: 0 !important; vertical-align: middle; font-size: 12px;}
body .editor-objects-list li i {background-color: rgba(0, 0, 0, 0.05); border: 1px solid #ddd; border-radius: 3px; font-size: 12px; margin: 0 0 0 8px; padding: 8px 10px;}
.book-dropzone .drop-item.active .ui-rotatable-handle,
.book-dropzone .drop-item.active .object-options a {opacity: 1; visibility: visible; pointer-events: unset; display: inline-flex !important;}
.book-dropzone .drop-item.spacer-block {
    border: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: auto !important;
    margin: 0;
    align-items: center;
}
.book-dropzone .drop-item.spacer-block .field-data > svg {
    margin: 14px 0 0 12px;
    position: absolute;
    top: 0;
    cursor: grab;
    z-index: 1;
    left: 0;
}
.book-dropzone .drop-item.spacer-block .field-data {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 0 10px;
    min-height: 20px;
}
.drop-item.spacer-block .remove {
    margin-bottom: 8px;
}
.drop-item.spacer-block .remove span {
    margin: 0 !important;
}
.book-dropzone .drop-item.spacer-block .field-data .flowchart-operator-inputs-outputs {margin-left: 0;margin-right: 0;display: inline-block;}
.book-dropzone .flowchart-operator-connector {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
}
svg.flowchart-links-layer {
    bottom: 0;
    top: auto;
}
body .flowchart-operator-connector-arrow {
    top: -20px;
}
body .flowchart-operator-connector-small-arrow {
    top: -15px;
}
.book-dropzone .drop-item.field_settings a.remove {
    position: absolute;
    top: 0;
    left: -5px;
}
/* Zoom Header Style Start */
.zoom-header button {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 3px;
    color: #333;
    text-shadow: 0 1px 1px #fff;
    padding: 5px 15px;
    line-height: normal;
    max-height: 33px;
}
.zoom-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.zoom-header select {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 3px;
    min-height: 33px;
    max-height: 33px;
    outline: none;
}
/* Zoom Header Style End */

@media (max-width: 992px) {
    body .editor-controls-holder {min-width: 375px; max-width: 375px;}
    body .editor-zone:has(.field-options) {padding-left: 0;}
}
