.drag-controls {
    position: absolute;
    right: -40px;
    top: 30px;
    height: calc(100% - 120px);
    border: 1px solid #cccccc;
    border-radius: 0 8px 8px 0 / 0 50px 50px 0;
    padding-top: 15px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.open .drag-controls {
    right: 1px;
    opacity: 1;
    visibility: visible;
}
.controls-box {
    height: 100%;
    width: 100%;
}
.controls-dropdown {
    padding: 5px;
    margin: 0;
    height: 100%;
    display: inline-block;
}
.controls-dropdown li {
    margin: 0;
}
.drag-controls li a {
    font-size: 12px;
    color: #ccc;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 8px 3px;
    display: block;
    text-transform: lowercase;
}

.drag-controls li a span {
    display: block;
    font-weight: 400;
}

/*.drag-controls svg g {
    fill: #ccc;
}*/

.drag-controls svg {
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    display: block;
}

.drag-controls li a:hover, .drag-controls li a.active {
    background-color: #4d9eb3;
    color: #fff;
}

.drag-controls li a:hover svg g, .drag-controls li a.active svg g {
    fill: #fff;
}

.drag-controls .sub-dropdown {
    position: absolute;
    right: 50%;
    top: 0;
    background-color: #fff;
    width: 90px;
    height: calc(100% + 2px);
    border-radius: 8px 0 0 8px / 50px 0 0 50px;
    margin: -1px 0 0 -28px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.controls-dropdown > li:hover .sub-dropdown {
    right: 100%;
    width: 90px;
    opacity: 1;
    visibility: visible;
    z-index: 0;
}

.drag-controls li .sub-dropdown a {
    display: inline-block;
    padding: 8px 4px;
}

.drag-controls li .sub-dropdown a svg {
    margin: 0;
}

.open-controls-btn {
    position: absolute;
    right: 4px;
    top: -32px;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 100%;
}
.book-pages-navs {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.book-pages-navs .prev-page, .book-pages-navs .next-page {
    border: 1px solid #ddd;
    padding: 10px 20px;
    display: inline-block;
    line-height: normal;
    border-radius: 5px;
}
.book-pages-navs .generate {
    margin-right: auto;
}
body .editor-zone:has(.editor-controls-holder),
body .editor-zone:has(.field-options.hide) {
    padding-left: 0;
}
body .editor-zone:has(.field-options) {
    /*padding-left: 369px;*/
    padding-left:0px;
}
.book-dropzone {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*width: 760px;*/
	height:100%;
    box-sizing: border-box;
    background-size: cover !important;
    overflow: hidden;
}
.book-dropzone img {
    max-width: 100%;
}
body .editor-controls-holder {
    border: 1px solid #ccc;
    background-color: inherit;
    height: 100%;
    padding: 0;
}
body .editor-parent-nav {
    padding: 15px;
    background-color: #f8f8f8;
}
body .editor-controls-holder .tab-pane .nav {
    border-bottom: 1px solid #ddd;
    padding: 0 5px;
}
body .editor-controls .nav .nav-item .nav-link {
    padding: 0 7px;
    border: 1px solid #ddd;
    border-left: 0;
    border-bottom: 1px solid transparent;
    margin: 0 0 -1px;
    border-radius: 0;
}
body .editor-controls .nav .nav-item:first-child .nav-link {
    border-left: 1px solid #ddd;
    border-radius: 5px 0 0 0;
}
body .editor-controls .nav .nav-item:last-child .nav-link {
    border-radius: 0 5px 0 0;
}
body .editor-controls .nav .nav-item .nav-link.active {
    border-bottom-color: #fff;
}
.editor-zone .generate {
    margin-top: 30px;
}
.editor-zone > br {
    display: none;
}
.book-dropzone .stage-shapes{
    height:30px;
    width:140px;
}

.book-dropzone .resizeable{
    resize: both;
    overflow: hidden;
}

.hide {
    display: none;
}


.book-dropzone .drop-item {
    position: absolute;
    width: fit-content;
}

.drop-item span.field-handle {
    position: absolute;
    right: 5px;
    top: -15px;
    cursor: move;
}

.book-dropzone .text-highlighter {
    background: yellow;
    opacity: 0.7;
    width: inherit;
    height: inherit;
}

.drop-item a.remove {
    color: #ff0000;
}
.editor-zone .field-options {
    position: absolute;
    left: 0;
    right: auto;
    min-width: 340px;
    max-width: 340px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 30px 30px;
    border-radius: 5px;
}
.editor-objects-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editor-objects-list li .dropdown-toggle {
    padding: 0;
    border: 0;
    background-color: inherit;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
.editor-objects-list li .dropdown-toggle:hover,
.editor-objects-list li .dropdown-toggle:focus,
.editor-objects-list li .show>.btn-secondary.dropdown-toggle {
    background-color: inherit;
}
.editor-objects-list li .dropdown-toggle:after {
    display: none;
}
.editor-objects-list img {
    height: 18px;
    width: 18px;
}
.editor-objects-list li .dropdown-menu {
    width: auto;
    left: auto !important;
    right: -100%;
}
