/* Admin Classes Style Start */
.admin_teacher_role .nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.admin_teacher_role .teacher-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin_teacher_role .admin-rurera-tabs {
    width: auto;
    max-width: none;
    margin-bottom: 0;
    flex: 0 0 auto;
}
.admin_teacher_role .classes-card {
    background-color: #009788;
}
.admin_teacher_role .teacher-controls button {
    background-color: #f3f1f4;
    border: 0;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 5px 0 0;
    display: inline-flex;
    align-items: center;
}
/* Admin Classes Style End */