/* Admin Classes Style Start */
.admin_teacher_role .nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.admin_teacher_role .teacher-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin_teacher_role .admin-rurera-tabs {
    width: auto;
    max-width: none;
    margin-bottom: 0;
    flex: 0 0 auto;
}
.admin_teacher_role .classes-card {
    background-color: #009788;
    border-radius: 8px;
    overflow: hidden;
}
.admin_teacher_role .teacher-controls button {
    background-color: #f3f1f4;
    border: 0;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 5px 0 0;
    display: inline-flex;
    align-items: center;
}
.admin_teacher_role .card-options button:after {
    display: none;
}
.admin_teacher_role .card-options {
    position: absolute;
    right: 5px;
    top: 15px;
}
 .admin_teacher_role .classes-card .card-title,
 .admin_teacher_role .classes-card .card-body p
  {
    margin-bottom: 0;
 }
 .admin_teacher_role .classes-card .progress {
    margin-top: 10px;
    border-radius: 30px;
 }
 .admin_teacher_role .classes-card .progress-bar.progress-bar-custom {
    background-color: #6bd700;
}
.admin_teacher_role .classes-card .bottom-controls {
    background-color: #fff;
    padding: 15px 15px;
    margin: 0 -25px -20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0;
}
.admin_teacher_role .bottom-controls .btn {
    box-shadow: none;
    padding: 0;
    background: none;
    border: 0;
}
.admin_teacher_role .bottom-controls .btn i {
    font-size: 16px;
}
.admin_teacher_role .right-area {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}
.admin_teacher_role .bottom-controls .user-btn {
    background-color: #009788;
    padding: 10px 10px;
    color: #fff;
}
.admin_teacher_role .bottom-controls .user-btn i {
    font-size: 14px;
}
/* Admin Classes Style End */