/* Admin Left Menue Style Start */
.admin_teacher_role .main-sidebar {
    background-color: #fff;
    border-right: 1px solid #f2f2f2;
}
.admin_teacher_role .main-sidebar .sidebar-brand {
    padding: 0 15px;
}
.admin_teacher_role .main-sidebar .sidebar-menu {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
    margin-top: 10px;
}
.main-sidebar .sidebar-menu li.menu-header {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
/* Admin Left Menue Style End */

/* Admin Classes Style Start */
.admin_teacher_role .nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #f6f6f6;
}
.admin_teacher_role .teacher-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.admin_teacher_role .admin-rurera-tabs {
    width: auto;
    max-width: none;
    margin-bottom: -8px;
    flex: 0 0 auto;
    border: 0;
}
.admin_teacher_role .classes-card {
    background-color: #009788;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -ms-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}
.admin_teacher_role .classes-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.admin_teacher_role .teacher-controls button {
    background-color: inherit;
    border: 0;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 0 0 5px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #ddd;
    outline: none;
}
.admin_teacher_role .teacher-controls button:focus {
    outline: none;
}
.admin_teacher_role .teacher-controls .create-class-btn {
    background-color: #6bd700;
    color: #fff;
    border-color: transparent;
}
.admin_teacher_role .teacher-controls .create-class-btn i {
    margin-right: 8px;
    font-size: 15px;
}
.admin_teacher_role .teacher-controls button img {
    height: 20px;
    width: 20px;
}
.admin_teacher_role .teacher-controls button .icon-box {margin-right: 8px;}
.admin_teacher_role .card-options button:after {
    display: none;
}
.admin_teacher_role .card-options {
    position: absolute;
    right: 10px;
    top: 15px;
}
.admin_teacher_role .card-options .dropdown-toggle {
    border-radius: 100%;
    height: 28px;
    width: 28px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    outline: none;
}
.admin_teacher_role .card-options .dropdown-toggle:hover,
.admin_teacher_role .card-options .dropdown-toggle:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}
 .admin_teacher_role .classes-card .card-title,
 .admin_teacher_role .classes-card .card-body p
  {
    margin-bottom: 0;
 }
 .admin_teacher_role .classes-card .progress {
    margin-top: 10px;
    border-radius: 30px;
 }
 .admin_teacher_role .classes-card .progress-bar.progress-bar-custom {
    background-color: #6bd700;
}
.admin_teacher_role .classes-card .progress-holder {
    margin-top: 30px;
}
.admin_teacher_role .classes-card .bottom-controls {
    background-color: #fff;
    padding: 15px 15px;
    margin: 0 -25px -20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0;
}
.admin_teacher_role .bottom-controls .btn {
    box-shadow: none;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.admin_teacher_role .bottom-controls .btn:hover {
    background: #f2f2f2 !important;
}
.admin_teacher_role .bottom-controls .btn.user-btn:hover {
    background-color: inherit !important;
}
.admin_teacher_role .bottom-controls .btn i {
    font-size: 16px;
}
.admin_teacher_role .right-area {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
/* Admin Classes Style End */

/* Admin Create-Class-Modal Style Start */
.admin_teacher_role .create-class-modal .form-control {
    background-color: inherit;
}
.admin_teacher_role .create-class-modal .form-group {
    margin-bottom: 15px;
    padding-left: 0;
}
.admin_teacher_role .create-class-modal .modal-title {
    color: #333;
}
.admin_teacher_role .input-group-append .dropdown-toggle {
    background: none;
    box-shadow: none;
    border-color: #e4e6fc !important;
}
.admin_teacher_role .input-group-append .dropdown-toggle:hover,
.admin_teacher_role .input-group-append .dropdown-toggle:focus {
    background-color: inherit !important;
    border-color: #e4e6fc !important;
}
.admin_teacher_role .create-class-modal .input-group-append .color-indicator {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.admin_teacher_role .class-color-box {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.admin_teacher_role .create-class-modal .dropdown-menu h5 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}
.admin_teacher_role .create-class-modal .dropdown-menu .dropdown-item {
    margin: 0;
    height: 20px;
    width: 20px;
    max-width: none;
    border-radius: 100%;
    display: inline-block;
    min-width: auto;
    padding: 0;
}
.admin_teacher_role .create-class-modal .input-group-append {
    position: relative;
}
.admin_teacher_role .create-class-modal .dropdown-menu {
    min-width: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px 10px;
    right: 0;
    left: auto !important;
    box-shadow: none;
}
.admin_teacher_role .custom-checkbox-label {
    color: #333;
    position: relative;
    padding-left: 30px;
}
.admin_teacher_role .form-check input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.admin_teacher_role .custom-checkbox-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: #f3f3f3;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.admin_teacher_role input[type=checkbox]:checked ~ .custom-checkbox-label:before {
    background-color: #00a269;
    content: "\2713";
}
.admin_teacher_role .modal-footer .btn-primary {
    background-color: #6bd700;
    border-color: #6bd700;
}
/* Admin Create-Class-Modal Style End */

/* Admin Create-Google-Class-Modal Style Start */
.admin_teacher_role .create-google-class-modal .modal-header {
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
}
.admin_teacher_role .create-google-class-modal .modal-content {
    padding: 15px 15px;
}
.admin_teacher_role .create-google-class-modal .modal-title {
    color: #333;
}
.admin_teacher_role .create-google-class-modal .modal-body {
    padding: 25px 0 0 0;
}
.admin_teacher_role .create-google-class-modal .user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 10px;
}
.admin_teacher_role .create-google-class-modal .user-info h5 {
    line-height: normal;
    font-size: 16px;
    color: #555;
    margin: 0;
}
.admin_teacher_role .create-google-class-modal .user-info a {
    display: block;
    line-height: normal;
    padding-top: 2px;
    color: #787d84;
}
.admin_teacher_role .create-google-class-modal .user-info .img-box {display: inline-block;height: 35px;width: 35px;}
.admin_teacher_role .create-google-class-modal .user-info .img-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.admin_teacher_role .create-google-class-modal .user-info .user-btn {
    background-color: #f0eef2;
    margin-left: auto;
    border: 0;
    padding: 5px 15px;
    border-radius: 3px;
    outline: none;
}
.admin_teacher_role .create-google-class-modal .form-group {
    position: relative;
    margin-bottom: 15px;
    padding: 0;
}
.admin_teacher_role .create-google-class-modal i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
}
.admin_teacher_role .create-google-class-modal input[type="text"] {
    border-radius: 30px;
}
.admin_teacher_role .create-google-class-modal i ~ input[type="text"] {
    padding-left: 40px;
}
.user-list-options .form-check {
    padding: 0;
}
.user-list-options .custom-checkbox-label:before {
    border: 1px solid #ddd;
    background-color: inherit;
}
.user-list-options li .custom-checkbox-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-list-options li:first-child {
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.user-list-options ul {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 0 0 15px;
}
.user-list-options li {
    margin-bottom: 15px;
}
.user-list-options li:last-child {
    margin-bottom: 0;
}
/* Admin Create-Google-Class-Modal Style End */