/* Admin Classes Style Start */
.admin_teacher_role .nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #f6f6f6;
}
.admin_teacher_role .teacher-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.admin_teacher_role .admin-rurera-tabs {
    width: auto;
    max-width: none;
    margin-bottom: -8px;
    flex: 0 0 auto;
    border: 0;
}
.admin_teacher_role .classes-card {
    background-color: #009788;
    border-radius: 8px;
    overflow: hidden;
}
.admin_teacher_role .teacher-controls button {
    background-color: inherit;
    border: 0;
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 5px 0 0;
    display: inline-flex;
    align-items: center;
    border: 1px solid #ddd;
    outline: none;
}
.admin_teacher_role .teacher-controls .create-class-btn {
    background-color: var(--blue);
    color: #fff;
    border-color: transparent;
}
.admin_teacher_role .teacher-controls button img {
    height: 20px;
    width: 20px;
}
.admin_teacher_role .teacher-controls button .icon-box {margin-right: 8px;}
.admin_teacher_role .card-options button:after {
    display: none;
}
.admin_teacher_role .card-options {
    position: absolute;
    right: 10px;
    top: 15px;
}
.admin_teacher_role .card-options .dropdown-toggle {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}
.admin_teacher_role .card-options .dropdown-toggle:hover,
.admin_teacher_role .card-options .dropdown-toggle:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
 .admin_teacher_role .classes-card .card-title,
 .admin_teacher_role .classes-card .card-body p
  {
    margin-bottom: 0;
 }
 .admin_teacher_role .classes-card .progress {
    margin-top: 10px;
    border-radius: 30px;
 }
 .admin_teacher_role .classes-card .progress-bar.progress-bar-custom {
    background-color: #6bd700;
}
.admin_teacher_role .classes-card .progress-holder {
    margin-top: 30px;
}
.admin_teacher_role .classes-card .bottom-controls {
    background-color: #fff;
    padding: 15px 15px;
    margin: 0 -25px -20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0;
}
.admin_teacher_role .bottom-controls .btn {
    box-shadow: none;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.admin_teacher_role .bottom-controls .btn:hover {
    background: #f2f2f2 !important;
}
.admin_teacher_role .bottom-controls .btn.user-btn:hover {
    background-color: inherit;
}
.admin_teacher_role .bottom-controls .btn i {
    font-size: 16px;
}
.admin_teacher_role .right-area {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
/* Admin Classes Style End */